@mixin svg-map($color) {
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 14.4 20.7"><g fill="%233982f7" id="Layer_2" data-name="Layer 2"><g id="Layer_6" data-name="Layer 6"><path id="_7" data-name="7"  d="M7.2,0A7.21,7.21,0,0,0,0,7.2c0,1.89,1.17,4.72,3.49,8.42,1.71,2.72,3.45,4.94,3.46,5a.32.32,0,0,0,.25.12h0a.3.3,0,0,0,.25-.12s1.75-2.26,3.46-5c2.32-3.71,3.49-6.53,3.49-8.38A7.21,7.21,0,0,0,7.2,0Zm0,10.67A3.47,3.47,0,1,1,10.67,7.2,3.47,3.47,0,0,1,7.2,10.67Z"/></g></g></svg>');
  background-size: 14px auto;
}


@mixin svg-contact($color) {
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 13.39 19.79"><g fill="%233982f7" id="Layer_2" data-name="Layer 2"><g id="Layer_6" data-name="Layer 6"><path id="_8" data-name="8"  d="M13.26,17.51l-1.47-2.92a1.37,1.37,0,0,0-1.22-.73,1.58,1.58,0,0,0-.38.05l-1.75.43c-.26-.2-1.06-1-2.5-3.86s-1.59-4-1.59-4.26l1.48-1A1.2,1.2,0,0,0,6.3,3.68L4.83.75A1.41,1.41,0,0,0,3.56,0,1.45,1.45,0,0,0,2.8.21L1.92.74a3.63,3.63,0,0,0-1.64,2A7,7,0,0,0,.05,5.61a20,20,0,0,0,2.12,6.5,22.82,22.82,0,0,0,3.48,5.17c1.56,1.66,3.1,2.51,4.57,2.51a3.76,3.76,0,0,0,1.19-.2l1-.28a1.41,1.41,0,0,0,.86-.72A1.21,1.21,0,0,0,13.26,17.51Z"/></g></g></svg>');
  background-size: 14px auto;
}



@mixin svg-arrow($color) {
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 31.39 31.39"><defs><style>.cls-1{fill:%231e242d;}.cls-2{fill:%23fff;}</style></defs><title>circle-arrow</title><g id="Layer_2" data-name="Layer 2"><g id="Layer_6" data-name="Layer 6"><circle class="cls-1" cx="15.69" cy="15.69" r="15.69"/><polygon class="cls-2" points="13.16 21.99 13.64 22.48 20.43 15.69 13.64 8.91 13.16 9.4 19.45 15.69 13.16 21.99"/></g></g></svg>
');
  background-repeat: no-repeat;
}
