@mixin dropshadow() {
  -webkit-box-shadow: 0px 0px 14px 3px rgba(0,0,0,0.25);
  -moz-box-shadow: 0px 0px 14px 3px rgba(0,0,0,0.25);
  box-shadow: 0px 0px 14px 3px rgba(0,0,0,0.25);
}

@mixin dropshadow-thin() {
  -webkit-box-shadow: 4px 4px 6px -5px rgba(0,0,0,0.75);
  -moz-box-shadow: 4px 4px 6px -5px rgba(0,0,0,0.75);
  box-shadow: 4px 4px 6px -5px rgba(0,0,0,0.75);
}

@mixin nodropshadow() {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

@keyframes bounce {
  0%, 100%, 20%, 50%, 80% {
    -webkit-transform: translateY(0);
    -ms-transform:     translateY(0);
    transform:         translateY(0)
  }
  40% {
    -webkit-transform: translateY(-30px);
    -ms-transform:     translateY(-30px);
    transform:         translateY(-30px)
  }
  60% {
    -webkit-transform: translateY(-15px);
    -ms-transform:     translateY(-15px);
    transform:         translateY(-15px)
  }
}

@mixin raleway() {
  font-family: 'Raleway', sans-serif;
}


@mixin gradient() {
  background : -moz-linear-gradient(0% 69376.04% 0deg,rgba(210, 172, 78, 1) 0%,rgba(210, 172, 78, 1) 1.22%,rgba(210, 194, 133, 1) 26.06%,rgba(211, 200, 147, 1) 68.9%,rgba(202, 190, 136, 1) 85.51%,rgba(210, 178, 78, 1) 98.54%,rgba(210, 178, 78, 1) 100%);
  background : -webkit-linear-gradient(0deg, rgba(210, 172, 78, 1) 0%, rgba(210, 172, 78, 1) 1.22%, rgba(210, 194, 133, 1) 26.06%, rgba(211, 200, 147, 1) 68.9%, rgba(202, 190, 136, 1) 85.51%, rgba(210, 178, 78, 1) 98.54%, rgba(210, 178, 78, 1) 100%);
  background : -webkit-gradient(linear,0% 69376.04% ,0.05% 69376.04% ,color-stop(0,rgba(210, 172, 78, 1) ),color-stop(0.0122,rgba(210, 172, 78, 1) ),color-stop(0.2606,rgba(210, 194, 133, 1) ),color-stop(0.689,rgba(211, 200, 147, 1) ),color-stop(0.8551,rgba(202, 190, 136, 1) ),color-stop(0.9854,rgba(210, 178, 78, 1) ),color-stop(1,rgba(210, 178, 78, 1) ));
  background : -o-linear-gradient(0deg, rgba(210, 172, 78, 1) 0%, rgba(210, 172, 78, 1) 1.22%, rgba(210, 194, 133, 1) 26.06%, rgba(211, 200, 147, 1) 68.9%, rgba(202, 190, 136, 1) 85.51%, rgba(210, 178, 78, 1) 98.54%, rgba(210, 178, 78, 1) 100%);
  background : -ms-linear-gradient(0deg, rgba(210, 172, 78, 1) 0%, rgba(210, 172, 78, 1) 1.22%, rgba(210, 194, 133, 1) 26.06%, rgba(211, 200, 147, 1) 68.9%, rgba(202, 190, 136, 1) 85.51%, rgba(210, 178, 78, 1) 98.54%, rgba(210, 178, 78, 1) 100%);
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#D2AC4E', endColorstr='#D2B24E' ,GradientType=0)";
  background : linear-gradient(90deg, rgba(210, 172, 78, 1) 0%, rgba(210, 172, 78, 1) 1.22%, rgba(210, 194, 133, 1) 26.06%, rgba(211, 200, 147, 1) 68.9%, rgba(202, 190, 136, 1) 85.51%, rgba(210, 178, 78, 1) 98.54%, rgba(210, 178, 78, 1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#D2AC4E',endColorstr='#D2B24E' , GradientType=1);
}