
body {
  background: #fff;

  &.blog #main, &.post-template-default #main {
    padding-left: 15px;
    padding-right: 15px;

    @media screen and (min-width: $screen-md-min) {
      margin-top: 100px;
    }

    img {
      border: 1px solid $sherpa-brand-primary;
      height: 214px;
    }
  }

  @media screen and (max-width: $grid-float-breakpoint-max) {

    

    &.blog #main, &.post-template-default #main {
      img {
        height: auto;
      }
    }


    .flex-order {
      display: flex;
      flex-direction: column;

      .container-fluid {
        width: 100%;
      }

      .xs-order-1 {
        order: -1;
      }

      .xs-order-2 {
        order: -1;
      }

      .xs-order-3 {
        order: 0;
      }
    }
  }

  .edit-screen {
    position: absolute;
    width: 480px;
    left: 0;
    top: 46px;
    z-index: 99;
    background-repeat: no-repeat;
    background-size: 480px auto;
    opacity: 0.5;
  }

  .testimonials-widget {
    .btn {
      width: 148px;
    }
  }

  #main {
    .container {

      article {
        .ngg-galleryoverview {
          width: auto !important;
          clear: none !important;
        }

        .columns {
          display: flex;
          flex-direction: row;

          > div {
            width: 50%;
          }
        }



        h1 {
          color: #808C91;
          font-size: 32px;
          @include raleway();
          font-weight: 400;
          
          span {
            margin-top: 0;
          }
          &.no-margin {
            margin-bottom: 0;
          }
        }

        h2, h3 {
          @include raleway();
          color: #808C91;
          font-size: 25px;
        }

        p.blurb {
          color: #606060;
          font-weight: 300;
          font-family: 'Roboto', sans-serif;
        }

        p {
          font-weight: 300;
        }


 
        h3, h2 {

          ul {
            line-height: 1;
            font-family: 'Roboto', sans-serif;
          }
        }

        ul {
          padding-left: 3em;
        }



        @media screen and (min-width: $screen-md-min) {

            h1 {
              margin-top: 0;
              line-height: 1.5;
            }
        }

        @media screen and (max-width: $screen-sm-max) {
            .columns {
              flex-direction: column;
            }
        }

        @media screen and (max-width: $grid-float-breakpoint-max) {

        


          h1 {
            text-align: center;
          }

          ul {
            font-size: 15px;
          }

          h3, h2 {

            &.list {
              text-align: center;
            }

            ul {
              padding-left: 0;
              list-style: none;
              margin-bottom: 0;
            }

             ul li {
              text-align: center;
              margin-bottom: 1em;
              font-size: 14px;
             }
          }
        }

        h1, h2, h3 {


          ul {
              padding-left: 0;
              list-style: none;
              display: none;
            }

            &.expanded ul {
              display: block;
            }
        }

        .page-bottom {
          padding-top: 2em;

          strong.header {
            color: $sherpa-brand-primary;
          }

          @media screen and (max-width: $grid-float-breakpoint-max) {
            padding-top: 0;
          }
        }

        .banner-bottom {
          clear: both;
          position: relative;
          color: #fff;
          display: flex;
          justify-content: flex-end;
          align-items: center;
          overflow: hidden;
          text-align: center;
          margin: 0 auto;
          background-size: cover;

          @media screen and (min-width: $screen-md-min) {

            height: 250px;

          }

          .banner-text {
            z-index: 1;
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
            font-size: 32px;
            @include raleway();
            font-weight: 500;
            width: 100%;

            .btn {
              margin-left: 2em;
            }

            @media screen and (max-width: $screen-sm-max) {
              font-size: 1em;
            }

            @media screen and (max-width: $grid-float-breakpoint-max) {
              position: relative;
              color: #5f6a70;

              .btn {
                margin: 1em auto;
                display: block;
              }
            }

          }

          img {
            z-index: -1;
          }
//           &::after { 
//             @include svg-badge($white);
//             content: '';
//             width: 147px;
//             height: 147px;
//             position: absolute;
//             right: 0;
//             z-index: 99; 
//             margin-right: 57px;
//           }
           

          @media screen and (max-width: $screen-sm-max) {
            justify-content: center;
            align-items: center;
            flex-direction: column;
            height: auto;
            max-height: 100%;
            margin-bottom: 35px;
            background: none;
          }

          @media screen and (max-width: $grid-float-breakpoint-max) {
            flex-direction: column-reverse;
            img {
              margin-bottom: 1em;
            }
          }
        }

        h1 {
          margin-bottom: 1.5em;
        }

        min-height: 10em;
        padding: 0 0 3em;

        .blurb {
          font-size: 22px;
          margin-bottom: 2em;
          font-weight: 300;
          line-height: 1.5;
        }
      }

      strong.header {
        font-size: 23px;
        font-weight: 300;
        margin-bottom: 0;
        display: block;
        font-family: 'Raleway', sans-serif;
        color: $sherpa-dark-color;
      }

      .flex-row strong.header {
        margin-bottom: 0;
      }

      ul, ol {
        margin-bottom: 3em;
        margin-left: 0;
      }

      h2 {
        margin-bottom: 1em;
      }
      
      ul li, ol li {
        margin-bottom: 1em;
        position: relative;
        line-height: 1.5;
        font-weight: 300;
      }

      h2, h3 {
        color: $sherpa-brand-primary;

        font-size: 16px;
        font-weight: 400; 
        margin-bottom: 2em;

        @media screen and (max-width: $grid-float-breakpoint-max) {
          &.expander {
            margin-bottom: 0;
          }
        }
      }

      .page-content h2 {
        margin-top: 0;
        font-weight: 400;
        line-height: 1.5;
      }

      @media screen and (min-width: $screen-sm-min) {

        article {

          .map-container {
            width: 50%;
          }

          p {
            margin-bottom: 3em;
          }

          p,
          ul {
            font-size: 16px;
          }

          .contact-info p {
            font-size: 14px;
            margin: 0.75em 0;
            color: #606060;
          }
        }
      }
    }
  }
}

body #main {

  article p.no-margin {
    margin-bottom: 1.2em;
  }

  article ul {
    padding-left: 0;
    margin-top: 0;
    margin-bottom: 3em;
    margin-left: 1em;

    li ul {
      margin-top: 1em;
    }
  }

  .page-top {
    background: #F2F2F2;
    text-align: center;
    padding: 3em 0;

    @media screen and (min-width: $screen-md-min) {
      padding: 5.5em 0;

      h2 {
        line-height: 1.8;
        margin-top: 0;
        padding-left: 100px;
        padding-right: 100px;
      }

      p {
        line-height: 2;
        font-size: 19px;
      }

      p.blurb {
        line-height: 1.5;
        font-size: 25px;
        margin-bottom: 0;
      }
    }

    h2 {
      color: #7A7A7A;
    }

    p {
      color: #7A7A7A;
    }

    .container {
      p.blurb {
        margin-bottom: 1em;
      }
    }
  }
}

.page-template-page-landing {

  .content {
    padding: 5em 0 0;

    p {
      line-height: 1.75;
      margin-bottom: 2em;
    }

    .col-md-6:first-child {
      border-right: 1px solid #E6E6E6;
    }
  }

  hr {
    margin: 5em 0;
  }

  .jumbotron {

    h2 {
      margin-top: 0;
    }

    @media screen and (max-width: $grid-float-breakpoint-max) {
      .floating-badge {
        display: none;
      }

      .gradient-border {
        h1 {
          color: #fff;
        }
      }
    }

    @media screen and (min-width: $screen-sm-min) {
      height: 500px;

      .floating-badge {
        float: left;
        margin-bottom: 100px;
      }

      .gradient-border {
        &::before {
          height: 134px;
          top: 50%;
          transform: translateY(-50%);
          margin-top: 20px;
        }

        h1 {
          color: #fff;
        }
      }
    }
  }
}

@media screen and (max-width: $grid-float-breakpoint-max) {

  .page-template-default, .blog, .error-404, .post-template-default {
    #header {
      position: relative;
    }

    .sidebar-content {
      margin-top: 0;
    }
  }

  .sidebar-content {
    display: flex;
    flex-direction: column;
    padding-bottom: 0;
  }

  #sidebar {
    order: 2;
  }

  .map-container {
    width: 100%;
  }

  body #main .container article {
    padding-bottom: 0;
  }
}

@media screen and (max-width: $screen-sm-max) {
  body #main .container .flex-wrap article {
    margin-bottom: 2em;
  }
}

@media screen and (min-width: $screen-sm-min) {
  body #main .container .flex-wrap article {
    padding-left: 2em;

    &:first-child {
      padding-left: 0;
    }
  }
}

.floating-social ul.social-media {
  position: fixed;
  left: 0;
  top: 200px;
  background: $brand-success;
  padding: 30px 20px;

  li {
    display: block;
    margin-top: 20px;
    &:first-child {
      margin-top: 0;
    }
  }

  .fa-fw {
    font-size: 22px;
    width: 20px;
  }

  @media screen and (max-width: $grid-float-breakpoint-max) {
    display: none;
  }
}

.pop-in {
  transform: scale(0);
  transition: all 0.5s ease;
}

.rotateY {
  transform: rotate(90deg) scaleX(-1);
}

.active {

  .pop-in {
    transform: scale(1);
  }

  .rotateY {
    transform: rotate(90deg) scaleX(1);
  }
}

.no-js {
  .pop-in {
    transform: scale(1);
  }

  .rotateY {
    transform: rotate(90deg) scaleX(1);
  }

  .fade-down {
    opacity: 1;
    transform: translateY(0);
  }
}

@media screen and (min-width: $screen-md-min) {
  .two-column {
    column-count: 2;
  }

  .page-template-default, .blog, .error-404, .post-template-default {

    .internal-banner .navbar-brand {
      margin-left: -14px;
    }
  }
}