@mixin dropshadow() {
  -webkit-box-shadow: 0px 0px 14px 3px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0px 0px 14px 3px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 0px 14px 3px rgba(0, 0, 0, 0.1);
}

@mixin dropshadow-thin() {
  -webkit-box-shadow: 4px 4px 6px -5px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 4px 4px 6px -5px rgba(0, 0, 0, 0.5);
  box-shadow: 4px 4px 6px -5px rgba(0, 0, 0, 0.5);
}

@mixin nodropshadow() {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

@keyframes bounce {
  0%,
  100%,
  20%,
  50%,
  80% {
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -webkit-transform: translateY(-30px);
    -ms-transform: translateY(-30px);
    transform: translateY(-30px);
  }
  60% {
    -webkit-transform: translateY(-15px);
    -ms-transform: translateY(-15px);
    transform: translateY(-15px);
  }
}

@mixin raleway() {
  font-family: "Raleway", sans-serif;
}

@mixin montserrat() {
  font-family: "Montserrat", sans-serif;
}

@mixin serif() {
  font-family: "big-caslon-fb", serif;
}

@mixin acumin() {
  font-family: "acumin-pro-extra-condensed", sans-serif;
}

@mixin acumin-condensed() {
  font-family: "acumin-pro-condensed", sans-serif;
}

@mixin gradient() {
  background: -moz-linear-gradient(
    0% 50% 0deg,
    rgba(245, 137, 65, 1) 0%,
    rgba(206, 45, 70, 1) 99.88%
  );
  background: -webkit-linear-gradient(
    0deg,
    rgba(245, 137, 65, 1) 0%,
    rgba(206, 45, 70, 1) 99.88%
  );
  background: -webkit-gradient(
    linear,
    0% 50%,
    100% 50%,
    color-stop(0, rgba(245, 137, 65, 1)),
    color-stop(0.9988, rgba(206, 45, 70, 1))
  );
  background: -o-linear-gradient(
    0deg,
    rgba(245, 137, 65, 1) 0%,
    rgba(206, 45, 70, 1) 99.88%
  );
  background: -ms-linear-gradient(
    0deg,
    rgba(245, 137, 65, 1) 0%,
    rgba(206, 45, 70, 1) 99.88%
  );
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#F58941', endColorstr='#CE2D46' ,GradientType=0)";
  background: linear-gradient(
    90deg,
    rgba(245, 137, 65, 1) 0%,
    rgba(206, 45, 70, 1) 99.88%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#F58941',endColorstr='#CE2D46' , GradientType=1);
}

// @mixin bg-gradient($transparency: 0.75) {
//   background: linear-gradient(
//     90deg,
//     rgba(245, 137, 65, $transparency) 0%,
//     rgba(206, 45, 70, $transparency) 99.88%
//   );
// }

$list1: rgba(245, 137, 65, 1), rgba(206, 45, 70, 1);

$list2:  rgba(219,75,68,1), rgba(206,45,70,1);

@mixin bg-gradient($direction, $list, $transparency: 1) {
  background: -webkit-linear-gradient($direction, $list);
  background: -moz-linear-gradient($direction, $list);
  background: -o-linear-gradient($direction, $list);
  background: linear-gradient($direction, $list);
}

@mixin gradient-btn($transparency: 0.75) {
  &::before {
    @include bg-gradient(left, $list1, $transparency);
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 101%;
    height: 100%;
    transition: all 300ms ease-in-out;
    z-index: -1;
  }

  &:hover {
    background: darken($sherpa-secondary-color, 10%);
    color: $white;

    &::before {
      opacity: 0;
    }
  }
}

@mixin gradient-faded() {
  background: linear-gradient(
    90deg,
    rgba(0, 180, 235, 1) 0%,
    rgba(0, 55, 255, 0.6) 100%
  );
}

@function _trim($string) {
  @return str-slice(#{$string}, 2, -1);
}


@mixin sm-lighten($color) {
  background-color: $color;
  &:hover,
  &:active,
  &:focus {
    background-color: lighten($color, 10%);
  }
}

@mixin sm-darken($color) {
  background-color: $color;
  &:hover,
  &:active,
  &:focus {
    background-color: darken($color, 10%);
  }
}

@mixin sm-single-color($scolor, $color) {
  background-color: $scolor;
  &:hover,
  &:active,
  &:focus {
    background-color: $color;
  }
}

@mixin expander($background) {
  cursor: pointer;
  span {
    position: relative;
    padding-right: calc(20px + 0.5em);
    &::after {
      @include svg-arrow(_trim(#cccccc));
      content: "";
      display: block;
      height: 20px;
      width: 20px;
      position: absolute;
      right: 0;
      top: 50%;
      transform: translateY(-50%);
      transition: transform ease-in-out 300ms;
      background-repeat: no-repeat;
    }
  }

  &:hover span::after {
    @include svg-arrow(_trim(#cccccc));
  }

  &.expanded {
    span::after {
      transform: translateY(-50%) rotate(90deg);
    }
  }

  span {
    display: inline-block;
  }
}

h1,
h2,
h3 {
  &.expander {
    @include expander(#ff0000);
  }
}

@mixin drop-tag() {
  position: relative;

  &::before {
    content: "";
    width: 129px;
    height: 60px;
    display: block;
    background: $sherpa-secondary-color;
    position: absolute;
    top: 0;
    @include dropshadow();
  }

  @include media-breakpoint-down(md) {
    &::before {
      height: 39px;
      width: 67px;
    }
  }
}

@mixin numberTag() {
  @include acumin-condensed();
  letter-spacing: -1px;
  font-size: 151px;
  color: #e5e5e5;
  font-weight: 600;
  position: absolute;
  top: -150px;
  left: -144px;
  letter-spacing: -2px;


  @include media-breakpoint-down(lg) {
    position: relative;
      display: block;
      left: 0;
      top: 0;
      line-height: 1;
      font-size: 80px;
  }
}
