// Sherpa Variables

// Theme Colors
$black: #000000;
$gray-md: #999999;
$white: #ffffff;
$yellow: #f4d45b;

// Social Media Colors
$color-facebook: #3b5998;
$color-twitter: #4099ff;
$color-rss: #ff6600;
$color-googleplus: #dd4b39;
$color-pinterest: #bc061c;
$color-linkedin: #0077b5;
$color-youtube: #ff0000; 
$color-phone: $color-rss;

// Defaults
$sherpa-brand-primary: #0071BB;
$sherpa-svg-color: FFFFFF;
$sherpa-svg-color-hover: F58941;
$sherpa-dark-color: #050505;
$sherpa-primary-color: $black;
$sherpa-secondary-color: #F58941;
$sherpa-tertiary-color: #39B44A;

$sherpa-alt-font-family: sans-serif;

// Elements
/// Sherpa Navbar
$sherpa-nav-bg: $sherpa-secondary-color;

$sherpa-navbar-default-bg: transparent;
$sherpa-navbar-default-border: transparent;
$sherpa-navbar-font-family: $sherpa-alt-font-family;

$sherpa-navbar-default-brand-color: $white;
$sherpa-navbar-default-brand-hover-color: $white;
$sherpa-navbar-default-brand-hover-bg: transparent;

$sherpa-navbar-default-color: $white;

$sherpa-navbar-default-link-color: $sherpa-navbar-default-color;

$sherpa-navbar-default-link-hover-color: $sherpa-navbar-default-color;
$sherpa-navbar-default-link-hover-bg: transparent;

$sherpa-navbar-default-link-active-color: $sherpa-navbar-default-color;
$sherpa-navbar-default-link-active-bg: transparent;

$sherpa-navbar-default-link-disabled-color: lighten(
  $sherpa-navbar-default-link-hover-color,
  10%
);
$sherpa-navbar-default-link-disabled-bg: transparent;

$sherpa-navbar-right-link-color: $white;

$sherpa-navbar-default-toggle-border-color: $white;
$sherpa-navbar-default-toggle-hover-bg: transparent;
$sherpa-navbar-default-toggle-icon-bar-bg: $white;

// Testimonials
/// Testimonial A
$testimonial-a: #f9f9f9;
$testimonial-a-accent: lighten($testimonial-a, 10%);
$testimonial-a-color: $black;
$testimonial-a-border-color: $testimonial-a-accent;

/// Testimonial B
$testimonial-b: lighten($black, 75%);
$testimonial-b-accent: lighten($testimonial-b, 10%);
$testimonial-b-color: $black;
$testimonial-b-border-color: $testimonial-b-accent;

// Social Media Buttons
$sm-color: $white;
$sm-hover-color: $sm-color;
$singlecolor: $sherpa-primary-color;
$link-hover-decoration: none;

//Google Colors
$google-blue: #5780c0;
$google-red: #e7453c;
$google-yellow: #f7b92a;
$google-green: #2da04b;

$dropdown-bg: #000;
$dropdown-divider-bg: $white !default;
//$dropdown-box-shadow:               0 .5rem 1rem rgba($black, .175) !default;

$dropdown-link-color: $white !default;
$dropdown-link-hover-color: $white !default;
$dropdown-link-hover-bg: $sherpa-brand-primary !default;

$dropdown-link-active-color: $white !default;
$dropdown-link-active-bg: $sherpa-brand-primary !default;

$transitionTime: 1s;
$letterSpacing: 2px;