// Sherpa navbar
.navbar-sherpa .navbar-toggle {
  margin-right: 0;
}

.navbar-sherpa {
  background-color: $sherpa-navbar-default-bg;
  border-color: $sherpa-navbar-default-border;
  margin-bottom: 0;

  .navbar-brand {
    color: $sherpa-navbar-default-brand-color;
    &:hover,
    &:focus {
      color: $sherpa-navbar-default-brand-hover-color;
      background-color: transparent;
    }
  }

  .navbar-text {
    color: $sherpa-navbar-default-color;
  }

  .navbar-nav {
    > li > a {
      color: $sherpa-navbar-default-link-color;

      &:hover,
      &:focus {
        color: $sherpa-navbar-default-link-hover-color;
        background-color: transparent;
      }
    }
    > .active > a {
      &,
      &:hover,
      &:focus {
        //         color: $sherpa-navbar-default-link-active-color;
        background-color: transparent;
      }
    }
    > .disabled > a {
      &,
      &:hover,
      &:focus {
        color: $sherpa-navbar-default-link-disabled-color;
        background-color: transparent;
      }
    }
  }

  .navbar-toggle {
    border-color: $sherpa-navbar-default-toggle-border-color;
    &:hover,
    &:focus {
      background-color: $sherpa-navbar-default-toggle-hover-bg;
    }
    .icon-bar {
      background-color: #000;
    }
  }

  .navbar-collapse,
  .navbar-form {
    border: 0;
    border-color: $sherpa-navbar-default-border;
  }

  // Dropdown menu items
  .navbar-nav {
    // Remove background color from open dropdown

    @include media-breakpoint-down(xs) {
      // Dropdowns get custom display when collapsed
      .open .dropdown-menu {
        > li > a {
          color: $white;
          padding: 1em 0;

          &:hover,
          &:focus {
            color: $white;
            background-color: $sherpa-navbar-default-link-hover-bg;
          }
        }
        > .active > a {
          &,
          &:hover,
          &:focus {
            color: $white;
            background-color: $sherpa-navbar-default-link-active-bg;
          }
        }
        > .disabled > a {
          &,
          &:hover,
          &:focus {
            color: $white;
            background-color: $sherpa-navbar-default-link-disabled-bg;
          }
        }
      }
    }
  }

  // Links in navbars
  //
  // Add a class to ensure links outside the navbar nav are colored correctly.

  .navbar-link {
    color: $sherpa-navbar-default-link-color;
    &:hover {
      color: $sherpa-navbar-default-link-hover-color;
    }
  }

  .btn-link {
    color: $sherpa-navbar-default-link-color;
    &:hover,
    &:focus {
      color: $sherpa-navbar-default-link-hover-color;
    }
    &[disabled],
    fieldset[disabled] & {
      &:hover,
      &:focus {
        color: $sherpa-navbar-default-link-disabled-color;
      }
    }
  }
}

.text-center {
  width: 100%;
}

.navbar-brand {
  margin: 44px auto;
  display: block;
}

.v-align {
  @include media-breakpoint-down(md) {
    height: 50px;
  }
}

.v-align > div {
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-grow: 1;
  flex-basis: 0;
  position: relative;

  @include media-breakpoint-down(md) {
    height: 50px;
  }

  .navbar-brand {
    margin-right: auto;
  }

  .navbar-left {
    flex: 1;
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }

  @include media-breakpoint-down(md) {
    img {
      height: 12px;
      margin-left: auto;
    }
  }
}

.navbar-dark .navbar-nav .nav-link {
  color: #fff !important;

  &:hover {
    color: $white !important;
  }
}

.top-header {
  position: relative;
  z-index: 99;
  background: #000;
  text-align: center;
  display: flex;
  justify-content: center;
  padding: .5em 0;

  @include media-breakpoint-up(md) {

    .container {
      max-width: 1770px;
    }


    &.internal .v-align > div {
      justify-content: flex-start;

      .navbar {
        padding-left: 0;
      }
    }
  }
}

#menu-secondary {
  .nav-link {
    text-transform: uppercase;

    &.disabled {
      color: #606060;
      pointer-events: none;
    }
  }
}

.navbar-nav.navbar-right {
  flex-direction: row;
  left: 20px;
  top: 50%;
  margin-right: 20px;

  li.menu-item {
    position: relative;

    a {
      float: left;

      span {
        overflow: hidden;
        text-indent: -99999px;
        display: none;
      }
    }

    &.directions a {
      @include svg-map(_trim($sherpa-brand-primary));

      &:hover {
        @include svg-map(_trim($white));
      }
    }

    &.contact a {
      @include svg-contact(_trim($sherpa-brand-primary));
      margin-right: 0;

      @include media-breakpoint-down(md) {
        font-family: moderno-fb, serif;
        font-style: italic;
        font-weight: 700;
      }

      &:hover {
        @include svg-contact(_trim($white));
      }
    }

    &.directions:after {
      color: #fff;
    }
  }
}

.navbar-right li.menu-item.directions {
  a {
    margin: 0 15px 0 0;
  }

  &::after {
    content: "";
    background: $white;
    height: 15px;
    width: 1px;
    display: block;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
  }
}

.navbar-right li.menu-item.contact {
  a {
    margin: 0 0 0 15px;
  }
}

@include media-breakpoint-down(md) {
  .navbar-right {
    position: relative;
    top: 50%;
  }

  .navbar-brand {
    margin: 0 auto;
  }

  .navbar-sherpa #menu-primary {
    background: #000;
  }

  .navbar-nav .dropdown-menu {
    text-align: center;
    font-size: 13px;
    margin-top: 0;
  }

  .navbar-sherpa #menu-primary .nav-link {
    justify-content: center;
  }

  .navbar-sherpa .navbar-collapse,
  .navbar-sherpa .navbar-collapse.collapsing,
  .navbar-sherpa .navbar-collapse.collapse.in {
    //       height: 100% !important;
  }

  .v-align .header-button {
    margin-right: 60px;
  }

  #menu-primary {
    top: 40px;
    position: absolute;
    width: 100%;
    left: 0 !important;
  }

  .navbar-brand {
    width: 201px;
    max-width: 100%;
    padding: 10px 0;
  }

  .top-header {
    display: flex;
    justify-content: space-between;
    padding: 0 15px;
    height: 50px;

    a .btn {
      padding: 1em 4em;
      font-size: 6px;
    }

    > .row {
      width: 100%;
    }

    .navbar-sherpa {
      order: 2;
      position: absolute;
      right: 0;
      width: 100%;
      padding: 0 0;
      top: 50px;
    }

    .navbar-toggler:not(:disabled):not(.disabled) {
      position: absolute;
      right: 20px;
      top: 0;
    }
  }

  .navbar-toggler {
    padding: 0 0;
    border: 0;
  }

  .navbar-dark .navbar-toggler-icon {
    background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20.65 9.52"><g id="a4984a0b-204b-4adf-8637-28bd0ccbcf77" data-name="Layer 2"><g id="eeb8ac9b-06cc-4dae-b15c-8047e3263e95" data-name="Layer 3"><rect y="4.01" width="20.65" height="1.5" fill="%23fff"/><rect width="20.65" height="1.5" fill="%23fff"/><rect y="8.01" width="20.65" height="1.5" fill="%23fff"/></g></g></svg>');
    background-repeat: no-repeat;
    background-position: center center;
  }

  .menu-secondary-container {
    .navbar-nav {
      li {
        width: 33.33%;
        flex: auto;
        font-size: 7px;
        border-bottom-width: 2px;

        a {
          padding: 3em 0;
        }

        &:nth-child(2n) {
          background: #f2f2f2;
        }

        a:hover::after {
          display: none;
        }
      }
    }
  }
}

.navbar-sherpa #menu-primary {
  font-family: "Poppins", sans-serif;
  font-size: 16px;

  .dropdown-toggle::after {
    content: "";
    @include svg-chevron($white);
    border: 0;
    width: 10px;
    height: 10px;
    display: inline-block;
  }

  .nav-link {
    display: flex;
    align-items: center;
  }
}

.navbar-sherpa #menu-primary .nav-link {
  font-weight: 400;
  
}

.navbar-expand-lg .navbar-nav .nav-link {
  padding-right: 1rem;
  padding-left: 1rem;
}

.dropdown-menu {
  font-size: 13px;
  background: rgba(0, 0, 0, 0.79);
}

.dropdown-item {
  font-weight: 600;
}

@include media-breakpoint-up(md) {
  .dropdown:hover > .dropdown-menu {
    display: block;
  }
}
