#footer {
  color: #ffffff;
  background: #041c3f;
  padding: 4em 0 0em;
  text-align: center;

  .navbar-brand {
    float: none;
    text-align: center;

    img {
      max-height: 148px;
      margin: 0 auto;
    }
  }

  @media screen and (max-width: $screen-lg-min) {
    a {
      display: block;
      text-align: center;

      button {
        margin: 0 auto;
      }
    }
  }

  .menu-primary-container {
    margin: 0 auto;
  }

  p {
    font-size: 15px;
    line-height: 1.5;
  }

  ul {
    padding-left: 0;
  }

  ul li {
    list-style: none;
    font-family: 'Montserrat', sans-serif;
    font-size: 13px;
  }

  a {
    color: #fff;
  }

  .full-height {
    margin-bottom: 4em;
  }

  .menu {
    padding-left: 0;
    list-style: none;

    > li a {
      color: #ffffff;
    }
  }

  .navbar-brand {
    float: none;
    text-align: center;

    img {
      max-height: 148px;
      margin: 0 auto;
    }
  }

  .navbar-sherpa .navbar-nav > li > a {
    color: #fff;
  }

  #menu-menu-footer {
    margin: 0 auto;
  }

  .menu-footer-container,
  .menu-menu-footer-container {
    text-align: center;
    display: flex;
    flex: 1;

    #menu-footer,
    #menu-footer-spanish {
      margin: 0 auto;
      display: inline-block;
      float: none;
    }
  }

  .container {
    display: flex;
    flex-direction: column;

    .row:first-child {
      flex: 1;
    }
  }

  span.title {
    margin: 1em;
    display: block;
    font-family: "Raleway", sans-serif;
    color: #fff;
    font-size: 15px;
  }

  .textwidget img {
    display: inline;
    margin: 0 0.5em 0 0;
  }

  .social-media-button {
    color: #d2ac4e;
  }

  @media screen and (min-width: $screen-md-min) {
    text-align: left;



    span.title {
      margin: 0 0 1em;
      display: block;
    }

    .btn-success {
      width: 306px;
    }
  }

  .footer-bottom {
    color: #fff;
    padding: 1.5em 0;
    margin-top: 4em;

    .footer-bottom-border {
      &:before {
        content: '';
        background: rgba(182,130,78,1);
        background: -moz-linear-gradient(left, rgba(182,130,78,1) 0%, rgba(229,204,164,1) 100%);
        background: -webkit-gradient(left top, right top, color-stop(0%, rgba(182,130,78,1)), color-stop(100%, rgba(229,204,164,1)));
        background: -webkit-linear-gradient(left, rgba(182,130,78,1) 0%, rgba(229,204,164,1) 100%);
        background: -o-linear-gradient(left, rgba(182,130,78,1) 0%, rgba(229,204,164,1) 100%);
        background: -ms-linear-gradient(left, rgba(182,130,78,1) 0%, rgba(229,204,164,1) 100%);
        background: linear-gradient(to right, rgba(182,130,78,1) 0%, rgba(229,204,164,1) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b6824e', endColorstr='#e5cca4', GradientType=1 );
        height: 1px;
        width: 100%;
        display: block;
      }
    }

    ul li {
      text-transform: uppercase;
    }

    .btn {
      padding: 1em 3.2em;
    }

    .separate {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    .navbar.navbar-sherpa {
      display: flex;
      align-items: center;
    }
  }
}

#visit-section {
  text-align: center;
  background: #e6e6e6;
  padding: 3em 0;
  margin-bottom: 0 !important;

  &.jumbotron {
    h3 {
      font-size: 30px;
    }

    p.blurb {
      font-size: 24px;
    }

    p {
      font-size: 20px;
    }
  }
}

#sub-footer {
  padding: 2em 0;
  text-align: center;

  .agi-logo {
    margin-left: 0.5em;
  }

  ul.social-media {
    margin: 0 0 0 0;
    a {
      color: #777A7A;
      &:hover {
        color: #777A7A;
      }
    }
  }

  @media screen and (min-width: $screen-sm-min) {
    text-align: left;
    .col-md-12 {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }
}

#map-section {
  background: url("../img/map.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0 0;
  height: 176px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;

  &::before {
    background: rgba(0, 0, 0, 0.2);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    content: '';
    pointer-events: none;
  }

  a {
    color: #fff;
    &::before {
      content: url("../img/directions-icon.png");
      margin-right: 1em;
    }
    display: flex;
    line-height: 60px;
    height: 60px;
    font-size: 20px;
    font-family: "Raleway", sans-serif;
  }
}

.page-template-default {
  #map-section {
    height: 220px;

    @media screen and (max-width: $grid-float-breakpoint-max) {
      height: 125px;
    }
  }
}

@media screen and (max-width: $screen-sm-min) {
  #map-section {
    height: 110px;
  }
}

@media screen and (max-width: $grid-float-breakpoint-max) {

  #sub-footer {
    background: #fff;
    color: #777A7A;
    font-size: 12px;

    img {
      width: 24px;
      height: 24px;
    }
  }

  #footer {
    padding: 2em 0;



    #map-section {
      max-height: 120px;
    }

    span.title {
      margin: 1em 0 0 0;
    }

    .navbar-brand {
      img {
        margin: 0 auto;
        max-height: 94px;
      }
    }

    .text-right {
      text-align: center !important;
    }

    .social-media-button {
      color: #fff;
    }
  }
}