#main {
  @media screen and (max-width: $grid-float-breakpoint-max) {
    .flex-row {
      flex-direction: column;
    }
  }
}

@media screen and (max-width: $grid-float-breakpoint-max) {
  body #main .container {
    h2 {
      font-size: 18px;
    }

    p {
      margin-bottom: 2em;
    }
  }
}

#home-main {
  position: relative;

  .jumbotron {
    text-align: center;
    color: $white;

    h1 {
      font-family: "Montserrat", sans-serif;

      &:after {
        display: inline-block;
        content: '';
        @include svg-arrow(#fff);
        height: 42px;
        width: 42px;
        background-repeat: no-repeat;
        background-color: #3982F7;
        background-position: center center;
        text-align: center;
        background-size: 15px auto;
        line-height: 43px;
        vertical-align: middle;
        margin-left: 20px;
        margin-bottom: 10px;
      }
    }

    @media screen and (max-width: $grid-float-breakpoint-max) {
      h1 {
        letter-spacing: -1px;

        &:after {
          width: 31px;
          height: 31px;
        }
      }
    }
  }

}

.bg-dark {
  background: #222222;
  color: #fff;
  padding: 4em 0;

  h2 {
    color: #fff;
    span.highlight {
      color: #00C9CE;
    }
  }

  @media screen and (max-width: $grid-float-breakpoint-max) {
    padding: 3em 0;

    p {
      text-align: center;
    }
  }
}

#home-page-bottom {
  margin-bottom: 3em;
  position: relative;
  overflow: hidden;

  .banner p {
    margin: 0 0;
  }

  .bar-side {
    background: #313537;
    color: #fff;
    padding: 50px 60px;

    &:after {
      content: '';
      background: rgba(254, 241, 2, 0.7);
      width: 614px;
      height: 550px;
      position: absolute;
      right: -20px;
      top: -150px;
      z-index: -2;
    }

    p.blurb {
      margin-top: 0;
    }

    @media screen and (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
      &:after {
        right: -400px;
      }
    }

    @media screen and (min-width: $screen-md-min) {

      p.blurb {
        font-size: 22px;
        line-height: 1.75;
      }
    }
  }

  h2 {
    margin-top: 2em;
    margin-bottom: 0.25em;
  }

  p {
    font-weight: 300;
    line-height: 2;
    margin-top: 2em;
  }

  h3.blurb {
    margin-top: 0;
    color: #8C867E;
    font-weight: 300;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
  }

  .bar-side-container {
    justify-content: flex-start;
  }

  h3 {
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 2px;
    font-weight: 600;
  }

  .logo-left {
    justify-content: flex-start;
  }

  @media screen and (min-width: $screen-md-min) {

    .banner {
      margin-top: 70px;
    }

    h3.blurb {
      font-size: 30px;
    }

    .logo-left {
      display: flex;
      justify-content: flex-start;

      p {
        margin-right: 56px;
      }

      .extra-padding {
        flex: 1;
        display: flex;
        flex-direction: column;
      }

      .logos {
        margin-top: auto;
      }
    }
  }

  @media screen and (max-width: $grid-float-breakpoint-max) {
    margin-bottom: 0;
    padding-top: 30px;

    .extra-padding {
      padding-left: 20px;
      padding-right: 20px;
      padding-bottom: 40px;
    }

    p.blurb {
      font-size: 18px;
      line-height: 1.5;
    }

    .bar-side-container {
      padding-left: 0;
      padding-right: 0;
    }

    h2 {
      margin-top: 1em;
    }

    .logo-left {
      justify-content: flex-start;

      p {
        margin-top: 0;
      }
    }

    .banner {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      margin: 0 0 1em;

      p {
        line-height: 1.5;
      }
    }

    .flex-row {
      flex-direction: column;
    }

    p {
      text-align: center;
    }

    .logos {
      margin-bottom: 2em;
      text-align: center;

      h3 {
        font-size: 13px;
      }

      .logo-borders {
        margin: 0 auto;
        overflow: auto;
        display: inline-block;

        .logo-border {
          width: 140px;
          height: 140px;
          background-size: cover;

          &:last-child {
            margin-right: 0;
          }
        }
      }
    }

    .bar-side {
      margin-top: 0;
      border-top: 5px solid $sherpa-brand-primary;

      &:after {
        display: none;
      }

      &:after {
        top: 0;
      }
    }
  }
}

.gradient-border {
  overflow: hidden;
  position: relative;
  padding-left: 28px;
  margin-top: 0;
  font-family: 'Raleway', sans-serif;
  padding-top: 15px;
  padding-bottom: 15px;
  line-height: 1.5em;

  &:before {
    content: '';
    background: rgba(182, 130, 78, 1);
    background: -moz-linear-gradient(left, rgba(182, 130, 78, 1) 0%, rgba(229, 204, 164, 1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(182, 130, 78, 1)), color-stop(100%, rgba(229, 204, 164, 1)));
    background: -webkit-linear-gradient(left, rgba(182, 130, 78, 1) 0%, rgba(229, 204, 164, 1) 100%);
    background: -o-linear-gradient(left, rgba(182, 130, 78, 1) 0%, rgba(229, 204, 164, 1) 100%);
    background: -ms-linear-gradient(left, rgba(182, 130, 78, 1) 0%, rgba(229, 204, 164, 1) 100%);
    background: linear-gradient(to right, rgba(182, 130, 78, 1) 0%, rgba(229, 204, 164, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#b6824e', endColorstr='#e5cca4', GradientType=1);
    width: 4px;
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
  }

  color: #606060;
  font-weight: 300;

  strong {
    font-weight: normal;
    color: #041C3F;
    display: block;
  }

  @media screen and (max-width: $grid-float-breakpoint-max) {
    &::before {
      display: none;
    }
    line-height: 1.5em;
    padding-left: 0;
    text-align: center;
    font-weight: 300;

    strong {
      font-weight: 700;
    }
  }
}

.waypoint {
  $transition: all 0.4s ease-in-out;

  .fade-down {
    transition: all 1s ease-in-out;
    transform: translateY(-50%);
    opacity: 0;
    display: block;
  }

  &.active {
    .fade-down {
      opacity: 1;
      transform: translateY(0);
    }
  }

  .gradient-border {

    .fade-in {
      transition: all 1s ease-in-out;
      transform: translateX(-50%);
      opacity: 0;
      display: block;
    }

    &::before {
      transition: $transition;
      transform: scale(0);
    }
  }

  &.active {
    .gradient-border {
      .fade-in {
        opacity: 1;
        transform: translateX(0);
      }

      &::before {
        transform: scale(1);
      }
    }
  }
}

#contact-form {
  position: relative;
  z-index: 1;
}

#main-content {
  padding: 6em 0;

  h2 {
    color: #041C3F;
    font-weight: 600;
    margin-bottom: 0;
  }

  h3 {
    color: #525659;
    font-weight: 300;
    margin-top: 0.5em;
    margin-bottom: 1.5em;
  }

  p {
    font-size: 17px;
  }

  .text-center {
    margin-bottom: 3em;
    p.blurb {
      margin-bottom: 0;
    }
  }

  .col-md-6 {
    p.blurb {
      margin-bottom: 2em;
    }
  }

  @media screen and (max-width: $grid-float-breakpoint-max) {
    padding: 3em 0 1em;
    background: #F2F2F2;

    p {
      text-align: center;
    }

    .text-center {
      margin-bottom: 0;

      img {
        margin-top: 2em;
      }
    }
  }
}

.brand-color {
  color: #0D4634;
}

.form-group label input {
  text-indent: 1em;
}

.form-group label span.wpcf7-form-control-wrap:before {
  content: "|";
  position: absolute;
  left: 1em;
  top: -1px;
  font-weight: 300;
  vertical-align: middle;
}

.spanish-link,
.jumbotron .wpml-ls-statics-shortcode_actions {
  position: absolute;
  left: 15px;
  top: 20px;
  color: $white;
  font-family: "Raleway", sans-serif;
  font-size: 12px;
  font-weight: 700;

  a {
    color: $white;
  }

  @media screen and (min-width: $screen-sm-min) {
    display: none !important;
  }
}

.bg-rectangle {
  &::after {
    background: rgba(254, 241, 2, 0.7);
    width: 786px;
    height: 258px;
    content: '';
    display: block;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: -70px;
    opacity: 0.5;
  }

  img {
    z-index: 1;
    position: relative;
    -webkit-box-shadow: 0px 0px 20px 0px rgba(50, 50, 50, 0.75);
    -moz-box-shadow: 0px 0px 20px 0px rgba(50, 50, 50, 0.75);
    box-shadow: 0px 0px 20px 0px rgba(50, 50, 50, 0.75);
  }

  @media screen and (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
    &:after {
      right: -400px;
      left: auto;
    }
  }

  @media screen and (max-width: $grid-float-breakpoint-max) {
    text-align: center;

    &:after {
      width: 301px;
      height: 99px;
      left: 50% !important;
      transform: translateX(-50%) translateY(-50%);
    }

    img {
      max-height: 200px;
      margin: 0 auto;
    }
  }
}

.padding-top {
  justify-content: flex-start;
}

.left-home-sidebar {
  h2 {
    font-weight: 300 !important;
    font-size: 18px;
  }

  @media screen and (min-width: $screen-md-min) {
    padding-top: 83px;

    h2 {
      margin-bottom: 2em;
      line-height: 1.5;
      font-size: 29px !important;
    }

    h3 {
      margin-bottom: 2em;
      font-size: 22px;
    }

    p {
      line-height: 1.75em;
    }
  }

  @media screen and (max-width: $grid-float-breakpoint-max) {
    text-align: center;
    padding-top: 30px;

    h2, h3 {
      font-size: 18px;
      line-height: 1.5;
    }
  }
}

.ribbon {
  background: #23303F;
  color: #fff;
  padding: 40px 0;
  position: relative;
  z-index: 999;
  font-weight: 300;

  .blurb {
    font-size: 22px;
  }

  span {
    color: $sherpa-brand-primary;
    font-weight: 500;

  }

  span.phone {
    font-size: 22px;
  }

  .col-md-3 {
    border-right: 1px solid $sherpa-brand-primary;
  }

  .col-md-10 {
    display: flex;
    align-items: center;

    .extra-padding {
      padding-left: 3em;

      &:after {
        display: inline-block;
        content: '';
        @include svg-arrow(#fff);
        height: 42px;
        width: 42px;
        background-repeat: no-repeat;
        background-color: #3982F7;
        background-position: center center;
        text-align: center;
        background-size: 15px auto;
        line-height: 43px;
        vertical-align: middle;
        margin-left: 20px;
        margin-bottom: 10px;
        position: absolute;
        right: -70px;
        top: 50%;
        transform: translateY(-50%);
      }

      @media screen and (max-width: $screen-sm-max) {
        padding-left: 20px;

        &:after {
          //display: none;
          position: relative;
          margin: 15px auto 0;
          right: auto;
          left: 50%;
          width: 31px;
          height: 31px;
          transform: translateX(-50%);
        }
      }
    }
  }

  @media screen and (min-width: $screen-md-min) and (max-width: 1340px) {

    .col-md-10 {
      .extra-padding {
        padding-right: 3em;

        &:after {
          right: 0;
        }
      }
    }
  }

  @media screen and (min-width: $screen-md-min) {

  }

  @media screen and (max-width: $grid-float-breakpoint-max) {
    span.phone {
      font-size: 15px;
    }

    .col-md-3 {
      padding: 0 0;
    }

    p.blurb {
      font-size: 20px;
      line-height: 1.5;
      margin-bottom: 1em;
    }

    padding-top: 0;
    img {
      width: 100%;
    }

    .col-md-10 {
      .extra-padding {
        padding-right: 0;
        padding-left: 0;

        &:after {
          right: 0;
        }
      }
    }

    img {
      margin-bottom: 2em;
    }

    .col-md-3 {
      border-right: 0;
    }

    .flex-row {
      flex-direction: column;
    }

    p.blurb {
      text-align: center;
    }

    p {
      text-align: center;
    }

    .col-md-9 .extra-padding {
      padding-left: 20px;
    }
  }
}

.banner-bottom {
  background: url('../img/bg-banner-bottom.jpg') center center no-repeat;
  background-size: cover;
  height: 229px;

  @media screen and (max-width: $grid-float-breakpoint-max) {
    height: 138px;
  }
}

#curve-section {
  background: url('../img/mountain-banner.jpg') right center no-repeat;
  background-attachment: fixed;

  h2 {
    margin-bottom: 2em;
  }

  .bg {
    background: #fff;
  }

  .curve-left {
    padding-top: 111px;
    padding-bottom: 90px;

    @media screen and (min-width: $screen-md-min) {
      h2 {
        font-size: 25px;
        span {
          font-size: 29px;
          display: block;
        }
      }
    }

    @media screen and (max-width: $grid-float-breakpoint-max) {
      padding-top: 1.5em;
      padding-bottom: 3em;
      text-align: center;
      h2 {
        font-size: 18px;
        line-height: 1.75;
        margin-bottom: 1.5em;
      }
    }

    &::after {
      background: transparent url('../img/bg-curve-right.png') 100% 0 no-repeat;
      content: '';
      height: 100%;
      width: 100%;
      display: block;
      position: absolute;
      right: -200px;
      top: 0;
    }

    &::before {
      background: #fff url('../img/bg-curve.png') 0 0 no-repeat;
      content: '';
      height: 100%;
      width: 50%;
      display: block;
      position: absolute;
      left: -400px;
      bottom: 0;
    }

    div {
      position: relative;
      z-index: 1;
    }

    @media screen and (max-width: 999px) {
      &::before, &::after {
        display: none !important;
      }
    }

    @media screen and (min-width: $screen-md-min) and (max-width: 1092px) {
      &::before {
        width: 100%;
      }
    }

    @media screen and (min-width: $screen-md-min) and (max-width: $screen-md-max) {
      padding-top: 0;
      padding-bottom: 0;

      //&::after {
      //  display: none;
      //}
    }
  }
  @media screen and (max-width: $grid-float-breakpoint-max) {
    background: none;
  }
}

#services-bubbles {
  svg {
    height: 60px;
  }
}

#diagonals {
  .dg-blue {
    background: url('../img/bg-triangle-top.jpg') 100% 0 no-repeat;
    min-height: 606px;
  }
  .dg-white {
    background: url('../img/bg-triangle-bottom.jpg') 100% 0 no-repeat;
    min-height: 588px;
  }
}

.bg-back {
  background: url('../img/bg-urgent-2.jpg') center center no-repeat;
  background-size: cover;
  color: #fff;
  padding: 0 0;
  overflow: hidden;

  &.bg-blue {
    background: url('../img/bg-blue.png') center center no-repeat;
  }

  .diamond-bg {
    text-align: center;

    .icon-diamond {
      position: absolute;
      top: 50%;
      transform: translateY(-50%) translateX(-50%);
      left: 50%;
    }

    .urgent-care-text {
      position: relative;
      height: 122px;
      margin: 0 auto;
    }

    .icon-shield {
      position: relative;
      max-height: 298px;
    }
  }

  .icon-diamond {
    position: absolute;
  }

  .col-md-6 {
    justify-content: center;
  }

  h2 {
    margin-bottom: 2em;
    font-weight: 300;

    span {
      color: #fff;
    }
  }
  p {
    line-height: 1.75em;
  }

  @media screen and (max-width: $grid-float-breakpoint-max) {
    padding: 0 0;
    text-align: center;
    background: #fff;
    color: #666666;

    p {
      margin-bottom: 2em;
    }

    .flex-row {
      flex-direction: column;
    }

    h2 {
      font-size: 18px;
      line-height: 1.5;
      margin-bottom: 1.5em;
      span {
        color: $sherpa-brand-primary;
      }
    }
  }
}

#bg-back {
  background: url('../img/bg-urgent-2.jpg') center center no-repeat;
  background-size: cover;
  color: #fff;
  padding: 0 0;
  overflow: hidden;

  .diamond-bg {
    text-align: center;

    .icon-diamond {
      position: absolute;
      top: 50%;
      transform: translateY(-50%) translateX(-50%);
      left: 50%;
    }

    .urgent-care-text {
      position: relative;
      height: 122px;
      margin: 0 auto;
    }
  }

  .icon-diamond {
    position: absolute;
  }

  .col-md-6 {
    justify-content: center;
  }

  h2 {
    margin-bottom: 2em;
    font-weight: 300;

    span {
      color: #fff;
    }
  }
  p {
    line-height: 1.75em;
  }

  @media screen and (max-width: $grid-float-breakpoint-max) {
    padding: 0 0;
    text-align: center;
    background: #fff;
    color: #666666;

    p {
      margin-bottom: 2em;
    }

    .flex-row {
      flex-direction: column;
    }

    h2 {
      font-size: 18px;
      line-height: 1.5;
      margin-bottom: 1.5em;
      span {
        color: $sherpa-brand-primary;
      }
    }
  }
}


.right-home-sidebar {
  -webkit-box-shadow: 0px 0px 58px -9px rgba(0, 0, 0, 0.33);
  -moz-box-shadow: 0px 0px 58px -9px rgba(0, 0, 0, 0.33);
  box-shadow: 0px 0px 58px -9px rgba(0, 0, 0, 0.33);
  padding-bottom: 90px;

  h4 {
    color: $sherpa-brand-primary;
    font-weight: 500;
    font-size: 16px;
  }

  @media screen and (min-width: $screen-md-min) {
    padding: 83px 70px 50px;
  }

  @media screen and (max-width: $grid-float-breakpoint-max) {
    box-shadow: none;

    h3 {
      font-size: 20px;
    }

    > div {
      -webkit-box-shadow: 0px 0px 58px -9px rgba(0, 0, 0, 0.33);
      -moz-box-shadow: 0px 0px 58px -9px rgba(0, 0, 0, 0.33);
      box-shadow: 0px 0px 58px -9px rgba(0, 0, 0, 0.33);

      h4 {
        color: $sherpa-brand-primary;
        font-weight: 500;
        font-size: 16px;
      }

      background: #EFEFEF;
      text-align: center;
      padding-bottom: 33px;
      padding-top: 20px;

      a {
        display: block;
      }
    }
  }
}

body #main .bg-gray {
  background: #8C867E;
  color: #fff;
  border-bottom: 5px solid $sherpa-brand-primary;
  overflow: hidden;

  h2 {
    font-family: 'Roboto', sans-serif;
  }

  .row {
    padding-top: 50px;
    padding-bottom: 50px;
  }

  p.blurb {
    font-size: 30px;
    margin-bottom: 1em;
    line-height: 1.75;
    position: relative;
    z-index: 1;
  }

  p {
    color: #fff;
    line-height: 2;
    position: relative;
    z-index: 1;
    font-weight: 300;
  }

  @media screen and (min-width: $screen-md-min) {
    p {
      padding-right: 100px;
      margin-bottom: 0;
    }
  }

  @media screen and (max-width: $grid-float-breakpoint-max) {
    p {
      text-align: center;
    }

    .flex-row {
      flex-direction: column;
    }

    p.blurb {
      text-align: center;
    }
  }
}

h2.header-spaced {
  font-size: 36px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  letter-spacing: 4px;
  margin-bottom: 60px;
  line-height: 1.5;

  span {
    color: #8C867E;
  }
}

body #main .container.bg-light {

  padding: 70px 0;

  .flex-row {
    flex-direction: row;
  }

  p.blurb {
    margin-bottom: 1em;
    z-index: 1;
  }

  p {
    line-height: 2;
    position: relative;
    z-index: 1;
    font-weight: 300;
  }

  .bg-rectangle {
    &:after {
      opacity: 1;
    }
  }

  @media screen and (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
    .bg-rectangle {
      &:after {
        left: -400px;
      }
    }
  }

  @media screen and (min-width: $screen-md-min) {
    p {
      padding-left: 80px;
      margin-bottom: 0;

      &.blurb {
        font-size: 25px;
        line-height: 1.75;
      }
    }

    .bg-rectangle {
      &:after {
        left: -163px;
      }
    }
  }

  @media screen and (max-width: $grid-float-breakpoint-max) {
    padding: 0 30px;
    overflow: hidden;

    .bg-rectangle {
      text-align: center;
    }

    img {
      max-height: 200px;
      margin: 0 auto;
    }

    .flex-row {
      flex-direction: column;
    }

    p {
      text-align: center;
    }

    p.blurb {
      margin-top: 2em;
      line-height: 2;
      font-size: 18px;
    }
  }
}

.flex-row {
  display: flex;
  justify-content: center;

  .col-md-6 {
    display: flex;
    flex-direction: column;
    //justify-content: center;
  }
}

#contact-form {
  text-align: center;
  background-position-y: bottom;
  background-color: rgba(49, 53, 55, .75);

  @media screen and (min-width: $screen-md-min) {
    margin-top: 45px;
  }

  .ajax-loader {
    position: absolute;
  }

  form {
    text-align: center;
    color: $white;
    display: inline-block;

    @media screen and (min-width: $screen-sm-min) {
      margin: 2em auto;
    }

    h1,
    h2,
    h3,
    h4 {
      color: $white;
    }

    h4 {
      margin-bottom: 1em;

      .light {
        font-weight: 300;
      }
    }

    .form-group {
      display: flex;
      justify-content: space-around;
      margin: 0 auto 1em;

      label {
        flex: 1;
        width: 100%;
        margin-bottom: 0;

        input {
          width: 100%;
        }
      }

      .col-md-6 {
        margin: 0 auto;
      }
    }

    input[type="text"],
    input[type="email"],
    input[type="tel"],
    textarea {
      background: rgba(255, 255, 255, 0.2);
      border: 0;
      color: $white;
      padding: 1em;

      &::placeholder {
        color: $white;
        font-weight: normal;
        &::before {
          content: "| ";
          display: block;
        }
      }
    }

    textarea {
      overflow: hidden;
      height: 2em;
      padding-bottom: 1.25em;
    }

    input[type="submit"] {
      width: auto;
      margin-left: 1em;
      padding: 0.5em 0;
    }

    p {
      margin-bottom: 2em;
    }
  }
}

#home-bg {
  background: none;
}

.icon-section {
  h4 {
    margin-top: 4em;
    font-size: 24px;
    margin-bottom: 0;
  }

  p.blurb {
    font-size: 22px;
    max-width: 80%;
    text-align: center;
    margin: 0 auto 1em;
    line-height: 1.5em;
  }

  .icon-header {
    background: $sherpa-brand-primary;

    .icon {
      max-height: 50px;
      margin: 1.5em;
    }

    .icon-bottom {
      background: #DDDDDD;
      color: $sherpa-brand-primary;
      text-align: left;
      padding: .5em 32px;
      display: flex;
      justify-content: space-between;
      font-size: 20px;
      align-items: center;
    }
  }

  p {
    padding: 1em 32px;
    text-align: left;
    line-height: 1.75em;
    font-size: 16px;
    color: #666666;
  }

  .icon-plus {
    text-indent: -9999px;
    background: url('../img/icon-plus.png') center center no-repeat;
    width: 20px;
    height: 20px;
    display: block;
    background-size: contain;
  }
}

@mixin svg-arrow($color) {
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 31.39 31.39"><defs><style>.cls-1{fill:#1e242d;}.cls-2{fill:#fff;}</style></defs><title>circle-arrow</title><g id="Layer_2" data-name="Layer 2"><g id="Layer_6" data-name="Layer 6"><circle class="cls-1" cx="15.69" cy="15.69" r="15.69"/><polygon class="cls-2" points="13.16 21.99 13.64 22.48 20.43 15.69 13.64 8.91 13.16 9.4 19.45 15.69 13.16 21.99"/></g></g></svg>
');
  background-repeat: no-repeat;
}

.banner {
  background: #3982F7;
  background-size: cover;
  padding-top: 114px;
  padding-bottom: 100px;
  padding-left: 84px;
  padding-right: 84px;
  margin-top: 3em;
  margin-bottom: 3em;
  color: #fff;
  font-family: 'Roboto', sans-serif;

  h3 {
    margin: 0 0;

    &:after {
      @include svg-arrow(#fff);
      content: '';
      width: 30px;
      height: 30px;
      display: inline-block;
      margin-left: 20px;
    }
  }

  span {
    color: $sherpa-brand-primary;
  }

  strong {
    font-size: 43px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;

    &:after {
      display: inline-block;
      content: '';
      @include svg-arrow(#fff);
      height: 42px;
      width: 42px;
      background-repeat: no-repeat;
      background-color: #3982F7;
      background-position: center center;
      text-align: center;
      background-size: 15px auto;
      line-height: 43px;
      vertical-align: middle;
      margin-left: 40px;
      margin-bottom: 10px;
    }
  }

  em {
    font-size: 31px;
    font-style: normal;
    display: block;
  }

  @media screen and (max-width: $grid-float-breakpoint-max) {
    padding: 2em;
    text-align: center;

    strong {
      line-height: 1;
      font-size: 1.5em;

      &::after {
        margin: .5em auto;
        display: block;
        width: 30px;
        height: 30px;
      }
    }

    em {
      font-size: 1em;
    }
  }
}

#about-section {
  img {
    margin-top: 0;
  }

  p {
    color: #808080;
  }
}

#dark-section {
  padding: 2em 0;
  background: #1a1a1a;
  color: #b3b3b3;

  br {
    display: none;
  }

  img {
    margin: 0 0;
  }

  h3 {
    color: $white;
    margin-top: 2.5em;
  }

  h4 {
    color: $white;
  }
}

@media screen and (max-width: $screen-sm-min) {
  h1,
  h2,
  h3,
  h4 {
    margin-bottom: 14px;
  }

  #about-section {
    h3 {
      font-size: 22px;
    }
  }

  #dark-section {
    text-align: center;
    img {
      max-height: 200px;
      margin: 0 auto 1em;
    }

    h3 {
      margin-top: 0;
    }
  }

  .jumbotron {
    margin-bottom: 0;

    h1 {
      font-size: 1.5em;
    }

    p span, h2 span {
      display: block;
    }

    .jumbo-content {
      text-align: center;

      .block-center {
        margin: 0 auto 2.5em;
      }

      @media screen and (max-width: $grid-float-breakpoint-max) {

        a, button {
          display: block;
          width: 275px;
          max-width: 100%;
          margin: 0 auto;
          font-size: 13px;
        }
      }
    }
  }

  #contact-form {
    text-align: center;
    background: #313537;
    padding: 0;

    .btn-lrg {
      margin-top: 2em;
    }

    form {
      margin: 2em auto;
      padding: 0;
      text-align: center;
      color: $white;
      display: inline-block;

      h1,
      h2,
      h3,
      h4 {
        color: $white;
      }

      h4 {
        margin-bottom: 1.5em;
      }

      .form-group {
        display: block;
        max-width: 100%;
        justify-content: space-around;
        margin: 0 auto;

        label {
          flex: 1;
          width: 100%;

          input {
            width: 100%;
          }
        }

        .col-md-6 {
          margin: 0 auto;
        }
      }

      input[type="text"],
      input[type="email"],
      input[type="tel"],
      textarea {
        background: rgba(255, 255, 255, 0.5);
        border: 0;
        color: $white;
        padding: 1em;
        margin-bottom: 1em;

        &::placeholder {
          color: $white;
          font-weight: normal;
          &::before {
            content: "| ";
            display: block;
          }
        }
      }

      textarea {
        overflow: hidden;
        height: 2em;
        padding-bottom: 1.25em;
      }

      input[type="submit"] {
        margin-top: 1em;
        width: 148px;
        margin-left: 0;

        @media screen and (max-width: $grid-float-breakpoint-max) {
          width: 125px;
        }
      }

      p {
        margin-bottom: 1.75em;
      }
    }

    .textwidget {
      padding: 0;

      .form-group {
        padding: 0 1.5em;
      }
    }
  }
}

.jumbotron.contact-hero {
  background: #041C3F;
  color: #fff;
  margin-bottom: 0;

  p {
    font-weight: 300;
    font-family: 'Roboto', sans-serif;
  }

  h3 {
    color: #fff;
    font-weight: 400;
    margin-bottom: 1em;
  }

  .btn-lg {
    width: 242px;
    font-size: 15px;
    margin-top: 1em;
    padding: 15px 16px;

    @media screen and (max-width: $grid-float-breakpoint-max) {
      width: 173px;
      font-size: 13px;
    }
  }
}

#home-main .jumbotron {
  font-size: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 0;
  padding-right: 0;

  h1 {
    font-size: 43px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 2px;

    span {
      color: $sherpa-brand-primary;
    }
  }

  h2 {
    font-weight: 300;
  }

  @media screen and (max-width: $grid-float-breakpoint-max) {

    h1 {
      letter-spacing: 1px;
      line-height: 1.5;

      &::after {
        display: block;
      }
    }

    .jumbo-content {
      padding-left: 70px;
      padding-right: 70px;
    }
  }
}


.icon-row {
  background: #1E242D;

  .col-md-3 {
    display: flex;
    justify-content: center;
  }

  .flex-row {
    display: flex;
    .col-xs-4 {
      flex: 1;
    }
  }

  a {
    display: block;
    width: 100%;
    height: 100%;
    text-align: center;
    position: relative;

    svg path {
      fill: $sherpa-brand-primary;
    }

    &:hover {
      text-decoration: none;

      svg path {
        fill: #fff;
      }

      .title {
        position: relative;
        &::after {
          content: '';
          width: 0;
          height: 0;
          border-left: 12px solid transparent;
          border-right: 12px solid transparent;
          border-bottom: 12px solid $sherpa-brand-primary;
          position: absolute;
          top: -12px;
          left: 50%;
          transform: translateX(-50%);
        }
      }

      svg path {
        fill: #fff;
      }
    }
  }

  .title {
    color: #fff;
    text-decoration: none;
    padding: 14px 0;
  }

  svg {
    height: 50px;
    margin: 37px auto;
  }

  .col-xs-4 {
    padding: 0 0;
  }

  @media screen and (max-width: $screen-sm-max) {
    margin: 0 0;
    background: transparent;

    .container-fluid {
      padding: 0 0;
    }

    a {
      padding: 30px 0 0;
    }

    svg {
      margin: 0 0;
    }

    .flex-row {
      width: 100%;
      flex-wrap: wrap;
      margin: 0 0;

      .col-xs-4 {
        flex: 0 auto;
        background: #AF0E1A;

        &:nth-child(odd) {
          background: #7A0816;
        }

        .title {
          background: transparent;
          padding-bottom: 30px;

          &:after {
            top: auto;
            bottom: 0;
          }
        }
      }
    }

    .col-xs-12 {
      padding-left: 0;
      padding-right: 0;
    }

    .title {
      font-size: 14px;
    }

    svg {
      height: 30px;
    }

    .col-md-3 {
      flex-direction: column;
      padding-left: 0 !important;
      padding-right: 0 !important;

      a:hover::after {
        bottom: 42px;
      }
    }
  }
}

@media screen and (min-width: $screen-sm-min) {

  .icon-section {

    .icon-row {
      display: flex;
      flex-wrap: wrap;
    }

    .col-md-3 {
      padding: 0 0 0 10px;
      margin-bottom: 10px;
    }

    p.blurb {
      margin-bottom: .5em;
    }
  }

  #dark-section {
    .row {
      display: flex;
    }
    h3 {
      font-size: 28px;
      margin-top: 0;
    }

    .col-md-6 {
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: center;
    }
  }

  .home {
    #contact-form {
      //margin-top: 4.5em;

      h4 {
        font-size: 24px;
      }

      form {
        margin: 2.5em 0;
        max-width: 811px;

        .form-group {
          margin-top: 2em;
        }

        .btn-success {
          min-width: 242px;
        }
      }
    }

    #about-section {
      .row {
        display: flex;
      }

      .row .col-md-6 {
        display: flex;
        justify-content: center;
        flex-direction: column;
        h3 {
          font-size: 30px;
        }

        p.blurb {
          font-size: 25px;
          margin-top: 1em;
          padding-right: 2em;
        }
      }

      .row .col-md-6 {
        font-size: 20px;
        padding-top: 3em;
      }

      br {
        display: none;
      }
    }

    .banner {
      height: 187px;
      font-size: 25px;
      margin: 0;
      justify-content: center;
      align-items: center;
      display: flex;
      margin-bottom: 0;
      color: #fff;
      padding: 56px;
      font-family: 'Roboto', sans-serif;

      span {
        color: $sherpa-brand-primary;
      }

      .btn {
        margin-left: 50px;
        text-transform: uppercase;
      }
    }
  }

  .jumbotron.contact-hero {
    padding: 5.5em 0;

    p {
      font-size: 19px;
    }
  }
}

@media screen and (max-width: $grid-float-breakpoint-max) {
  .flex-section {
    display: flex;
    flex-direction: column-reverse;
  }

  #home-main .jumbotron {
    position: relative;
    padding: 0;

    .jumbo-content {
      flex: 1;
      height: 100%;
      padding: 84px 0 100px;
      overflow: auto;
      //background: -moz-linear-gradient(left, rgba(125,185,232,0) 0%, rgba(35,44,104,1) 100%); /* FF3.6-15 */
      //background: -webkit-linear-gradient(left, rgba(125,185,232,0) 0%,rgba(35,44,104,1) 100%); /* Chrome10-25,Safari5.1-6 */
      //background: linear-gradient(to right, rgba(125,185,232,0) 0%,rgba(35,44,104,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
      //filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#007db9e8', endColorstr='#041C3F',GradientType=1 ); /* IE6-9 */

      p {
        margin-bottom: 3em;
      }
    }

    .mobile-bg {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }

    span {
      display: block;
    }
  }

  body {
    background: none;
  }

  .about-header {
    margin-top: 0;
    margin-bottom: 0;
  }

  #home-bg section#contact-form, #landing-bg section#contact-formm {
    padding-bottom: 2em;

    h4 {
      margin-bottom: 1em;
    }
  }

  #header {
    padding-top: 1.5em;
  }

  #home-main {

    .jumbotron {
      overflow: auto;

      h2 {
        font-weight: 500;
      }

      h1 {
        font-size: 2em;
      }

      p {
        font-size: 1.25em;
      }
    }
  }


  .banner-hero {
    padding: 2em;
    margin-top: 4em;
    margin-bottom: 2.2em;
  }


  .jumbotron.contact-hero {
    padding: 3.5em 1em;

    h3 {
      font-size: 18px;
      margin-bottom: 1.5em;
    }

    p {
      font-size: 15px;
    }
  }

  .about-header {
    display: flex;
    justify-content: center;
    align-items: center;

    .jumbotron {
      padding: 6em 0;

      h2 {
        font-size: 14px;
        max-width: 75%;
      }
    }
  }
}

@media screen and (min-width: 768px) {
  .page-template-page-home #header .navbar-collapse.collapse .menu-primary-container {
    margin-top: 2em;
  }
}

.page-template-page-home p {
  font-size: 17px;

  @media screen and (max-width: 768px) {
    font-size: 15px;
  }
}

#contact-button {
  background: #23303F;
  color: #fff;
  padding: 28px 0;

  p {
    color: #fff;
    font-size: 20px;
    font-weight: 300;
  }

  span {
    color: $sherpa-brand-primary;
  }

  a {
    margin: 1em auto;
    display: inline-block;
  }

  .btn {
    padding-left: 25px;
    padding-right: 25px;
  }
  
  @media screen and (max-width: $grid-float-breakpoint-max) {
    span {
      display: block;
    }

    p {
      line-height: 1.5;
    }
  }

}

#stacked-buttons {
  background: #8C867E;
  color: #fff;
  padding: 67px 0;

  @media screen and (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
    h2, p.blurb, p {
      text-align: center;
    }
  }

  h2 {
    font-size: 30px;
    font-weight: 300;
    margin-bottom: 1em;
    line-height: 1.5;
    font-family: 'Roboto', sans-serif;
  }

  p.blurb {
    font-size: 22px;
    font-weight: 300;
    line-height: 1.75;
  }

  p {
    line-height: 2em;
    font-weight: 300;
  }

  @media screen and (max-width: $grid-float-breakpoint-max) {
    padding-bottom: 40px;
    padding-top: 30px;
    margin-top: 0;

    .list-box {
      margin-top: 30px;
    }

    p {
      text-align: center;
    }

    p.blurb {
      margin-bottom: 1em;
      font-size: 1em;
    }

    h2 {
      text-align: center;
    }

    .list-box {
      padding: 30px 24px 24px;

      h3 {
        font-size: 1em;
        line-height: 1.5;
        font-family: 'Roboto', sans-serif;
      }
    }
  }
}


@media screen and (max-width: $grid-float-breakpoint-max) {
  p.blurb {
    font-size: 15px;
  }

  p {
    font-size: 15px;
  }

  h2.header-spaced {
    font-size: 20px;
    font-weight: 600;
  }

  body #main .bg-gray p.blurb {
    font-size: 18px;
  }

  #stacked-buttons h2 {
    font-size: 18px;
  }

  #home-main .jumbotron h1 {
    font-size: 26px;

    &:after {
      margin: 20px auto;
    }
  }

  #home-main .jumbotron h2 {
    font-size: 14px;
    line-height: 1.5;
  }

  .banner p {
    font-size: 17px;
    line-height: 1;
  }
}

@media screen and (max-width: $grid-float-breakpoint-max) {

  .extra-padding {
    padding-left: 20px;
    padding-right: 20px;
  }

}

.glyphicon {
  vertical-align: middle;
  margin-right: 6px;
}

#cff .cff-item {
  border-bottom: 0 !important;
}

body #main .container p.cff-post-text {
  margin-bottom: 0;
  color: #9B9B9B;
}

#ctf p.ctf-tweet-text {
  line-height: 1.5;
}