

#footer {
  padding: 2em 0;
  text-align: center;
  background: $white;
  color: #000;

  .container-fluid {
    max-width: 1700px;
    margin: 0 auto;
  }

  .logo-footer {
    flex: 1;
    justify-content: flex-start;
    align-items: flex-start;
  }

  .phone-footer, .address-footer {
    display: flex;

    div {
      margin: 0 auto;
      display: inline-block;
    }
  }


  .phone-footer, .hours-footer, .address-footer {
    justify-content: center;
    align-items: center;
    text-align: left;
  }

  .address-footer {
    text-align: left;
  }

  .address-footer p {
    text-align: left;
    margin-bottom: 0;
    display: inline;
  }

  .flex-row {
    justify-content: space-between;
    display: flex;
  }

  .navbar-brand {
     margin: 0 0;
  }

  .navbar-brand img {
   width: 269px;
  }

  h2 {
    color: #003E7A;
    font-size: 22px;
    margin-top: 0;
  }

  .logo-sm {
    height: 16px;
    padding-left: .5em;


    @media screen and (min-width: 1800px) {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
    }
  }

  .btn {
    letter-spacing: 1px;
    margin-bottom: 0;
    padding: 1.5em 4em;
    font-size: 11px;
    text-transform: uppercase;
  }

  .phone-footer {
    a {
      color: $sherpa-brand-primary;
      font-size: 36px;
      font-weight: 700;
      font-family: 'Lato', sans-serif;
    }
  }


  a.arrow {
     font-weight: 500;

      &::after {
        display: block;
        clear: both;
        position: relative;
        padding: 0 0;
        background-size: 29px;
        width: 29px;
        height: 29px;
        margin: 20px auto 0;
        content: '';
      }

      &:hover {
        text-decoration: none;
      }

     @include media-breakpoint-up(md) {
        position: relative;
        display: inline-block;
        margin-bottom: 1em;

        .button-footer {
          padding: 0 15px;
        }

        &::after {
          display: block;
          clear: both;
          position: absolute;
          right: -4.5em;
          top: -14px;
          padding: 0 0;
          background-size: 34px;
          width: 34px;
          height: 34px;
          margin: 20px auto 0;
          content: '';
        }
     }
  }

  @include media-breakpoint-up(md) {

   .footer-blocks {
       flex: 1;
       display: flex;
       flex-direction: row;
       justify-content: space-between;
       width: 100%;
       align-items: center;
   }

   .flex-col {
      flex-direction: row;
      justify-content: space-between;
    }


   .bbb-footer {
     justify-content: center;
     display: flex;
     align-items: flex-start;
      margin: 0 auto 0 0;

      img {
        height: 95px;
      }
   }

    .contact-footer, .hours-footer {
      display: flex;
      justify-content: center;
      margin: 0 auto;

      > div {

        font-weight: 300;
        display: flex;
        flex-direction: column;
      }
    }

    .contact-footer {

      .btn {
        margin-top: 2em;
      }
    }
  }

  @include media-breakpoint-down(md) {

    .address-footer p {
      margin-top: 0;
    }

    .social-footer {
      text-align: center;
    }

    ul {
      margin: 20px auto;
      overflow: auto;
      width: auto;
      display: inline-block;
      justify-content: flex-start;
    }

    .col {
      flex-basis: auto;
      justify-content: center;
      display: flex;
      flex-direction: column;
    }

    .logo-footer img {
      height: 100px;
    }

    .hours-footer, .contact-footer, .logo-footer, .button-footer {
      text-align: center;
      width: auto;
      margin: 0 auto;
      width: 100%;
    }

    a.arrow {
      margin-bottom: 2em;
    }

    .button-footer {
      .btn-border {
        font-size: 11px;
        padding: 24px 17px;
      }
    }
  }

  .menu-primary-container {
    margin: 0 auto;
  }

  p {
    font-size: 16px;
    line-height: 1.75;
    font-weight: 300;
    color: #606060;
  }

  ul {
    padding-left: 0;
    margin-top: 2em;
    display: flex;
    margin-bottom: 0;
  }

  p.small {
    font-size: 14px;
    position: relative;
    margin-bottom: 0;

    svg {
      display: inline-block;
    }
  }


  ul li {
    list-style: none;
    font-family: 'Montserrat', sans-serif;
    font-size: 13px;

    &:first-child {
      margin-left: 0;
    }
  }

  a {
    color: #fff;
  }

  .contact-button {
    margin-top: 5px;
  }

  a.btn {
    &:hover {
      background: $sherpa-brand-primary;
      border-color: $sherpa-brand-primary;
    }
  }

  .full-height {
    margin-bottom: 4em;
  }

  .menu {
    padding-left: 0;
    list-style: none;

    > li a {
      color: #ffffff;
    }
  }

  .navbar-brand {
    text-align: left;
    position: relative;
    display: block;
    height: auto;
    float: none;
  }

  .navbar-sherpa .navbar-nav > li > a {
    color: #7D8082;
  }

  #menu-menu-footer {
    margin: 0 auto;
  }

  .menu-footer-container,
  .menu-menu-footer-container {
    text-align: center;
    display: flex;
    flex: 1;

    #menu-footer,
    #menu-footer-spanish {
      margin: 0 auto;
      display: inline-block;
      float: none;
    }
  }

  .container {
    display: flex;
    flex-direction: column;

    .row:first-child {
      flex: 1;
    }
  }

  span.title {
    display: block;
    font-family: "Montserrat", sans-serif;
    font-size: 18px;
    color: #000000;
    font-weight: 600;
    text-transform: uppercase;
  }

  .social-media-button {
    color: #1A1A1A;
    font-size: 1.25rem;

    &:hover {
      color: $sherpa-brand-primary;
    }
  }

  @include media-breakpoint-up(md) {
    text-align: left;


    span.title {
      margin: 0 0;
      display: block;
      font-size: 17px;
    }

  }



  @include media-breakpoint-down(md) {
    .row.align-items-center {
      flex-direction: column;
    }


   .phone-footer {
     margin-top: 0;

    a {
      font-size: 24px;
    }
   }

   .address-footer {
     text-align: center;
   }

    .button-footer {
      flex: 1;
      flex-direction: row;
      flex-wrap: nowrap;

      div {
        display: flex;
        justify-content: center;

        a:first-child {
          margin-right: 10px;
        }
      }
    }

    .contact-footer, .hours-footer {
      margin-top: 2em;
    }

    .phone-footer {
      margin-bottom: 1em;
      margin-top: 1em;
      text-align: center;
    }

    .hours-footer {
      margin-bottom: 1em;
    }

    span.title {
      font-size: 14px;
      margin-bottom: 0;
    }

    .social-container {
      text-align: center;
    }

    .bbb-footer {
      img {
        height: 83px;
        margin-bottom: 1em;
      }
    }

    .btn {
      margin-top: 2em;
    }

    p {
      font-size: 14px;
      line-height: 1.75;
      font-weight: 300;
      margin-bottom: 0em;
    }
  }

  .footer-bottom {
    color: #fff;
    padding: 1.5em 0;
    margin-top: 4em;

    ul li {
      text-transform: uppercase;
    }

    .btn {
      padding: 1em 3.2em;
      font-size: 9px;
    }

    .separate {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    .navbar.navbar-sherpa {
      display: flex;
      align-items: center;
    }
  }

  @include media-breakpoint-down(md) {
    .flex-row {
      flex-direction: column;
    }

    .title {
      font-size: 12px;
    }

    p {
      font-size: 14px;
    }

    .btn {
      margin-top: 2em;
    }
  }
}


.footer-nav {
  background: #1A1A1A;

  li a {
    color: $sherpa-brand-primary;
    text-transform: uppercase;
  }

  @include media-breakpoint-up(md) {
    li.menu-item:first-child {
      margin-left: 0 !important;
    }

    padding: .25em 0;
  }

  .navbar-sherpa {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 50px;
    margin-bottom: 0;
  }

  .menu-footer-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }

  .navbar-sherpa .navbar-nav > li > a {
    color: #fff;
  }

  @include media-breakpoint-down(md) {
    text-align: center;
  }
}

.sub-footer {
  padding: 32px 0;
  text-align: center;
  background: #FFF;
  color: $white;
  font-size: 16px;
  color: #29292C;

  p {
    margin-bottom: 0;
  }

  .agi-logo {
    margin-left: 0.5em;
  }

  .col {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
  }

  ul.social-media {
    margin: 0 0 0 0;
    display: flex;
    justify-content: center;
    align-items: center;

    a {
      color: #29292C;
      &:hover {
        color: $sherpa-brand-primary;
      }
    }
  }

   @media screen and (max-width: 992px) {

      .flex-col {
        flex-direction: column;
      }

      background: #29292C;
      color: $white;
   }
}


@media screen and (max-width: 992px) {

  #sub-footer {
    font-size: 10px;
    padding: 1em 0;
    text-align: center;

    img {
      width: 24px;
      height: 24px;
    }
  }


  #footer {
    padding: 2em 0;



    a {
      width: auto;
    }

    #map-section {
      max-height: 120px;
    }

    span.title {
      margin: 0 0 1em 0;
    }

    

    padding-bottom: 0;

    span.title {
      margin: 0 0 .5em 0;
    }

    .navbar-brand {
      position: relative;
      transform: none;
      top: 0;
      display: block;
      margin: 0 auto;

      img {
        width: auto;
        margin: 0 auto;
        width: auto;
        height: 32px;
        display: block;
      }
    }
  }
}




@media screen and (max-width: 992px) {

  #footer {
    padding: 2em 0;

  

    .row {
      flex-direction: column;
      height: auto;
    }

    h2 {
      font-size: 19px;
      line-height: 1.5;
    }

    text-align: center;


    .btn {
      font-size: 9px;
      margin-bottom: 0;
      @include nodropshadow();
      padding: 1.5em 2em;
      width: auto;
    }


    .social-media-button {
      color: #1A1A1A;
      font-size: 13px;

      &:hover {
        color: $sherpa-brand-primary !important;
      }
    }

    ul li {
      margin: 0 1em;
    }

    .sub-footer {
      .flex-col {
        flex-direction: column;
      }
    }
  }
}


@media screen and (min-width: 992px) and (max-width: 1400px) {

  .phone-footer a {
    font-size: 24px !important;
  }

  #footer {
    ul {
      justify-content: center;

      li {
        margin: 0 20px;
      }
    }
  }
}



@media screen and (min-width: 1400px) {

  #footer {

    ul {
      justify-content: space-between;
      margin-top: 0;
    }
  }
}