.footer-top {
  img {
    width: 100%;
    max-height: 450px;
  }
}

#footer { 
  background: #000;
  color: $white;
  @include dropshadow();
  overflow: hidden;

  a {
    color: $white;
  }

   span.sub-title {
    font-family: 'Poppins', sans-serif;
    letter-spacing: 1px;
    font-size: 12px;
  }

  .h2 {
    display: block;
    margin-bottom: 1em;
    @include montserrat();
    letter-spacing: 0;
    font-weight: 300;
    font-size: 28px;
  }

  .extra-padding {
    padding: 2em 0;
  }


  iframe {
    right: 0;
    width: 50vw;
  }

  .btn {
    color: $white;
  }

  .map {
    max-width: 473px;
    height: 100%;
  }

  h2 {
    line-height: 1.5;
    letter-spacing: 0;
    text-transform: none;
  } 

//   .container {
//     max-width: 1480px;
//   }

  .map-col .extra-padding {
    height: 100%;
  }

  @include acumin();
  letter-spacing: $letterSpacing;

  span.number {
    @include numberTag();
    position: relative;
    display: block;
    top: auto;
    left: auto;
  }
  
  #contact-form {
    justify-content: flex-start;
    padding-left: 0;
    margin-bottom: 3em;

    p {
      color: #808080;
    }
  }

  p {
   letter-spacing: 0;
   font-size: 14px;
  }

  p img {
    display: inline-block;
  }

  #contact-form form {
    text-align: left;
  }

  .contact-form h2 {
    @include serif();
    font-style: italic;
    color: #606060;
    font-size: 25px;
  }

  #contact-form form .form-group {
    padding-left: 0;
  }

  #contact-form form {
    margin-left: 0;
  }

  div.wpcf7 {
    display: flex;

  }

  ul.social-media {
    display: flex;
    justify-content: flex-end;
    margin-top: 3em;


    li a {
      padding: 1em;
      color: #BFC2C1;

      &:hover {
        color: $white;
      }
    }
  }

  .box-container {
    margin-top: 74px;
    margin-bottom: 74px;
    display: flex;
  }

  .contact-box {
    text-align: center;
    position: relative;
    @include gradient;
    margin-left: 15px;
    margin-right: 15px;
    padding: 1px;
    display: flex;
    width: 100%;
    height: 100%;
    

    > div {
      background: $white;
      padding: 1em;
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      alignt-items: center;
      flex-direction: column;
    }

    h3 {
      margin-bottom: 1em;
      font-size: 21px;
      letter-spacing: 3px;
    }

    p {
      margin-bottom: 3em;
      @include acumin();
      letter-spacing: $letterSpacing;

      
    }
  }

  .navbar-brand {
    margin-top: 2em;
  }


  @media screen and (min-width: 1200px) and (max-width: 1600px) {
    span.number {
      top: 0;
    }
  }


  @include media-breakpoint-down(md) {

   
     .contact-box {
      @include dropshadow();
      background: $white;
      padding: 10px;

      p {
        margin-bottom: 1em;
        font-size: 11px;
        
        a {
          margin-bottom: 2em;
          display: block;
        }
      }

      h3 {
        font-size: 17px;
      }

      > div {
        @include gradient();
        padding: 1px;

        > div {
          background: $white;
          padding: 4em 2em;
        }

      }
    }
  }

  @include media-breakpoint-down(md) {
    padding-top: 1em;
  }


  @include media-breakpoint-down(lg) {
    background: #1A1A1A;
    text-align: center;

    .col p:last-child {
      margin-bottom: 0;
    }

   

    .form-group {
      text-align: center;
    }

    .btn {
      margin: 0 auto;
    } 
    

   span.number {
     left: -.25em;
   }

   .contact-form {
     padding-left: 55px;
     padding-right: 55px;
   }

   .contact-form h2 {
     font-size: 19px;
     margin-top: 1em;
   }

    #contact-form {
        padding-top: 0;
        margin-bottom: 0;

        form {
          margin: 0 0;
          width: 100%;
        }
    }

    .map {
      order: 3;
      max-width: 100%;
    }

    ul.social-media {
      margin-top: 0;
      margin-bottom: 0;
    }
  }

 


  @include media-breakpoint-down(md) {

    .map {
      height: 303px;
      margin-bottom: 2em;
    }

    .map-col {
      order: 3;
    }

    #contact-form {
      padding: 0;
    }

    #contact-form form input[type="text"], #contact-form form input[type="email"], #contact-form form input[type="tel"], #contact-form form textarea {
      font-size: 10px;
    }

    ul.social-media {
      margin-top: 2.5em;
      justify-content: center;
    } 

  }

}


.sub-footer {
  background: #FFF;
  color: $black;
  text-align: center;
  padding: 1em 0;

  @include media-breakpoint-down(lg) {
    font-size: 9px;
  }
} 