.sidebar-content {
  margin-top: 20px;

  .post-title {
    font-weight: 300;
    font-size: 39px;
    color: #8f9699;
  }

  //   @media screen and (min-width: $screen-md-min) {
  //     .page-content, #sidebar {
  //       padding-top: 2em;
  //     }
  //   }
  @include media-breakpoint-between(md, lg) {
    .img-responsive {
      max-width: 40%;
      height: auto;

      img {
        max-width: 100%;
        height: auto;
      }
    }
  }

  @include media-breakpoint-between(sm, md) {
    .flex-row {
      flex-direction: column;
    }

    .img-responsive {
      max-width: 30%;
      height: auto;

      img {
        max-width: 100%;
        height: auto;
      }
    }
  }
}

body #main .container article #sidebar {
  float: right;
  width: 346px;
  margin-left: 4em;
  text-align: center;
  position: relative;

  
}

@include media-breakpoint-up(md) {
  body #main .container article #sidebar {
    margin-bottom: 2em;
    padding-top: 0;
    z-index: 99;
    background: none;

    .shadow {
      @include dropshadow-thin();
    }
  }
}

@include media-breakpoint-down(md) {
  body #main .container article #sidebar {
    float: none;
    max-width: 100%;
    margin-left: 0;
    margin-bottom: 2em;
    background: none;
    padding: 0;
    width: 100%;
  }

  body #main .container {
    margin-top: 3em;
    //     padding-left: 0;
    //     padding-right: 0;

    .content {
      padding-left: 15px;
      padding-right: 15px;
      text-align: center;

      ul:not(.icon-list) {
        padding-left: 0;

        li {
          padding-left: 0;
          margin-left: 0;
        }

        li::before {
          display: none;
        }
      }
    }
  }
}

body #main .container article .content-contact #sidebar {
  margin-left: 0;
  @include media-breakpoint-down(xs) {
    clear: both;
  }
}

body #main .container article #sidebar p.ctf-tweet-text,
body #main .container article #sidebar p.cff-post-text {
  color: #9b9b9b;
  text-align: left;
}

body #main .container article #sidebar .green-box p {
  color: #fff;
}


.sidebar {

    .sidebar-top {
        background: url('../img/bg-sidebar-top.jpg') 0 0 no-repeat;
        background-size: cover;
        text-align: center;
        height: 415px;
        display: flex;
        justify-content: center;
        align-items: center;

        img {
            width: 250px;
            height: 250px;
            margin: 0 auto;
        }
    }

    .sidebar-bottom {
      background: #000000;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 1em;

      img {
        margin-right: 1em;
      }
    }
}