// This is for creating extra buttons
// Mixin for creating additional buttons:
//      button-variant($color, $background, $border)

.btn,
input[type="submit"] {
  padding: 1.5em 3em;
  font-size: 11px;
  letter-spacing: 1px;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  color: $white;
  border: transparent;
  border-radius: 0;
  position: relative;
  z-index: 1;
  overflow: hidden;
  transform: translate3d(0, 0, 0);
  position: relative;
  background: $sherpa-secondary-color;

  &:hover,
  &:focus,
  &:active,
  &:visited,
  &:hover:focus,
  &:hover:active,
  &:hover:visited {
    color: $white;
    background: $sherpa-brand-primary;

    &::after {
      background: $sherpa-brand-primary;
    }
  }

  &.btn-default {
    background: #918f8d;
    &:hover {
      background: darken(#918f8d, 10%);
    }
  }

  &.btn-outline {
    border: 2px solid $sherpa-secondary-color;
    color: #606060;
    font-size: 10px;
    padding: 1em 3em;

    &:hover,
  &:focus,
  &:active,
  &:visited,
  &:hover:focus,
  &:hover:active,
  &:hover:visited {
      background: $sherpa-secondary-color;
      color: $white;
    }

    background: transparent;
  }

  &.btn-default,
  &.btn-primary {
    &:hover,
    &:focus {
      color: $white;
      border-color: transparent;
    }
  }

  &.btn-border {
    background: transparent;
    color: $white;
    border: 3px solid $white;

    &:hover {
      color: $white;
    }
  }

  &.btn-register {
    padding: 24px 31px;
  }

  @include media-breakpoint-down(sm) {
    font-size: 9px;
  }
}

.btn-read-more {
  margin-top: auto;
  background: $sherpa-secondary-color;

  &:hover {
    color: $white;
  }

  &.btn-border {
    background: rgba(41, 41, 44, 0.63);
    color: $white;

    &:hover {
      color: $white;
      background: $sherpa-brand-primary;
    }
  }
}

.btn.active.focus,
.btn.active:focus,
.btn.focus,
.btn:active.focus,
.btn:active:focus,
.btn:focus {
  outline: 0;
}
