@mixin sm-lighten($color) {
  background-color: $color;
  &:hover,
  &:active,
  &:focus {
    background-color: lighten($color, 10%);
  }
}

@mixin sm-darken($color) {
  background-color: $color;
  &:hover,
  &:active,
  &:focus {
    background-color: darken($color, 10%);
  }
}

@mixin sm-single-color($scolor, $color) {
  background-color: $scolor;
  &:hover,
  &:active,
  &:focus {
    background-color: $color;
  }
}

@mixin expander($background) {
  cursor: pointer;
  span {
    position: relative;
    padding-right: calc(20px + 0.5em);
    &::after {
      @include svg-arrow(_trim(#cccccc));
      content: "";
      display: block;
      height: 20px;
      width: 20px;
      position: absolute;
      right: 0;
      top: 50%;
      transform: translateY(-50%);
      transition: transform ease-in-out 300ms;
      background-repeat: no-repeat;
    }
  }

  &:hover span::after {
    @include svg-arrow(_trim(#cccccc));
  }

  &.expanded {
    span::after {
      transform: translateY(-50%) rotate(90deg);
    }
  }

  span {
    display: inline-block;
  }
}

h1,
h2,
h3 {
  &.expander {
    @include expander(#ff0000);
  }
}

@mixin drop-tag() {
  position: relative;

  &::before {
    content: "";
    width: 129px;
    height: 60px;
    display: block;
    background: $sherpa-secondary-color;
    position: absolute;
    top: 0;
    @include dropshadow();
  }

  @include media-breakpoint-down(md) {
    &::before {
      height: 39px;
      width: 67px;
    }
  }
}

@mixin numberTag() {
  @include acumin();
  font-size: 151px;
  color: #e5e5e5;
  font-weight: 600;
  position: absolute;
  top: -150px;
  left: -164px;
  letter-spacing: -2px;
}
