.flex-col {
  display: flex;
  justify-content: center;
  
}

@media screen and (max-width: $grid-float-breakpoint-max) {
  .flex-row {
    flex-direction: column;
  }
}

.waypoint {
  $transition: all 0.4s ease-in-out;

  .fade-down {
    transition: all 1s ease-in-out;
    transform: translateY(-50%);
    opacity: 0;
    display: block;
  }

  &.active {
    .fade-down {
      opacity: 1;
      transform: translateY(0);
    }
  }
}

#main-content {
  padding: 6em 0;

  h2 {
    color: #041C3F;
    font-weight: 600;
    margin-bottom: 0;
  }

  h3 {
    color: #525659;
    font-weight: 300;
    margin-top: 0.5em;
    margin-bottom: 1.5em;
  }

  p {
    font-size: 17px;
  }

  .text-center {
    margin-bottom: 3em;
    p.blurb {
      margin-bottom: 0;
    }
  }

  .col-md-6 {
    p.blurb {
      margin-bottom: 2em;
    }
  }

  @media screen and (max-width: $grid-float-breakpoint-max) {
    padding: 3em 0 1em;
    background: #F2F2F2;

    p {
      text-align: center;
    }

    .text-center {
      margin-bottom: 0;

      img {
        margin-top: 2em;
      }
    }
  }
}

.brand-color {
  color: #0D4634;
}

.form-group label input {
  text-indent: 1em;
}

.form-group label span.wpcf7-form-control-wrap:before {
  content: "|";
  position: absolute;
  left: 1em;
  top: -1px;
  font-weight: 300;
  vertical-align: middle;
  color: $sherpa-dark-color;
}

.spanish-link,
.jumbotron .wpml-ls-statics-shortcode_actions {
  position: absolute;
  left: 15px;
  top: 20px;
  color: $white;
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
  font-weight: 700;

  a {
    color: $white;
  }

  @media screen and (min-width: $screen-sm-min) {
    display: none !important;
  }
}

h2.line {
  font-family: 'Montserrat', sans-serif;
  font-size: 41px;

  &:after {
    border-bottom: 3px solid $sherpa-brand-primary;
    width: 60px;
    content: '';
    display: block;
    height: 3px;
    margin: 14px 0 30px;
  }
}


.bg-rectangle {
  &::after {
    background: rgba(254, 241, 2, 0.7);
    width: 786px;
    height: 258px;
    content: '';
    display: block;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: -70px;
    opacity: 0.5;
  }

  img {
    z-index: 1;
    position: relative;
    -webkit-box-shadow: 0px 0px 20px 0px rgba(50, 50, 50, 0.75);
    -moz-box-shadow: 0px 0px 20px 0px rgba(50, 50, 50, 0.75);
    box-shadow: 0px 0px 20px 0px rgba(50, 50, 50, 0.75);
  }

  @media screen and (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
    &:after {
      right: -400px;
      left: auto;
    }
  }

  @media screen and (max-width: $grid-float-breakpoint-max) {
    text-align: center;

    &:after {
      width: 301px;
      height: 99px;
      left: 50% !important;
      transform: translateX(-50%) translateY(-50%);
    }

    img {
      max-height: 200px;
      margin: 0 auto;
    }
  }
}

.padding-top {
  justify-content: flex-start;
}

.left-home-sidebar {

  h2 {

    span {
      color: #1E242D;
    }
  }

  h2 {
    font-weight: 300 !important;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
  }

  .serif-text {
    color: #8C9BA8;
  }

  p {
    margin-bottom: 2em;
    font-size: 18px;
    font-weight: 300;
  }


  @media screen and (min-width: $screen-sm-min) {

    ul.serif-text {
      
      li { 
        font-size: 22px;
        margin-bottom: 0.25em !important;
      }
    }

    h2 {
      margin-bottom: 2em;
      line-height: 1.25;
      font-size: 41px; 

      span {
        display: block;
      }
    }

    h3 {
      margin-bottom: 1em;
      font-size: 26px;
      line-height: 1.5;
      color: #777B7F;
    }

    p.blurb {
      font-size: 25px;
      font-weight: 400;
      line-height: 1.5;
      font-family: 'Montserrat', sans-serif;
      margin-bottom: 40px;
      color: #8F9699;
    }
  }

  @media screen and (max-width: $grid-float-breakpoint-max) {
    text-align: center;
    padding-top: 30px;

    h2, h3 {
      font-size: 18px;
      line-height: 1.5;
    }
  }
}


.banner-bottom {
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  background: url('../img/bg-mid-banner.jpg') 0 0 no-repeat;
  color: $white;
  padding-top: 4em;
  padding-bottom: 4em;

  p {
    margin-bottom: 0;
    font-size: 35px;
    @include raleway();
    margin-right: 1em;
  }

  @media screen and (max-width: $screen-sm-max) {
    flex-direction: column;
    background: url('../img/bg-headless.jpg') 0 0 no-repeat;
    background-size: cover;

    p {
      margin-right: 0;
      line-height: 1.5;
      font-size: 22px;
      font-weight: 600;
      margin-bottom: 1em;
    }

  }
}

#services-bubbles {
  svg {
    height: 44px;
  }

  .circle {
    width: 381px;
    height: auto;
    align-self: center;
  }

  .circle-container {
    position: relative;

    @media screen and (min-width: $screen-lg-min) {
      &::before {
        border-left: 2px solid #E4EAEF;
        display: block;
        content: '';
        height: 216px;
        width: 2px;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: -62px;
      }
    }

    &.right {
      &::before {
        left: auto;
        right: -62px;
      }
    }
  }

  .icon-content {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  h4 {
    font-size: 26px;
    color: #777B7F;
    margin-bottom: 35px;
  }

  p {
    margin-bottom: 35px;
    font-weight: 300;
  }

  @media screen and (min-width: $screen-sm-min) {

   p {
     font-size: 19px;
     line-height: 1.25;
   }

   h4 {
     margin-bottom: 1em;
   }

   .flex-row {
     padding-top: 80px;
     padding-bottom: 30px;
   }

    .icon-content {
      padding: 0 20px 0 0;
    }

    .right.icon-content {
      padding: 0 0 0 20px;
    }

    .circle-column {
      align-items: flex-end;
      justify-content: flex-end;

      &.right {
        align-items: flex-start;
        justify-content: flex-start;
      }
    }
  }

  @media screen and (max-width: $grid-float-breakpoint-max) {

    .btn {
      width: 190px;
      padding: 20px 40px;
    }

     .icon-content div {
       overflow: auto;
       
        &:after {
          border-bottom: 2px solid #E4EAEF;
          margin: 40px 0 20px;
          display: block;
          content: '';
          width: 100%;
          height: 2px;
        }
      }

    .icon-content.broken-bone div {

      &:after {
        display: none;
      }
    }

      

    h4 {
      font-size: 20px;
      margin-bottom: 30px;
    }

    .flex-row {
      display: flex;

      .flex-col {
        order: -1;
      }

      .circle-container {
        &:before {
          display: none;
        }
      }

      .circle {
        width: 141px;
        height: 141px;
      }

      .icon-content {
        padding: 25px 35px;
      }

      p {
        display: none;
      }

      svg {
        display: none;
      }
    }
  }
}

#logos {
  background: $white;
  padding: 40px 0;

  .flex-row .flex-col {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
  }

  @media screen and (max-width: $grid-float-breakpoint-max) {
    
    .flex-col {
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: center;
      text-align: center;

      img {
        max-height: 35px;
        margin: 0 auto 20px;
      }

      .img-col {
        width: 33%;
      }
    }
  }
}

.contact-banner {
  h4 {
    color: $white;
    font-size: 20px;
  }
  margin-top: -70px;
  background: #24282D;
  z-index: 6;
  position: absolute;
  width: 100%;
  padding: 14px 0;

  @media screen and (max-width: $grid-float-breakpoint-max) {
    padding: 20px 0;
    text-align: center;

    h4 {
      font-size: 15px;
    }
  }

  .angled {
    -webkit-clip-path: polygon(0 100%, 0 0, 100% 100%);
    clip-path: polygon(0 100%, 0 0, 100% 100%);
  }
}

#bottom-section {
  background: #ED511B;
  color: $white;
  padding: 100px 0 75px;
  position: relative;
  overflow: hidden;

  @media screen and (min-width: $screen-md-min) {
    padding: 120px 0;
  }

  .serif-text {
    position: absolute;
    color: $white;
    background: #24282D;
  }

  h2 {
    font-size: 41px;
    font-weight: 300;
    line-height: 1.5;
    margin-top: 0;
  }

  p {
    font-size: 19px;
    font-weight: 300;
  }

  @media screen and (max-width: $grid-float-breakpoint-max) {
    text-align: center; 
    padding-top: 0;

    h2.line {
      font-weight: 300;
      font-size: 23px;
      margin-top: 40px;
      line-height: 1.5;
      margin-left: 40px;
      margin-right: 40px;

      &:after {
        margin: 18px auto;
        width: 33px;
      }
    }

    p {
      font-weight: 300;
      font-size: 15px;
      padding-left: 44px;
      padding-right:  44px;
      line-height: 1.5;
    }
  }
}

#floating-section {
  overflow: hidden;

  .shadow {
    background: #EDEDED;
    width: 100%;

    p {
      color: #666666;
    }
  }

  .right-home-sidebar {
    .sidbar-bottom {
      padding: 80px 50px;
    } 

    h2 {
      &:after {
        margin: 20px auto 0;
      }
    }
  }
}


.flex-row {
  display: flex;
  justify-content: center;

  .flex-col {
    display: flex;
    flex-direction: column;
    z-index: 1;
    //justify-content: center;
  }
}


@media screen and (max-width: $screen-sm-min) {
  h1,
  h2,
  h3,
  h4 {
    margin-bottom: 14px;
  }
}



@media screen and (max-width: $grid-float-breakpoint-max) {
  .flex-section {
    display: flex;
    flex-direction: column-reverse;
  }

  body {
    background: none;
  }

  .about-header {
    margin-top: 0;
    margin-bottom: 0;
  }


  #header {
    padding-top: 1.5em;
  }
}

@media screen and (max-width: $screen-sm-max) {
  p.blurb {
    font-size: 15px;
  }

  p {
    font-size: 14px;
    margin-bottom: 3em;
    font-weight: 300;
  }

  h2.header-spaced {
    font-size: 20px;
    font-weight: 600;
  }

  body #main .bg-gray p.blurb {
    font-size: 18px;
  }
}

@media screen and (max-width: $grid-float-breakpoint-max) {
  .extra-padding {
    padding-left: 20px;
    padding-right: 20px;
  }
}



@media screen and (max-width: $grid-float-breakpoint-max) {
  .expand {
    display: none;

    &.active {
      display: block;
    }
  }
}

@media (min-width: $screen-lg-min) {
  .container-half{
    width: 565px;
    margin: 0 0;
    padding: 10% 100px 10% 0;
 
    &.right {
      padding: 10% 0 10% 170px;
      width: 555px;
    }
  }
}


@media (min-width: $screen-sm-min) and (max-width: $screen-md-max) {
  .container-half {
    width: auto;
    padding: 4em;
  }
}

@media screen and (max-width: $grid-float-breakpoint-max) {
  .flex-order {
    flex-direction: column;

    .home-module-1 {
      order: 1;
    }

    .home-module-4 {
      order: 2;
    }

    .home-module-5 {
      order: 3;
    }

    .home-module-2 {
      order: 4;
    }

    .home-module-3 {
      order: 5;
    }

    .home-module-1.visible-xs {
      order: 6;
    }

    .home-module-2.visible-xs {
      order: 7;
      margin: 32px;
    }

    .home-module-6 {
      order: 8;
    }
  }
}

input[type="text"]:focus, textarea:focus {
  outline: none !important;
  box-shadow: none !important;
  border: 0 !important;
}


.testim {
  position: relative;

  div {
    width: 100%;
  }

  .next {
    width: 40px;
    height: 40px;
    display: block;
    position: absolute;


    &::after {
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 6.5px 0 6.5px 10px;
      border-color: transparent transparent transparent #e09005;
      content: '';
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translateX(-50%) translateY(-50%);
    }

    @media screen and (max-width: $screen-sm-max) {
      right: auto;
      left: 50%;
      top: auto;
      transform: translateX(-50%) rotate(90deg);
      bottom: -40px;
    }

    @media screen and (min-width: $screen-md-min) {
      top: 50%;
      transform: translateY(-50%);
      z-index: 999;
      right: 30%;
    }
  }

}

#sidebar .testim {
  .next {
    right: auto;
    left: 50%;
    top: auto;
    transform: translateX(-50%);
    bottom: -40px;
  }
}

.cycle-slide {
  display: none;

  &.active {
    display: block;
  }
}

span.brand {
  color: $sherpa-brand-primary;
}