.sub-header.top-header {
  padding-bottom: 0;
}

@media screen and (max-width: $grid-float-breakpoint-max) {
  .logo-header {
    text-align: center;
    padding-top: 8px;
    padding-bottom: 8px;
    display: flex !important;
    justify-content: center;

    .navbar-brand img {
      height: 55px;
      width: auto;
      margin: 0 auto;
    }
  }

  .navbar-brand {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
  }
}

@media screen and (min-width: $screen-sm-min) {
  .sub-header.top-header {
    background: #FFFFFF;
    padding: 0 0;
    overflow: visible;
  }

  .sub-nav {
    background: #e7e7e7;
  }

  .v-align {
    padding: 0 0 0;
  }

//   .menu-primary-container {
//     margin: 0 0 0;
//   }

  .navbar-sherpa .nav > li > a {
    color: #606060;

    &:hover {
      color: $sherpa-brand-primary;
    }
  }

  .navbar-sherpa {
    font-family: "Montserrat", sans-serif;
    text-transform: uppercase;
    min-height: 0;
    margin-top: 0;
  }
}



.breadcrumbs {
  background: #f3f4f6;

  a {
    color: #666;
  }
  
  p {
    margin: 1em 0;
    font-size: 12px;
  }
}

@media screen and (max-width: $grid-float-breakpoint-max) {
  .sub-nav {
    background: none;
  }

  .breadcrumbs {
    padding-left: 20px;
  }
}

.sub-header {
  background: #EDEFEF;
  color: #fff;
  padding: 10px 0;
  position: relative;
  overflow: visible;

  .row .v-align {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    position: relative;
    align-items: center;
  }

  @media screen and (min-width: $screen-lg-min) {
    padding: 1em 0;
    margin-top: 110px;

    #header-logo {
      width: 80px;
    }

    #header-logo img {
      position: absolute;
      width: 80px;
      height: auto;
      bottom: 20px;
    }

    #logo-container {
      height: 1px;
    }
  }

  @media screen and (min-width: $screen-lg-min) {
    

    #header-logo {
      display: none;
    }

    #menu-primary {
      #header-logo {
        display: block;
      }
    }
  }

  @media screen and (max-width: $screen-sm-max) {
    margin-top: 77px;
  }

  @media screen and (max-width: $grid-float-breakpoint-max) {
    padding: 0 0;

    .sub-header.top-header {
      background: $sherpa-dark-color;
    }

    .row .v-align {
      justify-content: flex-start;
      text-align: center;
      align-items: center;
      height: 55px;

      

      .navbar-brand {
        float: left;
        height: auto;
        position: absolute;
        top: -10px;
        z-index: 99999;
      }
    }
  }
}

.page-template-default, .blog, .error404, .post-template-default {

  @media screen and (min-width: $screen-md-min) {
      .sub-header {
        background: #F7F7F7;
      }
  }



  @media screen and (max-width: $screen-sm-max) {

      .navbar-sherpa .navbar-toggle {
      

        .icon-bar {
          background: #474747;
        }
      }

      .navbar-collapse.in,
      .navbar-collapse {
        top: 50px;
      }
  }
}

#header {
  padding-top: 1em;
  background-position-y: bottom;
  background-repeat: no-repeat;
  padding-bottom: 1em;
  position: relative;
  z-index: 1;

  @media screen and (max-width: $grid-float-breakpoint-max) {
    position: absolute;
    background: transparent;
    z-index: 100;
    width: 100%;

    .btn-license {
      width: auto;
      display: inline-block !important;
      font-size: 10px;
    }
  }

  @media screen and (min-width: $screen-sm-min) {
    padding-top: 0;
    padding-bottom: 3.5em;

    .menu-primary-container {
      padding-left: 2em;
      justify-content: center;
    }

    .navbar-collapse.collapse {
      display: flex !important;
      justify-content: flex-end;

      .menu-primary-container {
        display: flex;
        align-self: center;
        margin: 0 auto;
      }
    }

    .navbar.navbar-sherpa {
      display: flex;

      .navbar-collapse {
        flex: 1;
      }
    }

    .navbar-right {
      display: flex;
      align-items: center;
    }
  }
}

.btn-license {
  border-radius: 10px;
}
