.flex-row {
  display: flex;

  .flex-col {
    display: flex;

    &.circle-list {
      justify-content: flex-end;
    }
  }
}

/*
  Internal Pages
 */

.top-banner {
  width: 100%;
  height: 449px;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: relative;
  flex-direction: column;


  h1 {
    color: $white;
    font-size: 39px;
    margin-bottom: 1em;
  }

  .google-colors {
    position: absolute;
    z-index: 99;
    width: 100%;
    bottom: 0;
    margin-bottom: 0;
  }
}

.internal-banner {
  margin-bottom: 2em;
}

.sidebar-content {
  margin: 6em 0;
}

.banner-middle {
  background:  url('../img/bg-gradient.jpg') 0 0 no-repeat;
  background-size: cover;
  padding: 4em 0;
  margin-top: 5em;

  .testimonial {
    background: rgba(247, 247, 247, 0.9);
    padding: 3em;
    text-align: center;

    p:last-child {
      font-size: 12px;

      em {
        font-size: 10px;
      }
    }
   
    p:first-child {
      font-style: italic;
      text-align: center;
      font-size: 13px;

      &::after {
        @include svg-stars($sherpa-brand-primary);
        width: 100%;
        height: 16px;
        background-repeat: no-repeat;
        background-position: center center;
        margin: 2em auto;
        content: '';
        display: block;
      }
    }
  }
}

.banner-bottom {
  background: url('../img/bg-banner-bottom.jpg') 0 0 no-repeat;
  background-size: cover;
  color: $white;
  padding-bottom: 76px;

  h2 {
    color: $white;
  }

  @include media-breakpoint-up(md) {
    height: 833px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
  }
}

.banner-ribbon {
  @include gradient();
  color: $white;
  text-align: center;
  font-size: 22px;
  padding: 1em 0;
  font-family: 'Poppins', sans-serif;
}

.bottom-list {
  background: #F2F2F2;
  padding: 3em 0;

  ul {
    list-style: none;
    li {
      @include svg-check();
    }
  }
}

.page-bottom {
  padding: 2em 0;
}

.page-module {
  padding: 2em 0;
}


.check {
  @include svg-check();
}
/*
  End Internal Pages
 */


/*
  CF7 Validation
 */

.wpcf7-form-control.g-recaptcha.wpcf7-recaptcha {
  display: none;
}
.wpcf7-form-control.g-recaptcha.wpcf7-recaptcha {
  display: inline-block;
}

div.wpcf7-validation-errors, div.wpcf7-acceptance-missing {
  display: none;
}

div.wpcf7-validation-errors, div.wpcf7-acceptance-missing {
  border: 0;
  background: #8a2020;
  clear: both;
  padding: 1em;
  font-size: 12px;
  color: #fff !important;
  margin: 0 2em;
}

span.wpcf7-not-valid-tip {
  color: #fff;
  background: #8a2020;
  font-size: 1em;
  font-weight: normal;
  display: block;
  margin-bottom: 10px;
}

/*
  end CF7 Validation
 */