#home-main {
  position: relative;
  z-index: 1;

  .jumbotron {
    text-align: center;
    color: $white;

    h1 {
      font-family: "Montserrat", sans-serif;
    }

    h1,
    p, h2 {
      text-shadow: 1px 1px 6px rgba(0, 0, 0, 0.5);
    }

    h2 {
      margin-top: 0;
      font-size: 21px;
      letter-spacing: 8px;
      text-transform: uppercase;
      font-weight: 800;
      background: url('../img/service.png') center 0 no-repeat;
      text-indent: 9999px;
      overflow: hidden;
    }
  }
}

.bg-dark {
  background: #222222;
  color: #fff;
  padding: 4em 0;

  h2 {
    color: #fff;
    span.highlight {
      color: #00C9CE;
    }
  }

  @media screen and (max-width: $grid-float-breakpoint-max) {
    padding: 3em 0;

    p {
      text-align: center;
    }
  }
}

.gradient-border {
  overflow: hidden;
  position: relative;
  padding-left: 28px;
  margin-top: 0;
  font-family: 'Raleway', sans-serif;
  padding-top: 15px;
  padding-bottom: 15px;
  line-height: 1.5em;

    &:before {
      content: '';
      background: rgba(182,130,78,1);
      background: -moz-linear-gradient(left, rgba(182,130,78,1) 0%, rgba(229,204,164,1) 100%);
      background: -webkit-gradient(left top, right top, color-stop(0%, rgba(182,130,78,1)), color-stop(100%, rgba(229,204,164,1)));
      background: -webkit-linear-gradient(left, rgba(182,130,78,1) 0%, rgba(229,204,164,1) 100%);
      background: -o-linear-gradient(left, rgba(182,130,78,1) 0%, rgba(229,204,164,1) 100%);
      background: -ms-linear-gradient(left, rgba(182,130,78,1) 0%, rgba(229,204,164,1) 100%);
      background: linear-gradient(to right, rgba(182,130,78,1) 0%, rgba(229,204,164,1) 100%);
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b6824e', endColorstr='#e5cca4', GradientType=1 );
      width: 4px;
      display: block;
      position: absolute;
      left: 0;
      top: 0;
      height: 100%;
    }

  color: #606060;
  font-weight: 300;

  strong {
    font-weight: normal;
    color: #041C3F;
    display: block;
  }

  @media screen and (max-width: $grid-float-breakpoint-max) {
    &::before {
      display: none;
    }
    line-height: 1.5em;
    padding-left: 0;
    text-align: center;
    font-weight: 300;

    strong {
      font-weight: 700;
    }
  }
}


.waypoint {
  $transition: all 0.4s ease-in-out;

  .fade-down {
    transition: all 1s ease-in-out;
    transform: translateY(-50%);
    opacity: 0;
    display: block;
  }

  &.active {
    .fade-down {
      opacity: 1;
      transform: translateY(0);
    }
  }

  .gradient-border {

    .fade-in {
      transition: all 1s ease-in-out;
      transform: translateX(-50%);
      opacity: 0;
      display: block;
    }

    &::before {
      transition: $transition;
      transform: scale(0);
    }
  }

  &.active {
    .gradient-border {
      .fade-in {
        opacity: 1;
        transform: translateX(0);
      }

      &::before {
        transform: scale(1);
      }
    }
  }
}


.bg-shield {
  background: url('../img/bg-blur.jpg');
  background-size: cover;
  box-shadow: inset 0px -7px 10px -4px #000;
  -webkit-box-shadow: inset 0px -7px 10px -4px #000;
  -moz-box-shadow: inset 0px -7px 10px -4px #000;
  -o-box-shadow: inset 0px -7px 10px -4px #000;

  .bg {
    position: relative;

    @media screen and (min-width: $screen-md-min) {
      &::before {
        background: rgba(0, 0, 0, 0.5);
        position: absolute;
        top: 0;
        right: -15px;
        width: calc(50% + 30px);
        height: 100%;
        content: '';
        pointer-events: none;
      }
    }
  }

  .svg-check {
    width: 70px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
  }

  .st0 {
    fill:#FFFFFF;
  }

  .circle {
    //border: 4px solid #00C9CE;
    height: 134px;
    border-radius: 50%;
    width: 134px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    transition: all 0.4s ease-in-out;


    svg {
      max-height: 50%;
      max-width: 50%;
    }

    .check {
      display: block;
      transition: all 0.4s ease-in-out;
      transform: scale(0);
      width: 100%;
      height: 100%;
      border-radius: 50%;
      box-shadow: inset 0 0 0 1px #00C9CE, 0 1px 2px rgba(0,0,0,0.1);
      background: rgb(0,74,93); /* Old browsers */
      background: -moz-linear-gradient(left, rgba(0,74,93,1) 3%, rgba(0,73,92,1) 6%, rgba(0,46,61,1) 62%); /* FF3.6-15 */
      background: -webkit-linear-gradient(left, rgba(0,74,93,1) 3%,rgba(0,73,92,1) 6%,rgba(0,46,61,1) 62%); /* Chrome10-25,Safari5.1-6 */
      background: linear-gradient(to right, rgba(0,74,93,1) 3%,rgba(0,73,92,1) 6%,rgba(0,46,61,1) 62%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    }

    .check-front {
      display: block;
      transition: all 0.4s ease-in-out;
      width: 100%;
      height: 100%;
      border-radius: 50%;
      position: absolute;
      transform: scale(1);
      background: transparent;
    }

    @media screen and (max-width: $grid-float-breakpoint-max) {
      width: 50px;
      height: 50px;
      background-image: url('../img/bg-blur-mobile.jpg');
    }
  }

  .shield-icon {
    height: 100%;
    width: 100%;
    background: url('../img/icon-shield.png') center center no-repeat;
    background-size: contain;
    min-height: 133px;
  }

  .col-md-6 {
    color: #fff;

    &.bg-transparent {
      //background: rgba(0, 0, 0, 0.5);

      @media screen and (max-width: $grid-float-breakpoint-max) {
        padding: 0 0 3em;

        ul {
          padding: 0 30px;
          column-gap: 40px;
        }

        p {
          margin-top: 2em;
        }
      }

      @media screen and (min-width: $screen-xs-max) {
        padding: 3em 30px;
      }
    }

    @media screen and (min-width: $screen-sm-min) {
      padding: 3em 30px;
    }

    p {
      font-size: 21px;
    }

    ul {
      list-style: none;
      color: #fff;
      column-count: 2;
      margin-top: 2em;

      li {
        line-height: 1em;
        color: #fff;
        margin-bottom: 1em;
        transition: all 0.5s ease;
        background-position: left bottom;
        font-size: 17px;

        &:hover::before {
          background: #00C9CE;
        }
      }

      li::before {
        content: '';
        width: 16px;
        height: 16px;
        border-radius: 16px;
        border: 2px solid #00C9CE;
        display: inline;
        float: left;
        overflow: auto;
        vertical-align: middle;
        line-height: 20px;
        margin-right: .5em;
        margin-top: .25em;
      }

      span {
        overflow: hidden;
        display: block;
        line-height: 1.5em;
      }

      @media screen and (max-width: $grid-float-breakpoint-max) {
        li::before {
          width: 10px;
          height: 10px;
          border-radius: 10px;
          line-height: 1em;
        }
        li {
          font-size: 12px;
        }
      }
    }

    @media screen and (max-width: $grid-float-breakpoint-max) {
      &:first-child {
        padding: 0 0;
        margin: 3em 0 0;
      }

      &.bg-transparent {
        background: transparent;
      }
    }
  }

  //mobile
  @media screen and (max-width: $screen-sm-min) {
    .col-md-6 ul {
        padding-left: 0;
    }

    .col-md-6 p {
      font-size: 15px;
      text-align: center;
    }
  }

  //desktop
  @media screen and (min-width: $screen-sm-min) {
    .row {
      display: flex;
    }

    .col-md-6 {

      ul {
        padding-top: 1em;
        padding-left: 4em;
      }

      &.bg-transparent {
        margin-left: -15px;
      }
    }
  }
}


.bg-shield.active {
    .check {
      box-shadow: inset 0 0 0 4px #00C9CE, 0 1px 2px rgba(0,0,0,0.1);
      transform: scale(1);
    }

    .check-front {
      background: #00C9CE;
      transform: scale(1.5);
      opacity: 0;
    }
}

.bg-guard {
  box-shadow: inset 0px 4px 10px -4px #000;
  -webkit-box-shadow: inset 0px 4px 10px -4px #000;
  -moz-box-shadow: inset 0px 4px 10px -4px #000;
  -o-box-shadow: inset 0px 4px 10px -4px #000;
  p {
    padding-top: 1em;
    padding-left: 28px;
  }
}

.bg-city section {
  padding: 6em 0 8em;
  background: #F2F2F2 url('../img/cityscape.png') 0 bottom no-repeat;
  background-size: 50% auto;

  h2 {
    margin-top: 0;
  }

  @media screen and (max-width: $grid-float-breakpoint-max) {
    p {
      text-align: center;
    }
    .xs-smaller {
      font-size: 15px;
    }
    padding-top: 0;
    padding-bottom: 13em;
    background-size: contain;
  }
}

.container-fluid.bg-guard {
  padding: 5em 0;


  @media screen and (min-width: $screen-sm-min) {
    min-height: 530px;
  }

  @media screen and (min-width: $screen-md-min) {
      background: url('../img/security-guard-md.jpg') 100% 100% no-repeat;
      background-size: 50% auto;
  }

  @media screen and (min-width: $screen-lg-min) {
    background: url('../img/security-guard-md.jpg') 100% 100% no-repeat;
    background-size: 50% auto;
  }

  @media screen and (min-width: $screen-lg-min) {
    background: url('../img/security-guard.jpg') 100% 100% no-repeat;
    background-size: cover;
  }

  @media screen and (max-width: $screen-sm-max) {
    padding-bottom: 0;
    background-size: 50% auto;
    background: url('../img/security-guard-sm.jpg') 100% 100% no-repeat;

    .bg-sm {
      min-height: 200px;
    }
  }

  @media screen and (max-width: $grid-float-breakpoint-max) {
    text-align: center;
    padding-top: 3em;

    p {
      padding-top: 1em;
    }
  }
}

#contact-form {
  position: relative;
  z-index: 1;
}

#main-content {
  padding: 6em 0;

  h2 {
    color: #041C3F;
    font-weight: 600;
    margin-bottom: 0;
  }

  h3 {
    color: #525659;
    font-weight: 300;
    margin-top: 0.5em;
    margin-bottom: 1.5em;
  }

  p {
    font-size: 17px;
  }

  p.blurb {
    font-size: 21px;
  }

  .text-center {
    margin-bottom: 3em;
    p.blurb {
      margin-bottom: 0;
    }
  }

  .col-md-6 {
    p.blurb {
      margin-bottom: 2em;
    }
  }

  @media screen and (max-width: $grid-float-breakpoint-max) {
    padding: 3em 0 1em;
    background: #F2F2F2;

    p {
      text-align: center;
    }

    .text-center {
      margin-bottom: 0;

      img {
        margin-top: 2em;
      }
    }

    p.blurb, p.xs-larger {
      font-size: 17px;
    }

    p {
      font-size: 15px;
    }

    p.blurb.xs-smaller {
      font-size: 15px;
      font-weight: 400;
    }
  }
}

.brand-color {
  color: #0D4634;
}

.form-group label input {
  text-indent: 1em;
}

.form-group label span.wpcf7-form-control-wrap:before {
  content: "|";
  position: absolute;
  left: 1em;
  top: -1px;
  font-weight: 300;
  vertical-align: middle;
}

.spanish-link,
.jumbotron .wpml-ls-statics-shortcode_actions {
  position: absolute;
  left: 15px;
  top: 20px;
  color: $white;
  font-family: "Raleway", sans-serif;
  font-size: 12px;
  font-weight: 700;

  a {
    color: $white;
  }

  @media screen and (min-width: $screen-sm-min) {
    display: none !important;
  }
}

#contact-form {
  text-align: center;
  background-position-y: bottom;
  background-color: #041C3F;

  .ajax-loader {
    position: absolute;
  }

  form {
    text-align: center;
    color: $white;
    display: inline-block;

    @media screen and (min-width: $screen-sm-min) {
      margin: 2em auto;
    }

    h1,
    h2,
    h3,
    h4 {
      color: $white;
    }

    h4 {
      font-family: "Raleway", sans-serif;
      margin-bottom: 1em;

      .light {
        font-weight: 300;
      }
    }

    .form-group {
      display: flex;
      justify-content: space-around;
      margin: 0 auto 1em;

      label {
        flex: 1;
        width: 100%;
        margin-bottom: 0;

        input {
          width: 100%;
        }
      }

      .col-md-6 {
        margin: 0 auto;
      }
    }

    input[type="text"],
    input[type="email"],
    input[type="tel"],
    textarea {
      background: rgba(255, 255, 255, 0.62);
      border: 0;
      color: $white;
      padding: 1em;

      &::placeholder {
        color: $white;
        font-weight: normal;
        &::before {
          content: "| ";
          display: block;
        }
      }
    }

    textarea {
      overflow: hidden;
      height: 2em;
      padding-bottom: 1.25em;
    }

    input[type="submit"] {
      width: auto;
      margin-left: 1em;
    }

    p {
      margin-bottom: 2em;
    }
  }
}


#home-bg {
  background-repeat: no-repeat;
  background-size: cover;


}

.icon-section {
  h4 {
    margin-top: 4em;
    font-size: 24px;
    margin-bottom: 0;
  }

  p.blurb {
    font-size: 22px;
    max-width: 80%;
    text-align: center;
    margin: 0 auto 1em;
    line-height: 1.5em;
  }

  .icon-header {
    background: $sherpa-brand-primary;

    .icon {
      max-height: 50px;
      margin: 1.5em;
    }

    .icon-bottom {
      background: #DDDDDD;
      color: $sherpa-brand-primary;
      text-align: left;
      padding: .5em 32px;
      display: flex;
      justify-content: space-between;
      font-size: 20px;
      align-items: center;
    }
  }

  p {
    padding: 1em 32px;
    text-align: left;
    line-height: 1.75em;
    font-size: 16px;
    color: #666666;
  }

  .icon-plus {
    text-indent: -9999px;
    background: url('../img/icon-plus.png') center center no-repeat;
    width: 20px;
    height: 20px;
    display: block;
    background-size: contain;
  }
}

.banner {
  color: $white;
  max-width: 584px;
  margin: 2em auto;
  text-align: center;
  padding: 2em 0;
  letter-spacing: 2px;

  .row {
    display: flex;
    align-items: center;
  }

  p {
    margin-bottom: 0;
    font-size: 22px;
    margin-right: 0;
  }

  background-size: cover;

  @media screen and (max-width: $screen-sm-max) {
    background: url("../img/bg-banner-sm.jpg");
  }

  @media screen and (min-width: $screen-md-min) {
    background: url("../img/bg-banner.png");
  }
}


#about-section {
  img {
    margin-top: 0;
  }

  p {
    color: #808080;
  }
}


#dark-section {
  padding: 2em 0;
  background: #1a1a1a;
  color: #b3b3b3;

  br {
    display: none;
  }

  img {
    margin: 0 0;
  }

  h3 {
    color: $white;
    margin-top: 2.5em;
  }

  h4 {
    color: $white;
  }
}


@media screen and (max-width: $screen-sm-min) {
  h1,
  h2,
  h3,
  h4 {
    margin-bottom: 14px;
  }

  #about-section {
    h3 {
      font-size: 22px;
    }
  }

  #dark-section {
    text-align: center;
    img {
      max-height: 200px;
      margin: 0 auto 1em;
    }

    h3 {
      margin-top: 0;
    }
  }

  .jumbotron {
    margin-bottom: 0;

    h1 {
      font-size: 1.5em;
    }

    p span, h2 span {
      display: block;
    }

    .jumbo-content {
      text-align: center;

      .block-center {
        margin: 0 auto 2.5em;
      }

      @media screen and (max-width: $grid-float-breakpoint-max) {
        a, button {
          display: block;
          width: 275px;
          max-width: 100%;
          margin: 0 auto;
          font-size: 13px;
        }
      }
    }
  }

  #contact-form {
    text-align: center;
    background: $sherpa-brand-primary;

    padding: 0;

    .btn-lrg {
      margin-top: 2em;
    }

    form {
      margin: 2em auto;
      padding: 0;
      text-align: center;
      color: $white;
      display: inline-block;

      h1,
      h2,
      h3,
      h4 {
        color: $white;
      }

      h4 {
        margin-bottom: 1.5em;
      }

      .form-group {
        display: block;
        max-width: 100%;
        justify-content: space-around;
        margin: 0 auto;

        label {
          flex: 1;
          width: 100%;

          input {
            width: 100%;
          }
        }

        .col-md-6 {
          margin: 0 auto;
        }
      }

      input[type="text"],
      input[type="email"],
      input[type="tel"],
      textarea {
        background: rgba(255, 255, 255, 0.5);
        border: 0;
        color: $white;
        padding: 1em;
        margin-bottom: 1em;

        &::placeholder {
          color: $white;
          font-weight: normal;
          &::before {
            content: "| ";
            display: block;
          }
        }
      }

      textarea {
        overflow: hidden;
        height: 2em;
        padding-bottom: 1.25em;
      }

      input[type="submit"] {
        margin-top: 1em;
        width: 148px;
        margin-left: 0;

        @media screen and (max-width: $grid-float-breakpoint-max) {
          width: 125px;
        }
      }

      p {
        margin-bottom: 1.75em;
      }
    }

    .textwidget {
      padding: 0;

      .form-group {
        padding: 0 1.5em;
      }
    }
  }
}

.jumbotron.contact-hero {
  background: #041C3F;
  color: #fff;
  margin-bottom: 0;

  p {
    font-weight: 300;
    font-family: 'Roboto', sans-serif;
  }

  h3 {
    color: #fff;
    font-weight: 400;
    margin-bottom: 1em;
  }

  .btn-lg {
    width: 242px;
    font-size: 15px;
    margin-top: 1em;
    padding: 15px 16px;

    @media screen and (max-width: $grid-float-breakpoint-max) {
      width: 173px;
      font-size: 13px;
    }
  }
}

@media screen and (min-width: $screen-sm-min) {

  .icon-section {

    .icon-row {
      display: flex;
      flex-wrap: wrap;
    }

    .col-md-3 {
      padding: 0 0 0 10px;
      margin-bottom: 10px;
    }

    p.blurb {
      margin-bottom: .5em;
    }
  }

  #dark-section {
    .row {
      display: flex;
    }
    h3 {
      font-size: 28px;
      margin-top: 0;
    }

    .col-md-6 {
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: center;
    }
  }


  #home-main .jumbotron {
    font-size: 24px;

    h1 {
      font-size: 32px;
      font-weight: 600;
    }

    h2 {
      margin-top: 0;
      font-size: 21px;
      letter-spacing: 8px;
      text-transform: uppercase;
      font-weight: 800;
      background: url('../img/service.png') center 0 no-repeat;
      text-indent: 9999px;
    }
  }

  .home {
    #contact-form {
      //margin-top: 4.5em;

      h4 {
        font-size: 24px;
      }

      form {
        margin: 3em 0;
        max-width: 811px;

        .form-group {
          margin-top: 2em;
        }

        .btn-success {
          min-width: 242px;
          max-height: 47px;
        }
      }
    }

    #about-section {
      .row {
        display: flex;
      }

      .row .col-md-6 {
        display: flex;
        justify-content: center;
        flex-direction: column;
        h3 {
          font-size: 30px;
        }

        p.blurb {
          font-size: 25px;
          margin-top: 1em;
          padding-right: 2em;
        }
      }

      .row .col-md-6 {
        font-size: 20px;
        padding-top: 3em;
      }

      br {
        display: none;
      }
    }



    .block-left {
      background: url('../img/what-to-do-next.png') 0 0 no-repeat;
      width: 216px;
      height: 228px;
      position: absolute;
      left: 54px;
      top: 84px;
    }

    .banner-hero {
      margin-bottom: 6em;
    }

    .banner-bg {
      padding-top: 203px;
      background: url('../img/handcuffs.jpg') 0 0 no-repeat;
      position: relative;
    }

    .banner {
      max-width: 1170px;
      height: 187px;
      font-size: 25px;
      justify-content: center;
      align-items: center;
      display: flex;
      margin-top: 0;
      margin-bottom: 0;
      color: #666666;
      background: #F2F2F2;
      padding: 56px 56px 56px 250px;
      font-family: 'Roboto', sans-serif;

      .btn {
        margin-left: 50px;
        text-transform: uppercase;
      }
    }

    .banner-bottom {
      background: $sherpa-brand-primary;
      color: $white;
      text-align: center;
      padding: 0.5em;
      font-family: 'Roboto', sans-serif;
      font-size: 20px;
    }
  }

  .jumbotron.contact-hero {
    padding: 5.5em 0;

    p {
      font-size: 19px;
    }
  }
}

.about-header {
  background: url("../img/about-header.jpg") no-repeat;
  min-height: 300px;
  background-size: cover;
  background-position: center;
  margin: 4em 0 6em;

  .jumbotron {
    padding: 13em 0 11em;
    color: $white;
    text-align: center;
    margin-bottom: 0;

    h2 {
      margin: 0 auto 2em auto;
      line-height: 1.5em;
      max-width: 70%;
    }
  }
}

@media screen and (min-width: $screen-md-min) {
  .about-header {
    margin: 4em 0 6em;

    .jumbotron {
      padding: 13em 0 11em;

      h2 {
        margin: 0 auto 1em auto;
      }
    }

    .btn-primary {
      padding: 1.25em 2em;
    }
  }
}


@media screen and (max-width: $grid-float-breakpoint-max) {
  .flex-section {
    display: flex;
    flex-direction: column-reverse;
  }

  #home-main .jumbotron {
    position: relative;
    padding: 0;

    .jumbo-content {
      flex: 1;
      height: 100%;
      padding: 5em 0 6em;
      overflow: auto;
      //background: -moz-linear-gradient(left, rgba(125,185,232,0) 0%, rgba(35,44,104,1) 100%); /* FF3.6-15 */
      //background: -webkit-linear-gradient(left, rgba(125,185,232,0) 0%,rgba(35,44,104,1) 100%); /* Chrome10-25,Safari5.1-6 */
      //background: linear-gradient(to right, rgba(125,185,232,0) 0%,rgba(35,44,104,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
      //filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#007db9e8', endColorstr='#041C3F',GradientType=1 ); /* IE6-9 */

      p {
        margin-bottom: 3em;
      }
    }

    .mobile-bg {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }

    span {
      display: block;
    }
  }

  body {
    background: none;
  }

  .about-header {
    margin-top: 0;
    margin-bottom: 0;
  }

  #home-bg section#contact-for, #landing-bg section#contact-formm {
    padding-bottom: 2em;

    h4 {
      margin-bottom: 1em;
    }
  }

  #header {
    padding-top: 1.5em;
  }

  #home-main {
    .jumbotron {
      overflow: auto;

      h1 {
        font-size: 2em;
      }

      p {
        font-size: 1.25em;
      }
    }
  }

  .banner-bg {
    padding-top: 113px;
    background: url('../img/handcuffs.jpg') center center no-repeat;
    background-size: cover;
    position: relative;
  }

  .banner-hero {
    padding: 2em;
    margin-top: 4em;
    margin-bottom: 2.2em;
  }

  .block-left {
    background: url('../img/what-to-do-next.png') 0 0 no-repeat;
    width: 95px;
    height: 95px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: -35px;
    background-size: contain;
  }

  .banner {
    height: auto;
    font-size: 11px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    display: flex;
    margin-top: 0;
    margin-bottom: 0;
    color: #666666;
    background: #F2F2F2;
    padding: 2em;
    font-family: 'Roboto', sans-serif;

    p {
      font-size: 12px !important;
      padding: 0;
      margin-top: 0;
      margin-bottom: 0;
    }

    .btn {
      margin-left: 0;
      text-transform: uppercase;
    }
  }

  .banner-bottom {
    background: #041C3F;
    color: #fff;
    text-align: center;
    padding: 1em;
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
  }

  .icon-section {
    padding-bottom: 2em;

    h4 {
      margin-top: 2em;
      font-size: 18px;
    }

    p.blurb {
      font-size: 15px;
      padding: 0;
      margin: 1em auto 2em;
    }

    .icon-row {
      display: flex;
      flex-wrap: wrap;
      padding: 0 20px;

      .col-xs-6 {
        padding: 0;
        margin-bottom: 10px;

        &:nth-child(2n) {
          padding-left: 5px;
        }

        p {
          display: none;
        }
      }


      .icon-container {
        width: 50%;
        flex: 1;
        margin: 0 .5em 1em 0;
        -webkit-box-shadow: 5px 6px 16px -4px rgba(0,0,0,0.45);
        -moz-box-shadow: 5px 6px 16px -4px rgba(0,0,0,0.45);
        box-shadow: 5px 6px 16px -4px rgba(0,0,0,0.45);
      }

      .icon-bottom {
        font-size: 12px;
        padding: .5em 1.5em;

        .icon-plus {
          width: 10px;
          height: 10px;
        }
      }

      .icon-header {
        text-align: center;

        .icon {
          margin: 1em auto;
          max-height: 30px;
        }
      }
    }
  }


  .jumbotron.contact-hero {
    padding: 3.5em 1em;

    h3 {
      font-size: 18px;
      margin-bottom: 1.5em;
    }

    p {
      font-size: 15px;
    }
  }

  .about-header {
    display: flex;
    justify-content: center;
    align-items: center;

    .jumbotron {
      padding: 6em 0;

      h2 {
        font-size: 14px;
        max-width: 75%;
      }
    }
  }
}

@media screen and (min-width: 768px) {
  .page-template-page-home #header .navbar-collapse.collapse .menu-primary-container {
    margin-top: 2em;
  }
}

.page-template-page-home p {
  font-size: 17px;

  @media screen and (max-width: 768px) {
    font-size: 15px;
  }
}