.sidebar-content {


  @include media-breakpoint-between(sm, md) {
    .flex-row {
      flex-direction: column;
    }

    .img-responsive {
      max-width: 30%;
      height: auto;

      img {
        max-width: 100%;
        height: auto;
      }
    }
  }
}

@include media-breakpoint-up(md) {
  .page-template-page-home {
    #sidebar {
      width: 506px;
      padding: 3.5em 6em 10.5em
    }
  }
}


#sidebar {
  float: right;
  width: 417px;
  margin-left: 4em;
  text-align: center;
  position: relative;
  @include dropshadow();
  padding: 2em 4em 10em;
  background: $white url('../img/bg-sidebar-bottom.png') center 100% no-repeat;


  h2 {
    color: #000000;
    @include serif();
    font-size: 29px;
    position: relative;

    &::before, &::after {
      content: '';
      height: 1px;
      width: 163px;
      display: block;
      margin: .95em auto;
      background: #ED1D25;
    }

    &::after {
      margin-top: 1em;
    }
    
    strong {
      color: $sherpa-brand-primary;
    } 

    margin-bottom: 1em;
  }

  p {
    font-size: 13px;
  }

  .btn {
    margin-top: 2em;
  }

}


body #main .container article #sidebar {
  width: 356px;
  padding: 0 0 10em;
  margin-left: 105px;

  h2 {
    color: #333333;
    margin-top: 2em;
    font-size: 27px;
    line-height: 1.35em;
  }

  .btn {
    margin-top: 0;
    font-size: 10px;
  }

  padding-bottom: 6em;

  @include media-breakpoint-down(md) {
    margin-left: 0;

  }
}


@include media-breakpoint-down(md) {
  #sidebar {
    margin-top: 2em;
    float: none;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2em;
    width: 100%;
    padding: 2em 2em 6em;

    h2 {
      font-size: 25px;
      line-height: 1.5;

      &::before, &::after {
        margin: .5em auto;
      }
    }

    .btn {
      margin-top: 1.5em;
    }
  }

  body #main .container {
    margin-top: 3em;

    .content {
      padding-left: 15px;
      padding-right: 15px;
      text-align: center;

      ul:not(.icon-list) {
        padding-left: 0;
        text-align: left;

        li {
          padding-left: 0;
          margin-left: 0;
        }

        li::before {
          display: none;
        }
      }
    }
  }
}

#sidebar {
  


  @include media-breakpoint-down(xs) {
    clear: both;
  }
}



.sidebar {
  width: 412px;
}
