.banner-header {
    background: url('../img/bg-banner-header.jpg') 0 0 no-repeat;
    background-size: cover;
    height: 269px;
    display: flex;
    justify-content: center;
    align-items: center;

    .col-xs-12 {
        text-align: center;
    }

    .navbar-brand {
        display: block;
        margin: 0 auto;
    }

    img {
        height: 200px;
        margin: 0 auto;
    }
}