// This is for creating extra buttons
// Mixin for creating additional buttons:
//      button-variant($color, $background, $border)


.btn { 
  padding: 16px 38px;
  font-size: 11px;
  letter-spacing: 1px;
  font-family: 'Montserrat', sans-serif;
  transition: background-color 0.2s ease-in-out;
  background: $sherpa-brand-primary;

  &.btn-default {
    background: #E3E3E5;
    color: $sherpa-dark-color;
  }

  


  &.btn-default, &.btn-primary {
    &:hover, &:focus {
      background: $sherpa-tertiary-color;
      color: $white;
      border-color: transparent;
    } 
  }

  &.btn-border {
    background: transparent;
    color: $white;
    border: 3px solid $white;

    &:hover {
      color: $white;
      background: $sherpa-brand-primary;
    } 
  }

  &.btn-register {
    padding: 24px 31px;
  }
}
 

.btn-read-more {
  &.btn-border {
    background: rgba(41,41,44,0.63);
    color: $white;

    &:hover {
      color: $sherpa-dark-color;
      background: $sherpa-brand-primary;
    } 
  }
}
 
.btn.active.focus, .btn.active:focus, .btn.focus, .btn:active.focus, .btn:active:focus, .btn:focus {
  outline: 0;
}