// This is for creating extra buttons
// Mixin for creating additional buttons:
//      button-variant($color, $background, $border)


.btn { 
  padding: 16px 38px;
  font-size: 12px;
  letter-spacing: 1px;
  font-family: 'Montserrat', sans-serif;
  transition: background-color 0.2s ease-in-out;
  background: $sherpa-brand-primary;
  font-weight: 600;

  &.btn-default {
    background: #918F8D;
    &:hover {
      background: darken(#918F8D, 10%); 
    }
  }

  &.btn-outline {
    border: 2px solid $sherpa-brand-primary;
    color: $sherpa-brand-primary;
    padding: 16px 30px;
    font-size: 10px;

    &:hover {
      background: $sherpa-brand-primary;
      color: $white;
    }
    
    background: transparent;
  }
  


  &.btn-default, &.btn-primary {
    &:hover, &:focus {
      color: $white;
      border-color: transparent;
    }
  }

  &.btn-border {
    background: transparent;
    color: $white;
    border: 3px solid $white;

    &:hover {
      color: $white;
    } 
  }

  &.btn-register {
    padding: 24px 31px;
  }
}
 

.btn-read-more {
  &.btn-border {
    background: rgba(41,41,44,0.63);
    color: $white;

    &:hover {
      color: $white;
      background: $sherpa-brand-primary;
    } 
  }
}
 
.btn.active.focus, .btn.active:focus, .btn.focus, .btn:active.focus, .btn:active:focus, .btn:focus {
  outline: 0;
}