.flex-row {
  display: flex;

  .flex-col {
    display: flex;

    &.circle-list {
      justify-content: flex-end;
    }
  }
}

#breadcrumbs {
  font-style: italic;
  @include serif();
  color: #B1B1B2;
  margin-top: 22px;
  margin-bottom: 25px;

  a {
    color: #B1B1B2;
  }

  
}

/*
  Internal Pages
 */

/*
  End Internal Pages
 */

/*
  CF7 Validation
 */

.wpcf7-form-control.g-recaptcha.wpcf7-recaptcha {
  display: none;
}
.wpcf7-form-control.g-recaptcha.wpcf7-recaptcha {
  display: inline-block;
}

div.wpcf7-validation-errors,
div.wpcf7-acceptance-missing {
  display: none;
}

div.wpcf7-validation-errors,
div.wpcf7-acceptance-missing {
  color: #ff0000;
  border: 1px solid #ff0000;
  color: #ff0000;
  padding: 1em;
  text-align: center;
  font-size: 1em;
  font-weight: normal;
  display: block;
  margin-left: 0;
}

span.wpcf7-not-valid-tip {
  border: 1px solid #ff0000;
  color: #ff0000;
  padding: 1em;
  text-align: center;
  font-size: 1em;
  font-weight: normal;
  display: block;
  margin-bottom: 10px;
}

/*
  end CF7 Validation
 */

/*

Animations

 */

@include media-breakpoint-up(md) {
  .fade-down {
    opacity: 0;
    transform: translateY(-100px);
    transition: all $transitionTime ease-in-out;
  }

  .active {
    .fade-down {
      opacity: 1;
      transform: translateY(0);
    }
  }

  .fade-in-left {
    opacity: 0;
    transform: translateX(-100px);
    transition: all $transitionTime ease-in-out;
  }

  .active {
    .fade-in-left {
      opacity: 1;
      transform: translateX(0);
    }
  }

  .icon-row .flex-col {
  }

  .active .icon-row .flex-col {
  }
}

@include media-breakpoint-down(md) {
  .extra-padding {
    padding: 0 15px;
  }

  .fade-down {
    opacity: 1;
    transform: none;
  }

  .br-xs {
    display: block;
  }
}

@include media-breakpoint-up(md) {
  .br-md {
    display: block;
  }
}

.navbar-fixed-bottom .navbar-collapse,
.navbar-fixed-top .navbar-collapse {
  max-height: none;
}

body {
  background: #fff;

  &.blog #main,
  &.post-template-default #main,
  &.error404 #main {
    padding-left: 15px;
    padding-right: 15px;
    margin-top: 100px;

    @include media-breakpoint-up(md) {
      h1 {
        margin-bottom: 1em;
      }
    }

    .col-md-6 img {
      height: 214px;
    }
  }

  @include media-breakpoint-down(xs) {
    &.blog #main,
    &.post-template-default #main {
      img {
        height: auto;
      }
    }
  }

  .edit-screen {
    position: absolute;
    width: 480px;
    left: 0;
    top: 46px;
    z-index: 99;
    background-repeat: no-repeat;
    background-size: 480px auto;
    opacity: 0.5;
  }

  .testimonials-widget {
    .btn {
      width: 148px;
    }
  }

  #main {
    .container {
      .navbar-right {
        li.menu-item {
          a {
            float: left;
          }

          &.directions a {
            @include svg-map(137ccd);

            &:hover {
              @include svg-map($sherpa-svg-color-hover);
            }
          }

          &.contact {
            margin-left: 0;
            margin-right: 0;
          }

          &.contact a {
            @include svg-contact(137ccd);
            margin-left: 20px;
            margin-right: 20px;

            &:hover {
              @include svg-contact(F25F2B);
            }
          }

          &.directions:after {
            background: #53565b;
          }
        }
      }

      article {
        .ngg-galleryoverview {
          width: auto !important;
          clear: none !important;
        }

        .columns {
          display: flex;
          flex-direction: row;

          > div {
            width: 50%;
          }
        }

        h1 {
          color: #606060;
          font-size: 32px;

          span {
            margin-top: 0;
          }
          &.no-margin {
            margin-bottom: 0;
          }
        }

        h2,
        h3 {
          color: #53565b;
        }

        p.blurb {
          font-weight: 300;
          font-family: "Poppins", sans-serif;
          font-size: 23px;
          color: #606060;
        }

        p {
          font-weight: 300;
          color: #606060;
          font-family: 'Roboto', sans-serif;
          font-size: 17px;
          line-height: 2;

          strong {
            font-weight: 600;
          }
        }

        h2 {
          font-size: 25px;
          color: $sherpa-brand-primary;
        }

        h3 {
          font-size: 25px;
        }

        h3,
        h2 {
          ul {
            line-height: 1;
            font-family: "Roboto", sans-serif;
          }
        }

        ul {
          color: #606060;
        }

        @include media-breakpoint-up(md) {
          h1 {
            margin-top: 0;
            line-height: 1.5;
          }
        }

        @include media-breakpoint-down(sm) {
          .columns {
            flex-direction: column;
            display: flex;

            > div {
              width: 100%;
            }
          }
        }

        @include media-breakpoint-down(md) {
          h1 {
            text-align: center;
            line-height: 1.5;
            margin-top: 0;
            font-size: 19px;
            margin-bottom: 1em !important;
          }

          ul {
            font-size: 15px;
          }

          h3,
          h2 {
            &.list {
              text-align: center;
            }

            ul {
              padding-left: 0;
              list-style: none;
              margin-bottom: 0;
            }

            ul li {
              text-align: center;
              margin-bottom: 1em;
              font-size: 14px;
            }
          }
        }

        h1,
        h2,
        h3 {
          ul {
            display: none;
          }

          &.expanded ul {
            display: block;
          }
        }

        .page-bottom {
          padding-top: 2em;

          h2 span {
            font-size: 15px;
            display: block;
            margin-top: 0;
          }

          strong.header {
            color: $sherpa-brand-primary;
          }

          @include media-breakpoint-down(xs) {
            padding-top: 0;
          }
        }

        .banner-bottom {
          clear: both;
          position: relative;
          position: relative;
          color: #fff;
          display: flex;
          justify-content: flex-end;
          align-items: center;
          overflow: hidden;
          padding: 0 0;
          text-align: center;
          margin: 0 auto;
          background-size: cover;
          background: url("../img/bg-banner-bottom.jpg") 0 0 no-repeat;

          @include media-breakpoint-down(md) {
            margin-top: 2em;
          }

          @include media-breakpoint-up(md) {
            height: 305px;
          }

          .banner-title {
            z-index: 1;
            position: absolute;
            font-size: 21px;
            @include raleway();
            width: 100%;
            height: 100%;
            justify-content: center;
            align-items: center;
            margin-left: auto;
            font-weight: 400;
            display: flex;
            flex-direction: column;
            color: #fff;

            .title {
              font-family: "Poppins", sans-serif;
              font-weight: 700;
              font-size: 86px;
              display: flex;
              justify-content: center;
              align-items: center;
              line-height: 1;

              img {
                margin-left: 0.15em;
                margin-right: 0.15em;
                height: 45px;
              }

              span {
                display: block;
                font-weight: 300;
                @include raleway();
                font-size: 41px;
                color: #999b95;
                margin-bottom: 1em;
              }
            }

            @include media-breakpoint-down(md) {
              .title {
                font-size: 41px;
                display: flex;
                justify-content: center;
                align-items: center;
                margin-bottom: 0.25em;

                img {
                  margin-left: 0.25em;
                  margin-right: 0.25em;
                }
              }
            }

            p {
              font-size: 25px;
              margin: 0 0;
              padding: 0 0;
              line-height: 1.5;
              font-weight: 400;
              color: #29292c;
            }

            strong {
              color: $sherpa-brand-primary;
              font-size: 21px;
              font-weight: 500;
              font-family: "Roboto", sans-serif;
            }

            .btn {
              margin-left: 0;
              margin-top: 1em;
            }

            a {
              margin-top: 1em;
            }

            @include media-breakpoint-down(md) {
              font-size: 1em;
              display: block;
              margin-left: auto;
              margin-right: auto;
              width: 100%;
              flex-direction: column;
              padding: 1em;
              color: #33373f;

              strong {
                display: block;
              }

              .banner-title {
                margin: 0 auto;
                flex-direction: column;
              }
            }

            @include media-breakpoint-down(md) {
              position: relative;

              .btn {
                margin: 3em auto;
                display: block;
                background: $sherpa-secondary-color;
              }
            }
          }

          img {
            z-index: -1;
          }

          @include media-breakpoint-down(md) {
            justify-content: center;
            align-items: center;
            flex-direction: column;
            height: auto;
            max-height: 100%;
            background: none;
            margin-bottom: 0;
          }

          @include media-breakpoint-down(xs) {
            flex-direction: column-reverse;
          }
        }

        h1 {
          margin-bottom: 1em;
          line-height: 1.5;
          font-size: 45px;
          color: #000;
          @include serif();
        }

        @include media-breakpoint-down(md) {
          h1 {
            font-size: 22px;
          }

          p.blurb {
            font-size: 15px;
          }

          h2 {
            font-size: 19px;
          }

          p {
            font-size: 15px;
          }
        }

        min-height: 10em;
        padding: 0 0 3em;

        .blurb {
          font-size: 22px;
          margin-bottom: 2em;
          font-weight: 300;
          line-height: 1.5;
        }
      }

      strong.header {
        font-size: 23px;
        font-weight: 300;
        margin-bottom: 0;
        display: block;
        font-family: "Raleway", sans-serif;
        color: $sherpa-dark-color;
      }

      .flex-row strong.header {
        margin-bottom: 0;
      }

      .sidebar-content {
        ul:not(.flex-row) {
          list-style: none;
          padding-left: 1em;

          li {
            position: relative;
            padding-left: 1em;

            h3 {
              font-size: 1em;
              margin-bottom: 0;
            }
          }

          li::before {
            content: "";
            border-radius: 100%;
            background: #4f4f4f;
            width: 5px;
            height: 5px;
            position: absolute;
            left: 0;
            display: block;
            top: 0.5em;
          }

          &.double-list {
            > li {
              padding-left: 0;
              width: 50%;

              &::before {
                display: none;
              }
            }

            @include media-breakpoint-down(sm) {
              > li {
                width: 100%;
              }

              margin-bottom: 0;
            }
          }
        }
      }

      ul,
      ol {
        margin-bottom: 3em;
        margin-left: 0;
      }

      h2 {
        margin-bottom: 1em;
      }

      ul li,
      ol li {
        margin-bottom: 0.5em;
        position: relative;
        line-height: 1.5;
        font-weight: 300;
      }

      h2,
      h3 {
        font-size: 16px;
        font-weight: 400;
        margin-bottom: 1.5em;

        &.no-margin {
          margin: 0 0;
        }

        &.expander {
          margin-bottom: 2.5em;
        }

        @include media-breakpoint-down(xs) {
          &.expander {
            margin-bottom: 2.5em;
            text-align: center;
          }
        }
      }

      .page-content h2,
      .page-content h3 {
        font-weight: 300;
        line-height: 1.5;
        color: #666666;
        opacity: 0.75;
        @include serif();
        font-style: italic;

        &.expander {
          @include expander($sherpa-brand-primary);
          color: #000000;
          font-size: 28px;
        }
      }

      .page-content .blog-post {
        text-align: center;

        h3 {
          margin-top: 1em;
          margin-bottom: 0;
        }
      }

      @include media-breakpoint-up(sm) {
        article {
          .map-container {
            width: 50%;
          }

          p {
            margin-bottom: 3em;
          }

          p,
          ul {
            font-size: 13px;
            font-family: "Roboto", sans-serif;
          }

          .contact-info p {
            font-size: 14px;
            margin: 0.75em 0;
            color: #606060;
          }
        }
      }
    }
  }
}

body #main {
  article p.no-margin {
    margin-bottom: 0;
  }

  article ul {
    padding-left: 0;
    margin-top: 0;
    margin-bottom: 3em;
    margin-left: 1em;

    li ul {
      margin-top: 1em;
    }
  }

  .page-top {
    background: #f2f2f2;
    text-align: center;
    padding: 3em 0;

    @include media-breakpoint-up(md) {
      padding: 5.5em 0;

      h2 {
        line-height: 1.8;
        margin-top: 0;
        padding-left: 100px;
        padding-right: 100px;
      }

      p {
        line-height: 2;
        font-size: 19px;
      }

      p.blurb {
        line-height: 1.5;
        font-size: 25px;
        margin-bottom: 0;
      }
    }

    h2 {
      color: #7a7a7a;
    }

    p {
      color: #7a7a7a;
    }

    .container {
      p.blurb {
        margin-bottom: 1em;
      }
    }
  }
}

@include media-breakpoint-down(md) {
  .page-template-default,
  .blog,
  .error-404,
  .post-template-default {
    #header {
      position: relative;
    }

    .sidebar-content {
      margin-top: 0;
    }
  }

  .sidebar-content {
    display: flex;
    flex-direction: column;
    padding-bottom: 0;
  }

  #sidebar {
    order: 2;
  }

  .map-container {
    width: 100%;
  }

  body #main .container article {
    padding-bottom: 0;
  }

  .row {
    flex-direction: column;

    .col {
      flex: 1;
    }
  }
}

@include media-breakpoint-up(sm) {
  body #main .container .flex-wrap article {
    margin-bottom: 2em;
  }
}

@include media-breakpoint-up(sm) {
  body #main .container .flex-wrap article {
    padding-left: 2em;
    display: flex;
    flex-direction: column;

    &:first-child {
      padding-left: 0;
    }
  }
}

@include media-breakpoint-up(md) {
  .two-column {
    column-count: 2;
  }

  .page-template-default,
  .blog,
  .error-404,
  .post-template-default {
    .internal-banner .navbar-brand {
      margin-left: -14px;
    }
  }
}

body:not(.page-template-page-home) {
  background: url("../img/bg-internal-top.jpg") right 0 no-repeat;
  background-size: contain;

  .navbar-right {
    margin-left: auto;
  }
}

@include media-breakpoint-up(md) {
  .scale-up {
    transition: all $transitionTime ease-in-out;
  }
}

span.brand {
  color: $sherpa-brand-primary;
}