
.sidebar-content {
  margin-top: 45px;

  .post-title {
    font-weight: 400;
    font-size: 39px;
    color: #1E242D;
  }

  @media screen and (min-width: $screen-md-min) {
    .page-content, #sidebar {
      padding-top: 10px;
    }
  }
}

body #main .container article #sidebar {
  float: right;
  max-width: 425px;
  margin-left: 3em;

  .banner {
    padding: 25px 0;
    margin: 0 0;
    font-size: 1em;
    height: auto;

    .btn {
      margin-left: 0;
    }

    .flex-row {
      display: flex;
      justify-content: center;

      .col-md-6 {
        display: flex;
        flex-direction: column;
        //justify-content: center;
      }
    }

    h3 {
      width: 100%;
      display: flex;
      justify-content: space-between;
      font-size: 14px;
      padding-left: 20px;
      padding-right: 20px;

      span {
        color: $white;
      }

      img {
        display: none;
      }

      &:after {
        content: '';
        @include svg-arrow(#fff);
        width: 20px;
        height: 20px;
        display: inline-block;
        float: right;
      }

      strong {
        display: block;
      }
    }

    .flex-row {
      flex-direction: row;
    }

    .btn {
      padding: 10px 17px;
      margin-top: 10px;
    }

  }

  .icon-row {
    margin: 0 0;
    padding: 0;

    .container {
      padding: 0 0;
    }

    .container-fluid {
      padding: 0 0;
    }

    a {
      padding: 30px 0 0;
    }

    svg {
      margin: 0 0;
    }

    .flex-row {
      width: 100%;
      flex-wrap: wrap;
      margin: 0 0;
      flex-direction: row;

      .col-xs-6 {
        flex: 0 auto;
        border-left: 0;

        &:first-child, &:nth-child(2) {
          border-bottom: 1px solid #cacccd;
        }

        a {
          border-left: 0;
        }

        &:nth-child(even) {
          border-left: 1px solid #cacccd;
        }

        .title {
          background: transparent;
          padding-bottom: 30px;

          &:after {
            top: auto;
            bottom: 0;
          }
        }
      }
    }

    .col-xs-12 {
      padding-left: 0;
      padding-right: 0;
    }

    .title {
      font-size: 14px;
    }

    svg {
      height: 30px;
    }

    .col-md-3 {
      flex-direction: column;
      padding-left: 0 !important;
      padding-right: 0 !important;

      a:hover::after {
        bottom: 42px;
      }
    }
  }

  @media screen and (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
    max-width: 300px;

    .ctf-author-box {
      display: none;
    }

    .ctf-tweet-content {
      margin-left: 0 !important;
    }
  }

  .green-box {
    background: $sherpa-brand-primary;
    padding: 2em 4em 2em 3em;
    margin-top: 3em;
    margin-bottom: 3em;

    p {
      text-align: left;
      padding-right: 2em;
      position: relative;
      margin-bottom: 0;
      font-size: 16px;

      &:after {
        display: inline-block;
        content: '';
        @include svg-arrow(#fff);
        height: 33px;
        width: 33px;
        background-repeat: no-repeat;
        background-color: #3982F7;
        background-position: center center;
        text-align: center;
        line-height: 1em;
        vertical-align: middle;
        margin-left: 10px;
        margin-top: 0;
        background-size: 8px;
        position: absolute;
        right: -1em;
        top: 50%;
        border: 2px solid #fff;
        transform: translateY(-50%);
      }
    }
  }

  .right-home-sidebar {
    flex-direction: row;
    padding: 0;
    margin-top: 30px;

    .shadow {
      -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.4);
      -moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.4);
      box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.4);
      width: 100%;
      display: flex;
      justify-content: space-between;
      padding: 24px;

      .box {
        width: 50%;
        height: 112px;
        font-size: 10px;

        .title {
          font-size: 12px;
        }

        &:first-child {
          margin-right: 10px;
        }

        &.box-top {
          padding: 0 0;
          align-items: center;

          .price {
            font-size: 27px;
            margin-top: auto;
          }
        }

        &.box-bottom {
          margin-top: 0;
        }

        .bottom {
          margin: auto 0 0;
          padding: 1.5em;
          width: 100%;
        }
      }
    }

    .bottom {
      font-size: 10px;
    }

    h3 {
      font-size: 20px;
    }

    > div {
      -webkit-box-shadow: 0px 0px 58px -9px rgba(0, 0, 0, 0.33);
      -moz-box-shadow: 0px 0px 58px -9px rgba(0, 0, 0, 0.33);
      box-shadow: 0px 0px 58px -9px rgba(0, 0, 0, 0.33);

      h4 {
        color: $sherpa-brand-primary;
        font-weight: 500;
        font-size: 16px;
      }

      background: #EFEFEF;
      text-align: center;
      padding-bottom: 33px;
      padding-top: 20px;

      a {
        display: block;
      }
    }

    @media screen and (max-width: $grid-float-breakpoint-max) {
      margin-bottom: 30px;
    }
  }

  #contact-form {
    background: $dark-blue;
    text-align: center;
    padding: 0;
    max-width: 100%;
    width: 100%;
    margin-bottom: 15px;

    form {
      margin: 2em auto;
      padding: 0 0;
      text-align: center;
      color: #fff;
      display: inline-block;

      h1,
      h2,
      h3,
      h4 {
        color: #fff;
      }

      h4 {
        font-size: 20px;
      }

      .form-group {
        display: block;
        max-width: 100%;
        justify-content: space-around;
        margin: 0 auto;
        padding: 0 1.5em;

        label {
          flex: 1;
          width: 100%;

          input {
            width: 100%;
          }
        }

        .col-md-6 {
          margin: 0 auto;
        }
      }

      input[type="text"],
      input[type="email"],
      input[type="tel"],
      textarea {
        background: rgba(255, 255, 255, 0.5);
        border: 0;
        color: #fff;
        padding: 1em;
        margin-bottom: 1.25em;

        &::placeholder {
          color: #fff;
          font-weight: normal;
        }
      }

      textarea {
        overflow: hidden;
        height: 2em;
        padding-bottom: 1.25em;
      }

      input[type="submit"] {
        margin-top: 1em;
        margin-bottom: 1em;
        margin-left: 0;
        background: $sherpa-brand-primary;
        color: $white;
      }

      p {
        margin-bottom: 2em;
      }
    }

    .textwidget {
      background: #e6e6e6;
      padding: 2em;
      display: none !important;
    }
  }

  #contact-form {
    border-bottom: 1px solid #cacccd;
    
    @media screen and (min-width: $screen-sm-min) {
      margin: 0 0 0 0;
      padding: 0 0 0 0;

      form {
        h4 {
          margin-bottom: 1.5em;
        }

        input[type="submit"] {
          width: 144px;
        }
      }

      .testimonials-widget {
        h4 {
          margin-bottom: 1.2em;
        }
        .btn {
          width: 144px;
        }
      }
    }
  }
}

body #main .container article #sidebar {

  p {
    color: $white;
    font-size: 15px;
    text-align: center;
    margin-bottom: 2em;
  }

  .list-box {
    padding: 30px 50px;
    border: 2px solid #FEF102;
    background: #8C867E;

    h3 {
      margin-top: 0;
      font-weight: 300;
      margin-bottom: 1.5em;
      color: #fff;
    }

    ul {
      margin: 0 0;
      padding: 0 0;
      list-style: none;

      li {
        margin-bottom: 0;
      }
    }

    li a {
      background: rgba(254, 241, 2, 0.5);
      color: #fff;
      display: block;
      text-align: center;
      padding: 20px 0;
      margin-bottom: 4px;

      &:hover {
        background: #FEF102;
      }
    }
  }
}

@media screen and (min-width: $screen-md-min) {
  body #main .container article #sidebar {
    margin-bottom: 2em;
  }
}

@media screen and (max-width: $grid-float-breakpoint-max) {
  body #main .container article #sidebar {
    float: none;
    max-width: 100%;
    margin-left: 0;
    background: none;
    padding: 0;

    .banner-hero {
      padding: 2em;
      margin-top: 4em;
      margin-bottom: 2.2em;
    }

    .banner-bottom {
      background: #041C3F;
      color: #fff;
      text-align: center;
      padding: 1em;
      font-family: 'Roboto', sans-serif;
      font-size: 12px;
    }

    .icon-section {
      padding-bottom: 2em;

      h4 {
        margin-top: 2em;
        font-size: 18px;
      }

      p.blurb {
        font-size: 15px;
        padding: 0;
        margin: 1em auto 2em;
      }

      .icon-row {
        display: flex;
        flex-wrap: wrap;
        padding: 0 20px;

        .col-xs-6 {
          padding: 0;
          margin-bottom: 10px;

          &:nth-child(2n) {
            padding-left: 5px;
          }

          p {
            display: none;
          }
        }

        .icon-container {
          width: 50%;
          flex: 1;
          margin: 0 .5em 1em 0;
          -webkit-box-shadow: 5px 6px 16px -4px rgba(0, 0, 0, 0.45);
          -moz-box-shadow: 5px 6px 16px -4px rgba(0, 0, 0, 0.45);
          box-shadow: 5px 6px 16px -4px rgba(0, 0, 0, 0.45);
        }

        .icon-bottom {
          font-size: 12px;
          padding: .5em 1.5em;

          .icon-plus {
            width: 10px;
            height: 10px;
          }
        }

        .icon-header {
          text-align: center;

          .icon {
            margin: 1em auto;
            max-height: 30px;
          }
        }
      }
    }


  }

  body #main .container {
    padding-left: 0;
    padding-right: 0;

    .content {
      padding-left: 15px;
      padding-right: 15px;
    }
  }
}

body #main .container article .content-contact #sidebar {
  margin-left: 0;
  @media screen and (max-width: $grid-float-breakpoint-max) {
    clear: both;
  }
}

body #main .container article #sidebar p.ctf-tweet-text, body #main .container article #sidebar p.cff-post-text {
  color: #9b9b9b;
  text-align: left;
}

body #main .container article #sidebar .green-box p {
  color: #fff;
}

@media screen and (max-width: $grid-float-breakpoint-max) {
  .cff-wrapper {
    display: none !important;
  }
}