// Sherpa navbar
.navbar-sherpa .navbar-toggle {
  margin-right: 0;
}

.navbar-sherpa {
  background-color: $sherpa-navbar-default-bg;
  border-color: $sherpa-navbar-default-border;
  margin-bottom: 0;

  .navbar-brand {
    color: $sherpa-navbar-default-brand-color;
    &:hover,
    &:focus {
      color: $sherpa-navbar-default-brand-hover-color;
      background-color: transparent;
    }
  }

  .navbar-text {
    color: $sherpa-navbar-default-color;
  }

  .navbar-nav {
    > li > a {
      color: $sherpa-navbar-default-link-color;

      &:hover,
      &:focus {
        color: $sherpa-navbar-default-link-hover-color;
        background-color: transparent;
      }
    }
    > .active > a {
      &,
      &:hover,
      &:focus {
        //         color: $sherpa-navbar-default-link-active-color;
        background-color: transparent;
      }
    }
    > .disabled > a {
      &,
      &:hover,
      &:focus {
        color: $sherpa-navbar-default-link-disabled-color;
        background-color: transparent;
      }
    }
  }

  .navbar-toggle {
    border-color: $sherpa-navbar-default-toggle-border-color;
    &:hover,
    &:focus {
      background-color: $sherpa-navbar-default-toggle-hover-bg;
    }
    .icon-bar {
      background-color: #000;
    }
  }

  .navbar-collapse,
  .navbar-form {
    border: 0;
    border-color: $sherpa-navbar-default-border;
    justify-content: center;
  }

  // Dropdown menu items
  .navbar-nav {
    // Remove background color from open dropdown

    @include media-breakpoint-down(xs) {
      // Dropdowns get custom display when collapsed
      .open .dropdown-menu {
        > li > a {
          color: $white;
          padding: 1em 0;

          &:hover,
          &:focus {
            color: $white;
            background-color: $sherpa-navbar-default-link-hover-bg;
          }
        }
        > .active > a {
          &,
          &:hover,
          &:focus {
            color: $white;
            background-color: $sherpa-navbar-default-link-active-bg;
          }
        }
        > .disabled > a {
          &,
          &:hover,
          &:focus {
            color: $white;
            background-color: $sherpa-navbar-default-link-disabled-bg;
          }
        }
      }
    }
  }

  // Links in navbars
  //
  // Add a class to ensure links outside the navbar nav are colored correctly.

  .navbar-link {
    color: $sherpa-navbar-default-link-color;
    &:hover {
      color: $sherpa-navbar-default-link-hover-color;
    }
  }

  .btn-link {
    color: $sherpa-navbar-default-link-color;
    &:hover,
    &:focus {
      color: $sherpa-navbar-default-link-hover-color;
    }
    &[disabled],
    fieldset[disabled] & {
      &:hover,
      &:focus {
        color: $sherpa-navbar-default-link-disabled-color;
      }
    }
  }
}

.navbar-brand {
  width: 88px;
  display: block;

  img {
    width: 88px;
  }
}


.navbar-button {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

/* 

the right sidebar including social icons address and phone

*/

.navbar-right {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  @include acumin();
  margin-left: auto;


  ul.social-media {
    display: flex;
    margin-bottom: 0;
    margin-right: 1em;

    li a {
      padding: 0 .5em;

    }
  }

  ul.navbar-right {
    display: flex;
    align-items: center;
    flex-direction: row;
    font-size: 17px;
    letter-spacing: 1px;
  }
}



.page-template-page-home {

  .navbar {
    padding: 0 0;
    width: 100%;
  }

  .navbar-dark .navbar-toggler {
    border: 0;
    height: 100%;
    width: 100%;
    transition: background 300ms ease-in-out;

    &:hover {
      background: $sherpa-brand-primary;

    }
  }

  .navbar-sherpa {
    @include acumin();
    letter-spacing: $letterSpacing;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }

  #menu-primary {
    li a {
      padding: 1em;
    }
  }
}