// This is for creating extra buttons
// Mixin for creating additional buttons:
//      button-variant($color, $background, $border)
input[type=submit] {
  background: transparent;
  border: 0;

  &:focus, &:active {
    background: $sherpa-brand-primary;
  }
}

.btn,
.btn-success {
  padding: 1em 2em;
  font-size: 15px;
  font-weight: 600;
  color: $white;
  border: transparent;
  border-radius: 0;
  position: relative;
  z-index: 1;
  overflow: hidden;
  transform: translate3d(0, 0, 0);
  position: relative;
  @include gradient-btn(100);
  @include acumin();
  letter-spacing: $letterSpacing;
  text-transform: uppercase;

  &:hover,
  &:focus,
  &:active,
  &:visited,
  &:hover:focus,
  &:hover:active,
  &:hover:visited {
    color: $white;
    background: $sherpa-brand-primary;

    &::after {
      background: $sherpa-brand-primary;
    }
  }

  &.btn-default {
    background: #918f8d;
    &:hover {
      background: darken(#918f8d, 10%);
    }
  }

  &.btn-transparent {
    background: transparent;
    text-transform: uppercase;

    &::before {
      display: none;
    }

    &:hover::before {
      display: none;
    }
  }

  &.btn-secondary {
   background: rgba(255, 255, 255, .14);
   padding: 1em 2em;

   &::before {
     display: none;
   }

   &:hover {
     background: $white;
     color: $sherpa-brand-primary;
   }
  }

  &.btn-outline {
    border: 2px solid $sherpa-secondary-color;
    color: #606060;
    font-size: 10px;
    padding: 1em 3em;

    &:hover,
  &:focus,
  &:active,
  &:visited,
  &:hover:focus,
  &:hover:active,
  &:hover:visited {
    background: $sherpa-secondary-color;
    color: $white;
  }

    background: transparent;
  }

  &.btn-default,
  &.btn-primary {
    &:hover,
    &:focus {
      color: $white;
      border-color: transparent;
    }
  }

  &.btn-border {
    background: transparent;
    color: $white;
    border: 3px solid $white;

    &:hover {
      color: $white;
    }
  }

  &.btn-register {
    padding: 24px 31px;
  }

  @include media-breakpoint-down(lg) {
    font-size: 9px;
  }
}

.btn-read-more {
  margin-top: auto;
  background: $sherpa-secondary-color;

  &:hover {
    color: $white;
  }

  &.btn-border {
    background: rgba(41, 41, 44, 0.63);
    color: $white;

    &:hover {
      color: $white;
      background: $sherpa-brand-primary;
    }
  }
}

.btn.active.focus,
.btn.active:focus,
.btn.focus,
.btn:active.focus,
.btn:active:focus,
.btn:focus {
  outline: 0;
}
