// Sherpa navbar
.navbar-sherpa .navbar-toggle {
  margin-right: 0;
}

.navbar-sherpa {
  background-color: $sherpa-navbar-default-bg;
  border-color: $sherpa-navbar-default-border;
  margin-bottom: 0;

  .navbar-brand {
    color: $sherpa-navbar-default-brand-color;
    &:hover,
    &:focus {
      color: $sherpa-navbar-default-brand-hover-color;
      background-color: transparent;
    }
  }

  .navbar-text {
    color: $sherpa-navbar-default-color;
  }

  .navbar-nav {
    > li > a {
      color: $sherpa-navbar-default-link-color;

      &:hover,
      &:focus {
        color: $sherpa-navbar-default-link-hover-color;
        background-color: transparent;
      }
    }
    > .active > a {
      &,
      &:hover,
      &:focus {
        //         color: $sherpa-navbar-default-link-active-color;
        background-color: transparent;
      }
    }
    > .disabled > a {
      &,
      &:hover,
      &:focus {
        color: $sherpa-navbar-default-link-disabled-color;
        background-color: transparent;
      }
    }
  }

  .navbar-toggle {
    border-color: $sherpa-navbar-default-toggle-border-color;
    &:hover,
    &:focus {
      background-color: $sherpa-navbar-default-toggle-hover-bg;
    }
    .icon-bar {
      background-color: #000;
    }
  }

  .navbar-collapse,
  .navbar-form {
    border: 0;
    border-color: $sherpa-navbar-default-border;
  }

  // Dropdown menu items
  .navbar-nav {
    // Remove background color from open dropdown

    @include media-breakpoint-down(xs) {
      // Dropdowns get custom display when collapsed
      .open .dropdown-menu {
        > li > a {
          color: $white;
          padding: 1em 0;

          &:hover,
          &:focus {
            color: $white;
            background-color: $sherpa-navbar-default-link-hover-bg;
          }
        }
        > .active > a {
          &,
          &:hover,
          &:focus {
            color: $white;
            background-color: $sherpa-navbar-default-link-active-bg;
          }
        }
        > .disabled > a {
          &,
          &:hover,
          &:focus {
            color: $white;
            background-color: $sherpa-navbar-default-link-disabled-bg;
          }
        }
      }
    }
  }

  // Links in navbars
  //
  // Add a class to ensure links outside the navbar nav are colored correctly.

  .navbar-link {
    color: $sherpa-navbar-default-link-color;
    &:hover {
      color: $sherpa-navbar-default-link-hover-color;
    }
  }

  .btn-link {
    color: $sherpa-navbar-default-link-color;
    &:hover,
    &:focus {
      color: $sherpa-navbar-default-link-hover-color;
    }
    &[disabled],
    fieldset[disabled] & {
      &:hover,
      &:focus {
        color: $sherpa-navbar-default-link-disabled-color;
      }
    }
  }
}

.text-center {
  width: 100%;
}


// .v-align {
//   @include media-breakpoint-down(md) {
//     height: 50px;
//   }
// } 

.v-align > div {
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-grow: 1;
  flex-basis: 0;
  position: relative;

  @media screen and (min-width: 1200px) {
     align-items: flex-start;

     .navbar-sherpa, > .navbar-right {
       margin-top: 20px;
     } 
  }

  @include media-breakpoint-down(md) {
    height: 50px;
  }

  .navbar-brand {
    
  }

  .navbar-left {
    flex: 1;
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
}

.navbar-dark .navbar-nav .nav-link {
  color: #fff !important;

  &:hover {
    color: $white !important;
  }
}

.top-header {
  position: relative;
  z-index: 99;
  background: transparent;
  text-align: center;
  display: flex;
  padding: .5em 0;

  @include media-breakpoint-up(md) {

    .v-align {
      justify-content: flex-start;
      align-items: flex-start;
    }

    .container {
      max-width: 1770px;
    }

    &.internal .v-align > div {
      justify-content: flex-start;

      .navbar {
        padding-left: 0;
      }
    }
  }
}

#menu-secondary {
  .nav-link {
    text-transform: uppercase;

    &.disabled {
      color: #606060;
      pointer-events: none;
    }
  }
}

.navbar-right {
  padding: .5rem 1rem;

  @include media-breakpoint-down(md) {
    width: 100%;
    
  }
}

.navbar-nav.navbar-right {
  flex-direction: row;
  left: 20px;
  top: 50%;
  margin-right: 20px;
  color: $white;
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  font-weight: 500;

  @include media-breakpoint-down(lg) {
    li {
      font-size: 11px;
    }
  }

  a {
    color: $white;
  }

  li.menu-item {
    position: relative;

    a {
      float: left;

      span {
        overflow: hidden;
        text-indent: -99999px;
        display: none;
      }
    }

    &.directions a {
      @include svg-map(_trim($sherpa-brand-primary));

      &:hover {
        @include svg-map(_trim($white));
      }
    }

    &.contact a {
      @include svg-contact(_trim($sherpa-brand-primary));
      margin-right: 0;

      @include media-breakpoint-down(md) {
        font-family: moderno-fb, serif;
        font-style: italic;
        font-weight: 700;
      }

      &:hover {
        @include svg-contact(_trim($white));
      }
    }

    &.directions:after {
      color: #fff;
    }
  }

  @include media-breakpoint-down(md) {
    width: 100%;

    li:first-child {
      order: 3;
      margin-left: auto;
      margin-right: 60px; 
      font-size: 9px;
    }
  }
}

.navbar-right li.menu-item.directions {
  a {
    margin: 0 15px;
  }

  &::after {
    content: "";
    background: #999999;
    height: 15px;
    width: 1px;
    display: block;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
  }

  @include media-breakpoint-down(md) {
    a {
      margin: 0 15px 0 0;
    }
  }
}

.navbar-right li.menu-item.contact {
  a {
    margin: 0 0 0 15px;
  }
}

@include media-breakpoint-up(lg) {
  body:not(.page-template-page-home) {
    .navbar-brand {
      width: 259px;
    }
  }
}

@media screen and (min-width: 1400px) {
  .navbar-brand {
    width: 290px;
    margin-left: 15px;
  } 
}

@include media-breakpoint-down(md) {
  .navbar-brand {
    margin-top: 0px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: .5em;
  }

  .navbar-brand {
    width: 123px;
    max-width: 100%;
    padding: 10px 0;
  }
}


@media screen and (max-width: 1400px) {
  .navbar-brand {
    width: 123px;
    margin-left: 15px;
  }
}

@include media-breakpoint-down(md) {
  .navbar-right {
    position: relative;
    top: 50%;
  }

  

//   .navbar-brand {
//     margin: 0 auto;
//     position: absolute;
//     height: 99px;
//     img {
//       height: 99px;
//     }
//   }

  .navbar-sherpa #menu-primary {
    background: #000;
  }

  .navbar-nav .dropdown-menu {
    text-align: center;
    font-size: 13px;
    margin-top: 0;
  }

  .navbar-sherpa #menu-primary .nav-link {
    justify-content: center;
  }

  .navbar-sherpa .navbar-collapse,
  .navbar-sherpa .navbar-collapse.collapsing,
  .navbar-sherpa .navbar-collapse.collapse.in {
    //       height: 100% !important;
  }

  .v-align .header-button {
    margin-right: 60px;
  }

  #menu-primary {
    top: 40px;
    position: absolute;
    width: 100%;
    left: 0 !important;
  }

  

  .top-header {
    display: flex;
    justify-content: space-between;
    padding: 0 0;
    height: 50px;

    @include media-breakpoint-down(md) {
      background: #000;
    }

    a .btn {
      padding: 1em 4em;
      font-size: 6px;
    }

    > .row {
      width: 100%;
    }

    .navbar-sherpa {
      order: 2;
      position: absolute;
      right: 0;
      width: 100%;
      padding: 0 0;
      top: 0;
      margin-top: 10px;
    }

    .navbar-toggler:not(:disabled):not(.disabled) {
      position: absolute;
      right: 20px;
      top: 0;
      z-index: 99;
    }
  }

  .navbar-toggler {
    padding: 0 0;
    border: 0;
  }

  .navbar-dark .navbar-toggler-icon {
    background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20.65 9.52"><title>toggler</title><g id="e58359eb-2c5d-4976-9fba-dc643ce0dd82" data-name="Layer 2"><g id="b9d2cb83-6000-42db-b0ae-3d08e3eb8a0a" data-name="Layer 3"><g opacity="0.7"><rect y="4.01" width="20.65" height="1.5" fill="#ebebeb"/><rect width="20.65" height="1.5" fill="#ebebeb"/><rect y="8.01" width="20.65" height="1.5" fill="#ebebeb"/></g></g></g></svg>');
    background-repeat: no-repeat;
    background-position: center center;
  }

  .menu-secondary-container {
    .navbar-nav {
      li {
        width: 33.33%;
        flex: auto;
        font-size: 7px;
        border-bottom-width: 2px;

        a {
          padding: 3em 0;
        }

        &:nth-child(2n) {
          background: #f2f2f2;
        }

        a:hover::after {
          display: none;
        }
      }
    }
  }
}

.navbar-sherpa #menu-primary {
  font-family: "Poppins", sans-serif;
  font-size: 16px;

  @include media-breakpoint-down(lg) {
    font-size: 11px;
  }
}

.navbar-sherpa #menu-primary .nav-link {
  font-weight: 400;
  cursor: pointer;
  cursor: hand;
}

.navbar-expand-lg .navbar-nav .nav-link {
  padding-right: 1rem;
  padding-left: 1rem;
}

.dropdown-menu {
  font-size: 13px;
  background: rgba(0, 0, 0, 0.79);
  

  @include media-breakpoint-up(md) {
    li:first-child {
      display: none;
    }
  }
}

.dropdown-item {
  font-weight: 600;
}

@include media-breakpoint-up(md) {
  .dropdown:hover > .dropdown-menu {
    display: block;
  }
}


.dropdown-item:hover, .dropdown-item:focus {
  background: $sherpa-secondary-color;
}