.page-template-page-home .landing-bg {
  background: url("../img/bg-hero-top.jpg") 0 100% no-repeat;
  background-size: cover;
  overflow: hidden;

  @include media-breakpoint-down(lg) {
//     background: url("../img/bg-hero-mobile2.jpg") center 0 no-repeat;
//     background-size: cover;

   background: none;
  }
 
  @include media-breakpoint-down(md) {
    &::before {
      @include svg-chevron-top-mobile();
      background-position: 100% 50%;
      background-repeat: no-repeat;
      content: '';
      z-index: 3; 
      position: absolute;
      top: 0;
      left: 0;
      display: block;
      width: 100%;
      height: 100%;
      background-size: contain;
    }


    &::after {
       background: url('../img/bg-car-mobile.jpg') 100% 100% no-repeat;
       background-size: contain;
       content: '';
       position: absolute;
       right: 0;
       z-index: -1;
       bottom: 50px;
       display: block;
       height: 100%;
       width: 100%;
     }
  }

   

  @media screen and (max-width: 320px) {
    background-size: contain;
  }
}

// .chevron-bg {
//   @include media-breakpoint-down(md) {
//       &::before {
//         @include svg-chevron-top-mobile();
//         background-position: 100% 70%;
//         background-repeat: no-repeat;
//         content: '';
//         z-index: 3; 
//         position: absolute;
//         top: 0;
//         left: 0;
//         display: block;
//         width: 100%;
//         height: 100%;
//         background-size: contain;
//       }
//     }
// }