.flex-row {
  display: flex;

  .flex-col {
    display: flex;

    &.circle-list {
      justify-content: flex-end;
    }
  }
}

/*
  Internal Pages
 */

 .blog-pic {
   height: 200px;
   margin-bottom: 1em;
 }

 .btn-read-more {
   margin-bottom: 2em;

   &:hover {
     color: $white;
   }
 }

.top-banner {
  width: 100%;
  height: 449px;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: relative;
  flex-direction: column;
  background-position: center center;

  .col {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  &.google-banner {
    position: relative;
    background-position: right 0;
    background-size: contain;
    background-color: #fbfbfb;

    .col {
      display: flex;
      justify-content: flex-start;
      align-items: flex-start;
      text-align: left;
    }

    h1 {
      color: #000;

      img {
        height: 47px;
      }
    }

    @media screen and (min-width: 992px) and (max-width: 1600px) {
       background-position: 0 0;
    }

    @include media-breakpoint-down(md) {
      &::before {
        background: rgba(255,255,255,0.9);
        content: '';
        width: 100%;
        height: 100%;
        position: absolute;
        display: block;
      }

      .col {
        justify-content: center;
        align-items: center;
        text-align: center;
      }

    }

     @media screen and (max-width: 1578px) {
        background-size: cover;
     }
  }

  h1 {
    font-family: 'Poppins', sans-serif;
  }


  h1 {
    color: $white;
    font-size: 39px;
    margin-bottom: 1em;
  }

  .google-colors {
    position: absolute;
    z-index: 99;
    width: 100%;
    bottom: 0;
    margin-bottom: 0;
  }

  @include media-breakpoint-down(md) {
    padding: 2em;
    height: auto;


    h1 {
      font-size: 22px;
    }
  }
}


.internal-banner {
  margin-bottom: 2em;
}

.sidebar-content {
  margin: 6em 0 0;

  

  @include media-breakpoint-down(md) {
    margin: 1em 0;
  }
}

.banner-middle {
  background:  url('../img/bg-gradient.jpg') 0 0 no-repeat;
  background-size: cover;
  padding: 2em 0;
  margin-top: 5em;
  overflow: hidden;
  position: relative;


  .banner-align-bottom {
    position: relative;
    z-index: 2;
    margin-top: 4em;

    img {
      padding-top: 2em;
    }

    &::before {
      content: '';
     
      background: rgba(0,0,0,.9);
      width: 150vw;
      left: -50vw;
      position: absolute;
      height: 100vh;
      display: block;
      z-index: -1;
    }
  }

  h2 {
    font-family: 'Montserrat', sans-serif;
  }

  h3 {
    font-family: 'Poppins', sans-serif;
  }

  .testimonial {
    background: rgba(247, 247, 247, 0.9);
    padding: 3em;
    text-align: center;

    p:last-child {
      font-size: 12px;
      margin-bottom: 0;
      margin-top: 0;

      em {
        font-size: 10px;
      }
    }
   
    p:first-child {
      font-style: italic;
      text-align: center;
      font-size: 13px;
      margin-bottom: 1em;

      &::after {
        @include svg-stars($sherpa-brand-primary);
        width: 100%;
        height: 16px;
        background-repeat: no-repeat;
        background-position: center center;
        margin: 1em auto 0;
        content: '';
        display: block;
      }
    }
  }

   @include media-breakpoint-up(lg) {
    .seo-laptop-bg {
        height: 495px;

        &::before {
          content: '';
          background: url('../img/search-results.png') 0 0 no-repeat;
          background-size: cover;
          width: 969px;
          height: 100%;
          position: absolute;
          top: 0;
        }
      }
   } 

  

  @include media-breakpoint-down(md) {
    margin-top: 0;
    margin-bottom: 0;
    padding: 2em 15px;

    .row {
      flex-direction: column;

      .d-flex, .col {
        flex: 1;
        text-align: center;
      }
    }
  }
}

.banner-bottom {
  background: url('../img/bg-banner-bottom.jpg') 0 0 no-repeat;
  background-size: cover;
  color: $white;
  padding-bottom: 76px;

  h2 {
    color: $white;
  }

  @include media-breakpoint-up(md) {
    height: 833px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
  }

  @include media-breakpoint-down(md) {
    padding: 2em 0;
    text-align: center;
    background-position: center center;
    height: auto;
    text-align: right;

    .col-md-6 {
      margin-left: auto;
    }

    p {
      margin-bottom: 0 !important;
    }
  }

  @include media-breakpoint-down(sm) {
    text-align: center;
  }
}

.banner-ribbon {
  @include gradient();
  color: $white;
  text-align: center;
  font-size: 22px;
  padding: 1em 0;
  font-family: 'Poppins', sans-serif;

  @include media-breakpoint-down(md) {
      font-size: 18px;
  }
}

ul.check-list {
  list-style: none;
  padding-left: 0;

  span {
    display: block;
    overflow: hidden;
  }
  
  li {
    @include svg-check();
    margin-bottom: .5em;
  }
}

.bottom-list {
  background: #F2F2F2;
  padding: 3em 0;

  ul {
    margin-bottom: 0;
    font-size: 16px;
  }
  

  @media screen and (min-width: 1200px) {
    
      

    .lists {
      overflow: auto;
      margin: 0 auto;
      flex: 0;
      

      .col-md-6 {

        &:last-child {
          &::before {
            width: 1px;
            height: 100%;
            content: '';
            display: block;
            position: absolute;
            background: #D6D6D6;
            left: -30px;
            top: 0;
          }
        }
      }
      margin: 0 auto;
    }
  }

  @include media-breakpoint-down(md) {
    ul {
      padding-left: 0;
      margin-bottom: 0;
    }
  }
}

.page-bottom {
  padding: 2em 0;

  @include media-breakpoint-down(md) {
    text-align: center;
  }
}

.page-module {
  padding: 106px 0;

  h2 {
    font-family: 'Montserrat', sans-serif;
  }

  @include media-breakpoint-down(md) {
    padding: 2em 15px;
    text-align: center;
  }
}

.page-id-230 {
  .page-module {
    padding: 0 0;
  }

  .col.text-center {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

}

.check {
  @include svg-check();
}

.bg-websites {
  height: 582px;
  position: relative;

  &::before {
    content: '';
    background: url('../img/bg-websites-bottom.png') right 0 no-repeat;
    background-size: 913px;
    width: 50vw;
    left: -25vw;
    top: 0;
    position: absolute;
    display: block;
    height: 100%;
  }

  @include media-breakpoint-down(lg) {
      &::before {
        left: -10vw;
        background-size: cover;
      }
  }


  @include media-breakpoint-down(sm) {
      height: auto;
      img {
        margin: 2em auto;
      }

      &::before {
        display: none;
      }
  }
}


.page-template-default, .blog, .error404, .post-template-default, .page-template-page-landing, .page-template-page-youtube-ads {
  h3 {
    font-size: 22px;
    margin-bottom: 1em;

    &.brand {
      color: $sherpa-brand-primary;
      font-weight: 500;
    }
  }

  p {
    margin-bottom: 2em;
    font-weight: 300;
  }

  p.blurb {
    font-size: 22px;
    color: #8A939B;
    font-weight: 300;
  }  

  @include media-breakpoint-up(md) {
    #main {
      margin-bottom: 5em;
    }
  }

  @include media-breakpoint-down(md) { 
    
    .icons {
      padding-top: 0;
      margin: 0 0;
      width: 100%;
      max-width: 100%;
    }
  }
}


.sidebar-widget {
  background: #F7F7F7;
  float: right;
  padding: 3em 3em 2em;
  text-align: center;
  margin-left: 3em;
  margin-bottom: 3em;
  @include dropshadow();

  h3 {
    font-size: 22px;
    font-family: 'Roboto', sans-serif;
  }

  p {
    font-size: 15px;
  }

  strong {
    color: #000000;
  }

  .btn {
    padding: 1.5em 4em;
  }

  @include media-breakpoint-down(md) {
    float: none;
    width: 100%;
    flex: 1;
    margin: 2em auto;
  }
}

@include media-breakpoint-up(md) {
  #main {
    ul, ol {
      margin-bottom: 2em;
    }
  }
}


@include media-breakpoint-down(md) {
  
  .content {
    text-align: center;
    padding: 2em 15px;
  }

}

.partner-middle-banner {
  overflow: hidden;


  @include media-breakpoint-down(md) {
    .extra-padding {
      padding: 2em 0;
    }

    .partner-bg::before {
      display: none;
    }
  }
}


.partner-bg {
  position: relative;

  &::before {
    background: url('../img/google-partners-middle-banner.jpg') right 0 no-repeat;
    background-size: cover;
    content: '';
    display: block;
    position: absolute;
    right: -25vw;
    top: 0;
    height: 100%;
    width: 50vw;
  }

  @include media-breakpoint-up(md) {
    height: 464px;
  }
}


/*
  End Internal Pages
 */


/*
  CF7 Validation
 */

.wpcf7-form-control.g-recaptcha.wpcf7-recaptcha {
  display: none;
}
.wpcf7-form-control.g-recaptcha.wpcf7-recaptcha {
  display: inline-block;
}

div.wpcf7-validation-errors, div.wpcf7-acceptance-missing {
  display: none;
}

div.wpcf7-validation-errors, div.wpcf7-acceptance-missing {
  border: 0;
  background: #8a2020;
  clear: both;
  padding: 1em;
  font-size: 12px;
  color: #fff !important;
  margin: 0 2em;
}

span.wpcf7-not-valid-tip {
  color: #fff;
  background: #8a2020;
  font-size: 1em;
  font-weight: normal;
  display: block;
  margin-bottom: 10px;
}

/*
  end CF7 Validation
 */

/*

Animations

 */

.fade-down {
  opacity: 0;
  transform: translateY(-100px);
  transition: all $transitionTime ease-in-out;
}

.active {
  .fade-down {
    opacity: 1;
    transform: translateY(0);
  }
}

@include media-breakpoint-down(md) {
  .fade-down {
    opacity: 1;
    transform: none;
  }

  .br-xs {
      display: block;
    }
}

@include media-breakpoint-up(md) {
  .br-md {
    display: block;
   
  }
}


