body {
  color: #606060;
}

h1 {
  color: #606060;
}

h1,
h2,
h3,
h4 {
  font-weight: 300;
  @include acumin();
  letter-spacing: $letterSpacing;
  text-transform: uppercase;

  strong {
    font-weight: 700;
  }

  &.no-margin {
    margin-bottom: 0;
  }
}

h2 {
  margin-bottom: 1em;
  font-size: 32px;
  font-weight: 300;
}

@include media-breakpoint-down(md) {
  h2 {
    font-size: 20px;
  }

  h3 {
    font-size: 18px;
  }
}

.text-white {
  h1,
  h2,
  h3,
  h4 {
    color: #fff;
  }
}

p {
  line-height: 1.75;
  @include acumin-condensed();
  font-size: 17px;
  margin-bottom: 2em;
}

body {
  font-size: 16px;
}

p.no-margin {
  margin: 0 0;
}

@include media-breakpoint-down(sm) {
  .text-center-sm {
    text-align: center;
  }
}

.serif-text {
  color: #8f9699;
}

a {
  color: $sherpa-secondary-color;

  &:hover {
    color: darken($sherpa-secondary-color, 10%);
  }
}

@include media-breakpoint-down(xs) {
  #main {
    .container {
      article {
        h1 {
          font-size: 2em;
        }

        p.blurb {
          font-size: 1em;
        }
      }
    }
  }
}

.img-row {
  img {
    height: auto;
  }
}
