body {
  color: #606060;
}

h1 {
  color: #606060;
}

h1,
h2,
h3,
h4 {
  @include raleway();
  font-weight: 400;
}

h2 {
  @include raleway();
  margin-bottom: 1em;
  font-size: 32px;
}

p {
  line-height: 1.75;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
}

.btn {
  text-transform: uppercase;
}

p.no-margin {
  margin: 0 0;
}

@media screen and (max-width: $screen-sm-min) {
  .text-center-sm {
    text-align: center;
  }
}

.serif-text {
  font-family: 'Rufina', serif;
  color: #8F9699;
}


@media screen and (max-width: $grid-float-breakpoint-max) {

  #main {
    .container {
      article {
        h1 {
          font-size: 2em;
        }

        p.blurb {
          font-size: 1em;
        }
      }
    }
  }
}