h1,
h2,
h3,
h4 {
  font-family: "Raleway", serif;
}

body {
  font-family: "Roboto", sans-serif;
}

.btn {
  text-transform: uppercase;
}

@media screen and (max-width: $screen-sm-min) {
  .text-center-sm {
    text-align: center;
  }
}

h2 {
  font-size: 25px;
}

h4 {
  color: #0D4634;
  font-family: 'Playfair Display', serif;
}

h3 {
  color: #041C3F;
  font-weight: 700;
}

ul li {
  color: #666666;
}

body #main .container {
  h1 {
    font-size: 29px;
    font-family: 'Raleway', sans-serif;
    color: #606060;
    line-height: 1.5em;
  }

  h2 {
    font-family: 'Raleway', sans-serif;
    font-size: 29px;
    color: #606060;
  }
}

p.blurb {
  font-size: 21px;
  margin-bottom: 2em;
}

@media screen and (max-width: $grid-float-breakpoint-max) {
  h1 {
    font-size: 18px;
  }
  h2, h3 {
    font-size: 18px;
  }

  body #main .container h2, body #main .container h1 {
    font-size: 18px;
  }
}