body {
  color: #606060;
}

h1 {
  color: #606060;
}

h1,
h2,
h3,
h4 {
  font-family: 'Poppins', sans-serif;
  font-weight: 300;

  strong {
    font-weight: 700;
  }

  &.no-margin {
    margin-bottom: 0;
  }
}

h2 {
  font-family: 'Poppins', sans-serif;
  margin-bottom: 1em;
  font-size: 32px;
  color: #000;
  font-weight: 300;
}

#main {
  h2 {
    font-family: 'Montserrat', sans-serif;
  }
}


@include media-breakpoint-down(md) {
   h2 {
      font-size: 20px;
   }

   h3 {
     font-size: 18px;
   }
}




.text-white {
  h1,
h2,
h3,
h4 {

  color: #fff;
}

}

p {
  line-height: 1.75;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
}

.btn {
  text-transform: uppercase;
}

p.no-margin {
  margin: 0 0;
}

@include media-breakpoint-down(sm) {
  .text-center-sm {
    text-align: center;
  }
}

.serif-text {
  font-family: 'Rufina', serif;
  color: #8F9699;
}

a {
  color: $sherpa-secondary-color;
}


@include media-breakpoint-down(xs) {

  #main {
    .container {
      article {
        h1 {
          font-size: 2em;
        }

        p.blurb {
          font-size: 1em;
        }
      }
    }
  }
}