@mixin cardSmall() {
  .card-img {
      background-image: url('../img/government-commercial.jpg');
    }

    &.card-2 {
      .card-img {
        background-image: url('../img/services-sm.jpg');
        background-size: cover;
      }
    }

    .card-bottom {
      padding: 1em 3em;
      

      a .btn {
        font-size: 10px;
      }
    }

      .card-title {
        font-size: 19px;
        padding: 1.5em;
      }

      margin-left: 20px;
      margin-right: 20px;



      .btn {
        padding: 10px 20px;
        font-size: 9px;
      }

      .card-text { 
        padding: 1em;


        h3 {
          margin-top: .5em;
          margin-bottom: 0;
        }

        p {
          margin-bottom: 0;
        }
      }

      h3 {
        font-size: 14px;
      }

      img {
        width: auto;
        margin: 1em auto;
      }
}

.card {
  text-align: center;
  padding: 0 0;
  @include dropshadow();
  height: 100%;
  display: flex;
  flex-direction: column;

  &.floating {
    position: absolute;
  }

  .pager { 
    margin-top: 1em;
    font-size: 24px;
    line-height: 1;
    cursor: hand;

    color: #808C91;

    span {
      cursor: pointer;
    }

    .cycle-pager-active {
      color: $sherpa-brand-primary;
    }
  }

  .card-title {
    background: #003E7A;
    color: $white;
    text-align: center;
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    padding: 36px;
    font-size: 28px;
    margin: 0 0;
  }

  .card-text {
    padding: 86px 127px 50px;
    flex: 1;
    background: $white;
  }

  .alignnone {
    margin: 0 auto;
  }


  h3 {
    line-height: 1.5;
    margin-bottom: 20px;
  }

  .card-img {
    height: 180px;
    background: url('../img/government-commercial.jpg') 0 0 no-repeat;
    background-size: cover;
    display: block;
  }

  &.card-2 {
    .card-img {
      background-image: url('../img/services.jpg');
    }
  }

  .card-bottom {
    margin-top: auto;
    padding: 50px 122px;

    a {
      display: block;

      .btn {
        padding: 1.75em;
        width: 100%;
        letter-spacing: 1px;
        font-size: 14px;

        &.btn-default {
          color: $white;
          background : rgba(255, 255, 255, .25);

          &:hover {
            background: $sherpa-brand-primary;
          }
        }
      }
    }


    &.transparent {
      background : rgba(95, 106, 112, 0.49);
      display: flex;
      flex-direction: column;

      a {
        flex: 1;
        width: 100%;
        margin-bottom: 10px;
      }
    }
  }


  @media screen and (max-width: $screen-sm-max) {
    @include cardSmall();
  }
}


@media screen and (min-width: $screen-md-min) {
  .floating-sidebar {
    position: absolute;
  }
}