@mixin cardSmall() {

  margin-bottom: 0;

  .card-img {
      background-image: url('../img/government-commercial.jpg');
    }

    &.card-2 {
      .card-img {
        background-image: url('../img/services-sm.jpg');
        background-size: cover;
      }
    }

    h2 {
      font-size: 19px;
    }

    .card-bottom {
      background: #1E3151;
      color: $white;
      text-align: left;
      font-size: 24px;
      padding: 0;

      a {
        padding: 1.5em 1.5em;
        position: relative;

        &::after {
          @include svg-arrow(FFFFFF);
          content: '';
          display: block;
          height: 32px;
          width: 32px;
          position: absolute;
          right: 1.5em;
          top: 50%;
          transform: translateY(-50%);
        }
      }

      a .btn {
        font-size: 10px;
      }
    }

      .card-title {
        font-size: 19px;
        padding: 1.5em;
      }

      margin-left: -35px;
      margin-right: -35px;

      .btn {
        font-size: 9px;
        padding: 1.5em 2em;
        margin-top: 3em;
        margin-bottom: 2em;
      }

      .card-text { 
        padding: 2em 20px;

        img {
          margin: 0.5em auto 0;
        }

        em {
          font-size: 16px;
        }


        h3 {
          margin-top: .5em;
          margin-bottom: 0;
        }

        p {
          margin-top: 2em;
          margin-bottom: 0;
          font-weight: 400;
          line-height: 1.75;
          font-size: 15px;
          padding: 0 3em;

          &.author {
            font-size: 15px;
          }
        }
      }

      h3, em, .author {
        font-size: 16px;
      }

      img {
        width: auto;
        margin: 0 auto;
        display: block;
      }

      padding: 0 20px;
}

.card {
  text-align: center;
  padding: 0 0;
  @include dropshadow();
  height: 100%;
  display: flex;
  flex-direction: column;
  margin-bottom: 5em;
  color: #918F8D;

  &.floating {
    position: absolute;
  }

  .pager { 
    margin-top: 1em;
    font-size: 24px;
    line-height: 1;
    cursor: hand;

    color: #808C91;

    span {
      cursor: pointer;
    }

    .cycle-pager-active {
      color: $sherpa-brand-primary;
    }
  }

  .card-title {
    background: #003E7A;
    color: $white;
    text-align: center;
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    padding: 36px;
    font-size: 28px;
    margin: 0 0;
  } 

  .card-text {
    padding: 3em 90px 50px;
    flex: 1;
    background: #F4F4F4;

    p {
      margin-top: 2.5em;
      font-size: 17px;
    }

    p.author {
      font-size: 21px;
      margin-top: 1em;
    }

    h2 {
      letter-spacing: -1px;
      color: #000;
    }

    img {
      display: block;
      margin: 0 auto 2.5em;
    }

    em {
      font-size: 19px;
      font-style: normal;
      @include raleway();
      margin-bottom: .75em;

      &::before {
        content: '// '
      }

      &::after {
        content: ' //'
      }
    }
  }

  .alignnone {
    margin: 0 auto;
  }


  h3 {
    line-height: 1.5;
    margin-bottom: 20px;
  }

  .card-img {
    height: 180px;
    background: url('../img/government-commercial.jpg') 0 0 no-repeat;
    background-size: cover;
    display: block;
  }

  &.card-2 {
    .card-img {
      background-image: url('../img/services.jpg');
    }
  }

  .card-bottom {
    margin-top: auto;
    padding: 50px 122px;

    a {
      display: block;

      .btn {
        padding: 1.75em;
        width: 100%;
        letter-spacing: 1px;
        font-size: 14px;

        &.btn-default {
          color: $white;
          background : rgba(255, 255, 255, .25);

          &:hover {
            background: $sherpa-brand-primary;
          }
        }
      }
    }


    &.transparent {
      background : rgba(95, 106, 112, 0.49);
      display: flex;
      flex-direction: column;

      a {
        flex: 1;
        width: 100%;
        margin-bottom: 10px;
      }
    }
  }


  @media screen and (max-width: $screen-sm-max) {
    
    @include cardSmall();
  }
}


@media screen and (min-width: $screen-md-min) {
  .floating-sidebar {
    position: absolute;
  }
}