.center-text {
  text-align: center;
  padding: 108px 0 118px;
  font-weight: 300;
  
  h2 {
    margin-bottom: 0;
    font-size: 41px;
    font-family: 'Roboto', sans-serif;
    color: #8F9699;
  }

  h3 {
    font-size: 25px;
    margin-top: 0.5em;
    font-family: 'Montserrat', sans-serif;
    color: #8F9699;
  }

  p {
    margin-top: 40px;
    font-size: 18px;
    margin-bottom: 10px;
  }

  @include media-breakpoint-down(xs) {
     padding-top: 50px;
     padding-bottom: 40px;

     p {
       font-size: 16px;
       line-height: auto;
       margin-bottom: 0;
     }

     h2 {
       font-size: 24px;
       margin-top: 0;
     }

     h3 {
       font-size: 19px;
       margin-top: 20px;
       margin-bottom: 0;
     }
  }
}