.home-module-3 {
  .bg-grid {
    background: url("../img/bg-square.jpg") 0 0 no-repeat;
    background-size: cover;
    padding-top: 4em;
  }

  padding-bottom: 4em;

  .bg-gradient {
    display: flex;
    justify-content: center;
    align-items: center;

    h2 {
      color: $white;
      margin-bottom: 0;
    }
  }

  .grid-container {
    background: url('../img/grid.png') 0 0 no-repeat;
    background-size: cover;
    min-height: 827px;
  }

  .shadow {
    @include dropshadow-thin();
  }
}
