.home-module-5 {
    overflow: hidden;
    position: relative;

    .row .col:first-child > div {
        padding-right: 7em;
    }

    .row .col:last-child {
        padding-left: 0;
    }

    &::before {
        content: '';
        display: block;
        width: 101%;
        height: 84px;
        top: 0px;
        transform: translateX(-50%);
        left: 50%;
        position: absolute;
        @include svg-rounded();
        background-repeat: no-repeat;
        background-position: center -1px;
        z-index: 99;
      }

    .map-column {

        span {
            color: $white;
            position: absolute;
            top: 50%;
            left: 20%;
            transform: translateY(-50%) transtlateX(-50%);
            z-index: 99;
            display: block;
            width: 100%;
            font-size: 25px;

            &::before {
                content: '+ ';
                display: inline-block;
                width: 1em;
                height: 1em;
                position: relative;
              }
        }

        .row {
            width: 100%;
        }

        .row:first-child .col {
            width: 100%;

            &::before {
                content: '';
                background: rgba(0,0,0,0.7);
                width: 100vw;
                height: 100%;
                display: block;
                position: absolute;
                left: 0;
                top: 0;
                z-index: 2;
                pointer-events: none;
            }

        }

        .row:last-child .col {
            width: 100%;

            &::before {
                content: '';
                background: rgba(0,0,0,0.63);
                width: 100vw;
                height: 100%;
                display: block;
                position: absolute;
                left: 0;
                top: 0;
                z-index: 2;
                pointer-events: none;
            }
        }
    }

    .col {
        display: flex;
        justify-content: center;
        align-items: flex-start;
        flex-direction: column;
    }

    h2 {
        @include serif();
        font-size: 45px;
       
    }

    em {
        @include serif();
        font-size: 24px;
         line-height: 1;
         font-weignt: 300;
    }

    p {
        font-size: 13px;
    }

    @include media-breakpoint-down(md) {

        &::before {
            display: none;
        }

        .map-column {
            padding-right: 0;
        }

        .map-column span {
            font-size: 12px;
            display: block;
            left: 50%;
            transform: translateX(-50%);
            width: auto;
        }

        h2 {
            font-size: 25px;
        }

        em {
            font-size: 20px;
            line-height: 1.5;
        }

        

        .map-column .col {
            &::before {
                content: '';
                background: rgba(0,0,0,0.63);
                width: 100vw;
                height: 100%;
                display: block;
                position: absolute;
                left: 0;
                top: 0;
                z-index: 2;
                pointer-events: none;
            }
        }

        .map-column:first-child .col {
            &::before {
                content: '';
                background: rgba(0,0,0,0.7);
                width: 100vw;
                height: 100%;
                display: block;
                position: absolute;
                left: 0;
                top: 0;
                z-index: 2;
                pointer-events: none;
            }
        }


         .row .col:first-child>div.extra-padding {
            text-align: center;
            padding-top: 4em;
            padding-bottom: 4em;
            padding-right: 15px;
        }


        iframe {
            height: 132px;
        }
    }

}

.internal .home-module-5 {
    background: #F7F7F7;

    span {
        transform: translateY(-50%);
    }

    iframe {
        height: 225px;
    }

    &::before {
        display: none;
    }

    p.h3 {
        font-size: 24px;
        @include serif();
        font-style: italic;
        margin-bottom: 1em;
        font-weight: 300;
    }
}