.home-module-6 {
  padding: 80px 0;
  text-align: center;

  h2 {
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
  }

  p {
    font-weight: 300;
  }

  p.blurb {
    font-size: 24px;
    font-weight: 300;
    line-height: 1.5;
    margin-top: .5em;
    margin-bottom: 1.5em;
  }

  .col-md-10 {
    margin: 0 auto;
  }

  a {
    font-weight: 600;
  }
  

   @media screen and (max-width: $screen-sm-max) {

      padding: 1.5em .5em;
      
      h2 {
        font-size: 18px;
        margin-bottom: 0;
      }

      p.blurb {
        font-size: 16px;
        line-height: 1.5;
        margin-bottom: 2.25em;
        margin-top: 1.75em;
        font-weight: 800;
      }

      p {
        font-size: 16px;
        line-height: 1.5;
        margin-bottom: 1.5em;
      }


   }

}