.home-module-9 {
  

  .col-md-5 {
    justify-content: flex-end;
    display: flex;
  }

  h2 {
    font-size: 36px;
  }

  p {
    font-size: 17px;
    line-height: 2;
    font-family: 'Poppins', sans-serif;
    margin-bottom: 2em;
  }

  .container {
    @include drop-tag();
    padding-top: 6.5em;
    padding-bottom: 6.5em;
  }
}
