.home-module-4 {
  background: url('../img/bg-desktop.jpg') right 0 no-repeat;
  background-size: cover;
  padding: 10em 0;

  h2 {
    color: $white;
    font-size: 46px;
    font-weight: 300;
    line-height: 1.5;
    margin-bottom: .5em;
  }

  .btn {
    padding: 1.5em 3.2em;
    margin-top: 0;
  }

  @include media-breakpoint-down(md) {
    padding-top: 0;
    text-align: center;

    .bg-gradient {
      background: rgb(0,0,0);
      background: linear-gradient(180deg, rgba(0,0,0,1) 0%, rgba(0,0,0,1) 80%, rgba(0,0,0,0) 100%);
      padding-bottom: 2em;
    }
    
    h2 {
      font-size: 20px;
    }
  }
}