.home-module-1 {
  ul {
    list-style-type: circle;
    font-size: 19px;

    li {
      line-height: 1.5;
      margin-bottom: 1em;
    }

    li span {
      font-size: 18px;
      line-height: 1;
    }
  }

  padding-top: 5em;
  padding-bottom: 5.5em;

  @media screen and (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
    ul {
      font-size: 16px;
      margin-top: 0;
    }

    h3, h2 {
      margin-top: 0;
    }
  }

  @media screen and (min-width: $screen-sm-min) {
    ul {
      display: block !important;
    }
  }

  @media screen and (max-width: $grid-float-breakpoint-max) {
    padding-top: 0;
    padding-bottom: 0;

    h3, h2 {
      margin: 0 0;
    }

    ul {
      line-height: 1.5;
      margin-bottom: 2em;
      font-size: 14px;

      li {
        margin-bottom: 1em;
      }
    }

  }
}