.home-module-6 {
  text-align: center;
  overflow: hidden;
  text-align: left;
  padding: 137px 0;

  .flex-col {
    justify-content: flex-start;
  }

  h2 {
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    line-height: 1.5;
    margin-bottom: .75em;
  }

  p {
    font-weight: 300;
    font-size: 18px;
  }

  p.blurb {
    font-size: 20px;
    font-weight: 300;
    line-height: 1.5;
    margin-top: .5em;
    margin-bottom: 1.5em;
  }

  .col-md-10 {
    margin: 0 auto;
  }

  a {
    font-weight: 600;
  }

  .col-md-6:last-child {
    .extra-padding {
      padding-left: 5.5em;
    }
  }

  h2 {
    margin-top: 0;
  }

  .extra-padding {
    display: flex;
    flex-direction: column;
    height: 100%;
  }

  .v-align-bottom {
    align-self: flex-end;
    margin-top: auto;
  }


  .bg-square {
    flex: 1;

    &::before {
      background: url('../img/bg-square.jpg') 0 0 no-repeat;
      flex: 1;
      background-size: cover;
      content: '';
      display: block;
      width: 100%;
      height: 100%;
      position: absolute;
      width: 50vw;
    }

    @include media-breakpoint-down(sm) {
      padding-bottom: 0;

      &::before {
        display: none;
      }
    }
  }

  .bg-blue, .bg-gray {
    padding: 6em 0;
    position: relative;
  }

  .bg-blue {
      color: $white;
      padding-right: 2em;

      &::before {
        content: '';
        background: #959eac;
        width: 200vw;
        height: 100vh;
        left: -50vw;
        position: absolute;
        z-index: -1;
        top: 0;
      }

      @include media-breakpoint-down(sm) {
        padding: 2em 0;
        text-align: center;
      }
  }

  .bg-gray {
    padding-right: 2em;

    h2 {
      margin-bottom: 1em;

      .br {
        display: block;
      }
    }
    text-align: center;

    &::before {
      background: #EDEDED;
      content: '';
      width: 200vw;
      height: 100vh;
      left: -50vw;
      position: absolute;
      z-index: -1;
      top: -50vh;
    }

     @include media-breakpoint-down(sm) {
        
        h2 {
          font-size: 22px;
          line-height: 1.5;
        }

        p {
          font-weight: 300;
        }

        padding: 0 0;
        
     }
  }
  

   @include media-breakpoint-down(sm) {

      padding: 3em 0 0;

      img {
        width: 100%;
        margin-top: 2em;
      }

      .bg-square {
        background: none;

        &::after {
          display: none;
        }
      }
      
      h2 {
        font-size: 19px;
        margin-bottom: 1em;
        line-height: 1.5;
      }

      p.small {
        margin-bottom: 0;
      }

      p.blurb {
        font-size: 17px;
        line-height: 1.5;
        margin-bottom: 2.25em;
        margin-top: 1.75em;
      }

      p {
        font-size: 16px;
        line-height: 1.5;
        margin-bottom: 1.5em;
      }

      text-align: center;

      .extra-padding {
        padding: 0 20px;
      }

   }

}