.home-module-4 {
  
   background: url('../img/bg-game.jpg') 0 0 no-repeat;
   background-size: cover;
   color: #fff;

   .container {
       @include drop-tag();
        padding-top: 11em;
        padding-bottom: 11em;
   }

   h2, h3 {
     color: #fff;
     font-weight: 500;
     font-size: 36px;
     margin-bottom: 1em;
   }

   p {
       font-family: 'Poppins', sans-serif;
       font-size: 17px;
       line-height: 2;
       margin-bottom: 0;
   }

   @include media-breakpoint-down(md) {
       text-align: center;

       .container {
           padding: 3.5em 3em;

           &::before {
             right: 30px;
           }
       }


       h2, h3 {
           font-size: 18px;
       }

       p {
           font-size: 15px;
       }
   }
}