.home-module-8 {
    background: #000;
    color: #fff;

    .container {
        @include drop-tag();
       

        &::before {
          right: 0;
        }
      }

    p {
        font-size: 17px;
        font-family: 'Poppins', sans-serif;
        line-height: 2;
    }

    h2, h3 {
        color: #fff;
        font-size: 36px;
        font-weight: 500;
        margin-bottom: 1em;
    }

    .col {
        padding-top: 6.25em;
        padding-bottom: 6.25em;
    }


    .col:first-child {
        position: relative;

        &::before {
            background: url('../img/bg-girls.jpg') center 0 no-repeat;
            background-size: cover;
            content: '';
            position: absolute;
            height: 100%;
            width: 50vw;
            right: 0;
            top: 0;
        }
    }

    @include media-breakpoint-down(md) {
        text-align: center;

        .col {
            padding-top: 3.5em;
            padding-bottom: 3.5em;
            padding-left: 30px;
            padding-right: 30px;
        }

        .container::before {
            display: none;
        }

        .container img {
            width: 100%;
        }


        .col:first-child {
            padding: 0 0;
        }

        .col:first-child::before {
            display: none;
        }

        .col:last-child {
            @include drop-tag();

            &::before {
              right: 20px;
            }
        }

        h2, h3 {
            font-size: 18px;
        }

        p {
            font-size: 15px;
        }
    }
}