.home-module-7 {
    text-align: center;
    padding: 7em 0;

    h2 {
        font-size: 36px;
    }

    p {
        font-size: 17px;
        font-family: 'Poppins', sans-serif;
        line-height: 2;
        margin-bottom: 0;
    }
}