.home-module-7 {
    background: #1A1A1A;
    color: $white;
    padding: 4em 0;

    h2 {
        color: $white;
        font-size: 25px;
    }

    .col {
        display: flex;
        justify-content: center;
        flex-direction: column;
    }

    @include media-breakpoint-down(md) {

        padding-bottom: 0;

        h2 {
         font-size: 20px;
         font-weight: 400;
         margin-bottom: 1em;
        }

        padding-top: 2em;
        text-align: center;

        img {
            margin: 0 auto;
            width: 100%;
        }
        
        p {
            font-size: 15px;
        }

        .row {
            flex-direction: column;
            text-align: center;

            .col {
                flex: 1;
            }

            p {
                margin-bottom: 2em;
            }
        }
    }
}