.home-module-5 {
  background: url('../img/bg-hanger.jpg') 0 0 no-repeat;
  background-size: cover;
  padding: 4.5em 0;
  
  p {
    margin-bottom: 0;
  }

  .container > .row {
    @include dropshadow();
  }

  .icon-1 {
    height: 34px;
  }

  .icon-2 {
    height: 47px;
  }

  .icon-3 {
    height: 40px;
  }

  .flex-col {
    display: flex;
    flex-direction: column;

    .col {
      padding: 0 0;
    }

    .row:first-child {
      flex: 0 auto;
    }

    .row:last-child {
      flex: 1;

      .col {
        display: flex;
      }

      .box {
        flex: 1;
      }
    }
  }

  svg {
    height: 50px;
    margin-bottom: 1em;
  }

  .col.flex-col {
    flex-direction: column;
    flex: 1;
    border-top: 15px solid $white;

    &:first-child {
      .box {
        border-left: 15px solid $white;
        border-right: 7.5px solid $white;
      }
    }

    &:last-child {
      .row {
        .box {
          border-left: 7.5px solid $white;
          border-right: 15px solid $white;
          
        }
      }
    }
    
    .row:last-child {
      display: flex;
    }
  }

  .col {
    flex-direction: column;
    flex: 1;
  }

  .box {
    background: rgba(0,0,0,0.5);
    color: $white;
    padding: 4em;
    display: flex;
    flex-direction: column;
    flex: 1;
    justify-content: flex-start;
    align-items: flex-start;
    border-bottom: 15px solid $white;
  }

  @include media-breakpoint-down(md) {
    display: none;
  }
}