.home-module-1 {
  background: url("../img/bg-hero.jpg") center bottom no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: row;
  position: relative;
  height: 750px;
  

  .jumbotron {
    width: 100%;
    flex: 1;

    h1 {
      margin-top: .5em;
      margin-bottom: 0;
    }

    .jumbo-content {
      flex: 1;
    }

    .secondary-nav {
      flex: 1;
      margin-top: auto;
    }

    .btn-transparent {
      padding: 0 0;
      font-size: 17px;

      &:hover {
        background: transparent;
      }
    }
  }

  .secondary-nav {
    background: #E5E5E5;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: auto;
  }


  .list-inline {
    list-style: none;
    display: flex;
    justify-content: center;
    color: $black;
    margin-bottom: 0;
    

    li {
      @include montserrat();
      letter-spacing: 1px;
      font-weight: 500;
      
      
      a {
        color: #1A1A1A;

        &:hover {
          color: $sherpa-brand-primary;
        }
      }
     
      &::before {
        content: "|";
        margin: 0 1.75em;
      }

      &:first-child::before {
        display: none;
      }
    }
  }

  @include media-breakpoint-down(sm) {
    background: url("../img/bg-hero-sm.jpg") center 50% no-repeat;
    background-size: cover;
  }

  @include media-breakpoint-down(md) {
    
    height: auto;

    .list-inline {
      flex-wrap: wrap;
      width: 100%;
    }

    .secondary-nav {
      height: 52px;
      @include bg-gradient(left, $list2);
      text-align: center;
      flex-wrap: wrap;
      height: auto;

      li {
        display: flex;
        align-items: center;
        color: $white;
        width: 50%;
        justify-content: center;
        border-bottom: 1px solid $white;


          border-left: 1px solid $white;

          &:first-child {
            border-left: 0;
          }

          &:nth-child(3) {
            border-left: 0;
          }


        &::before {
          display: none;
        }
      }

      li a {
        color: $white;
        font-size: 10px;
        text-align: center;
        padding: 36px 0;
        width: 100%;
        height: 100%;
        position: relative;

        &:hover {
          background: $white;
          color: $sherpa-brand-primary;
        }
      }


    }

    .jumbotron {
      height: 350px;
      padding: 2em 0;
    }

    h1 {
      font-size: 20px;
      line-height: 1.5;
    }

    h2 {
      font-size: 15px;
    }
  }
}

.jumbo-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    width: 100%;
  }