.home-module-4 {
  background: url("../img/bg-family.jpg") 0 0 no-repeat;
  background-size: cover;
  color: $white;
  padding-top: 310px;
  padding-bottom: 160px;

  @include buttonSpacing();

  .container {
    position: relative;

    &::before {
      @include numberTag();
      content: '03';
      position: absolute;
      top: -200px;
    }
  }

  h3 {
    color: $white;
    @include acumin();
    font-size: 44px;
    margin-bottom: .5em;
  }

  @media screen and (min-width: 1800px) {
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: 0 0; 
  }

  @include media-breakpoint-down(md) {
     padding-bottom: 0; 
     background: $white;
     color: #808080;

   h3 {
      color: #4D4D4D;
   }

    .extra-padding {
      padding-left: 40px;
      padding-right: 40px;
    }
  }

  @include media-breakpoint-down(lg) {
    padding-top: 1em;
   

    h3 {
     
      font-size: 28px;
      margin-top: 1em;
    }

    img {
      margin-top: 2em;
      width: 100%;
      height: auto;
    }

//     .row .col {
//       background: url('../img/family-sm.jpg') 0 0 no-repeat;
//       background-size: contain;
//       width: 100%;
//     }

    .row .col:first-child {
      background: none;
    }

    
  }
}
