.home-module-6 {
    background: url('../img/bg-chevron.png') right 0 no-repeat;
    background-size: contain;
    padding: 4em 0;

    strong.title {
        color: $sherpa-brand-primary;
        display: block;
        margin-bottom: 1em;
        font-family: 'Montserrat', sans-serif;
    } 

    p {
        margin-bottom: 1em;
    }

    @include media-breakpoint-down(md) {
        text-align: center;
        background-size: 100% auto;
        @include svg-chevron-mobile();
        content: '';
        background-repeat: no-repeat;
        padding-bottom: 2em;
        padding-top: 3.5em;

        h2 {
            font-weight: 600;
            font-size: 21px;
            line-height: 1.5;
        }

        p {
            font-size: 14px;
        }
    }
}

.page-template-default {
    .home-module-6 {
        background: #f2f2f2  url('../img/bg-chevron-bottom.jpg') right 0 no-repeat;
        background-size: cover;
        
        @include media-breakpoint-up(md) {
            height: 540px;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
}