.home-module-3 {
  position: relative;
  background: url('../img/bg-car.jpg') right 100% no-repeat;
  background-size: contain;
  padding-top: 10em;
  padding-bottom: 4em;  
  z-index: 0;

  &::before {
    content: '';
    @include svg-chevron();
    background-position: 10vw -10vh;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 200%;
    display: block;
    position: absolute;
    right: 0;
    bottom: 0;
  }
 
  
  &::after {
    background: url('../img/car.png') 0 100% no-repeat;
    content: '';
    position: absolute;
    bottom: -240px;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 0;
  }

  @media screen and (min-width: 992px) and (max-width: 1800px) {
    &::after {
      position: absolute;
      bottom: -100px;
      left: 0;
      width: 80%;
      height: 100vh;
      background-size: 50% auto;
    }
  }

 

   .circle-container {
    text-align: right;

    h3 {
      font-weight: 700;
      margin-bottom: .5em;
      font-family: 'Poppins' sans-serif;
      color: #1A1A1A;
    }

    p {
      font-family: 'Poppins' sans-serif;
      color: #606060;
      font-weight: 400;
      font-size: 20px;

      strong {
        color: #1a1a1a;
      }
    }
  }

  h2 {
    font-weight: 700;
    font-family: 'Poppins' sans-serif;
    margin-bottom: .5em;
    font-size: 40px;
    line-height: 1.5;

    strong {
      color: $sherpa-brand-primary;
    }
  }

  h3 {
    font-size: 28px;
    margin-bottom: 2em;
    line-height: 1.5;
    margin-top: 1.25em;
  }

  .circle {
    background: #202020;
    border-radius: 50%;
    width: 467px;
    height: 467px;
    position: relative;
    margin-bottom: 68px;
    margin-left: 20px;
    margin-top: 6em;
    z-index: 0;

    @keyframes pulse {
      0% { box-shadow:0 0 8px $sherpa-brand-primary, inset 0 0 8px $sherpa-brand-primary; }
      50% { box-shadow:0 0 16px $sherpa-brand-primary, inset 0 0 14px $sherpa-brand-primary; }
      100% { box-shadow:0 0 8px $sherpa-brand-primary, inset 0 0 8px $sherpa-brand-primary; }
    }

    em {
      border-radius: 50%;
      width: 40px;
      height: 40px;
      display: block;
      position: absolute;
      top: 52px;
      left: 173px;
      text-indent: -9999px;
      z-index: 0;
      background: rgb(153,3,0);
      background: radial-gradient(circle, rgba(153,3,0,1) 0%, rgba(242,242,242,0) 100%);

      &::after {
        content: '';
        width: 30px;
        height: 30px;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translateX(-50%) translateY(-50%);
        border-radius: 50%;
        @include gradient();
        z-index: -1;
        animation: pulse 2s linear 1s infinite;
      }


      &::before {
        content: '';
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translateX(-50%) translateY(-50%);
        background-color:transparent;
        width: 60px;
        height: 60px;
        border-radius:50px;
        box-shadow: 0 0 8px $sherpa-brand-primary, inset 0 0 8px $sherpa-brand-primary;
        animation: pulse 2s linear 1s infinite;
        z-index: 99;
      }

    }

    svg {
      width: 270px;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translateX(-50%) translateY(-50%);
    }
  }

  .outer-circle {
    width: 540px;
    height: 540px;
    display: block;
    @include svg-ring();
    z-index: -1;
  }

  .outer-circle-container {
    transform: translateX(-50%) translateY(-50%);
    left: 50%;
    top: 50%;
    position: absolute;
  }
 

  @include media-breakpoint-up(md) {

    .circle {
      transition: all 1s ease-in-out;
    }

    .outer-circle {
      transition: all 1.5s ease-in-out;
    }

     .circle em {
        transition: all 2s ease-in-out;
     }

    .outer-circle, .circle, .circle em {
      transform: scale(0); 

    }

     &.active .outer-circle, &.active .circle, &.active .circle em {
      transform: scale(1);
    }
  }

   @include media-breakpoint-down(lg){

   }

 @include media-breakpoint-down(md)
 {
   padding-top: 0em;
   padding-bottom: 0;
   background: none;
   overflow: hidden;
//    z-index: 4;
   position: relative;

    z-index: 9999;

   .col {
    
   }



   &::before {
     display: none;
   }

   .circle-container {
     text-align: center;

     p {
       font-size: 15px;
       line-height: 1.5;
       font-weight: 300;
     }
   } 

   .car-container {
     overflow: visible;

//      &::before {
//        background: url('../img/bg-car-mobile.jpg') 100% 100% no-repeat;
//        background-size: cover;
//        content: '';
//        position: absolute;
//        right: -25vw;
//        z-index: -1;
//        bottom: 0;
//        display: block;
//        height: 150%;
//        width: 100vw;
//      }
//      background: url('../img/bg-car-mobile.jpg') 100% 100% no-repeat;
//      background-size: cover;

//      &::before {
//        background: url('../img/bg-car-mobile.jpg') 100% 100% no-repeat;
//        background-size: cover;
//        content: '';
//        position: absolute;
//        bottom: 0;
//        left: 0;
//        width: 100vw;
//        height: 150%;
//      }

     padding-top: 4em;
     padding-bottom: 3em;
   }

   &::after {
     display: none;
   }

   .outer-circle {
     width: 152px;
     height: 152px;
     position: relative;

      &::before {
       content: '';
       display: block;
       width: 76px;
       height: 95px;
       position: absolute;
       left: 50%;
       background-repeat: no-repeat;
       position: absolute;
       top: 50%;
       transform: translateX(-50%) translateY(-50%);
       @include svg-lifetime();
       margin-top: -10px;
     }
   }

  
  svg {
    display: none;
  }

   .circle {
     width: 132px;
     height: 132px;
     margin: 2em auto;

      em {
       display: none;
     }
   } 

   h2 {
     font-size: 21px;
     line-height: 1.5;
     margin-bottom: 0;
   }

   h3 {
     font-size: 21px;
     line-height: 1.75;
     margin-bottom: 1em;
     margin-top: .75em;

   }

   
 }
}
 