.home-module-1 {
  height: 500px;

  .jumbotron {
    height: auto;
    margin-bottom: 0;
    padding: 2rem 2rem 4rem;
  }

  .jumbo-content {
    img {
      display: block;
      margin: 0 auto;
    }

    h1 {
      margin-top: 1em;
      font-size: 78px;
      font-family: "Poppins", sans-serif;
      text-transform: uppercase;
      letter-spacing: -2px;
      margin-bottom: 1em;
      font-weight: 300;

      > div {
        
      }

      span {
        font-size: 42px;
        letter-spacing: 20px;
        text-transform: none;
        margin-top: 0.5em;
        margin-bottom: 0; 
        position: relative;
        padding-left: 147px;
        padding-right: 147px;
        margin-right: -20px;
        font-weight: 400;


        &::before, &::after {
          width: 147px;
          height: 3px;
          background: #B3B3B3;
          content: '';
          display: block;
          position: absolute;
          top: 50%;
          transform: translateY(-50%); 
        }


        &::before {
          left: -45px;
        }

        &::after {
          right: -25px;
        }
      }
    }
  }

  @include media-breakpoint-down(md) {
    background: url("../img/bg-hero-mobile.jpg") center 0 no-repeat;
    background-size: cover;

    .jumbotron {
      padding: 3em;
      height: 320px;
    }

    .jumbo-content {
      h1 {
        font-size: 15px;
        margin-top: 0;

        span {
          font-size: 30px;
          line-height: 1.5;
        }
      }
    }
  }
}
