.home-module-5 {
  background: url('../img/bg-couches.jpg') center center no-repeat;
  background-size: cover; 
  color: $white;
  padding-top: 200px;
  padding-bottom: 200px;

  @include buttonSpacing();

  .container {
    position: relative;

    &::before {
      @include numberTag();
      content: '04';
      position: absolute;
    }
  }


  h3 {
    color: $white;
    font-size: 44px;
    margin-bottom: .5em;
  }

   @include media-breakpoint-down(md) {
      .extra-padding {
        padding-left: 40px;
        padding-right: 40px;
      }
   }

  @include media-breakpoint-down(lg) {
      padding: 1em 0 2em;

      h3 {
        margin-top: 1em;
        font-size: 28px;
      }
  }
}
