.home-module-2 {
  padding-top: 168px;
  padding-bottom:  168px;
  @include acumin();
  background: #F1F1F1;

  .container {
    position: relative;

    &::before {
      @include numberTag();
      content: '01';
      position: absolute;
    }

    @include media-breakpoint-down(md) {
      .extra-padding {
        padding-left: 40px;
        padding-right: 40px;
      }
    }
  
  }

  h3 {
    @include acumin();
    font-size: 44px;
    position: relative;
    margin-bottom: .5em;
    color: #4D4D4D;
    text-transform: uppercase;
  }

  .h4 {
    @include acumin-condensed();
    font-size: 22px;
    letter-spacing: 0;
    color: #000;
  }

  .col:last-child {
    display: flex;
    justify-content: center;
    align-items: flex-start;

    img {
      margin-left: auto;
      height: auto;
    }
  }

  p {
    margin-top: 2em;
  }

  @include media-breakpoint-down(lg) {
    padding-top: 1em;
    padding-bottom: 3em;

    h3 {
      font-size: 28px; 
      margin-bottom: 1em;
      margin-top: 1em;
    }

    .h4 {
      font-size: 14px;
      margin-bottom: 1em;
    }

    p {
      margin-top: 0;
    }

    img {
      margin-top: 4em; 
    }
  }
}
