.home-module-5 {
  background: url('../img/bg-logos.png') 0 0 no-repeat;
  background-size: cover;

  h2 {
    color: $white;
    margin-right: auto;
    margin-bottom: 0;
    font-size: 45px;
    font-weight: 300;
  }

  .col {
    display: flex;
    justify-content: center;
    padding: 7em 0;
  }

  &::after {
    @include gradient();
    height: 10px;
    content: '';
    width: 100%;
    display: block;

  }

  .btn {
    padding: 1.5em 2em;
  }

  @include media-breakpoint-down(md) {
      text-align: center;

      .col {
        flex-direction: column;
        padding: 3em 0;
      }

      h2 {
        font-size: 20px;

        strong {
          display: block;
        }

        margin-bottom: 1em;
      }
  }
}