.home-module-7 {
  background: url('../img/locations.jpg') 0 0 no-repeat;
  overflow: hidden;
  color: $white;
  padding-top: 216px;
  background-size: cover;

  h2 {
    margin-bottom: 1.3em;
    text-shadow: 0px 0px 10px rgba(0, 0, 0, 1);
  }

  p {
    font-size: 19px;
    font-weight: 300;
    margin-bottom: 3em;
    text-shadow: 0px 0px 10px rgba(0, 0, 0, 1);
  }

  .bg-dark {
    position: relative;
    z-index: 0;
    padding: 50px 0 0;

    p.blurb {
      font-size: 24px;
      font-weight: 300;
      line-height: 1.75;
      margin-bottom: .65em;
    }

    p {
      font-size: 16px;
    }

    h3 {
      font-weight: 600;
    }

    &::before {
      background: rgba(0, 0, 0, 0.6);
      content: '';
      height: 100%;
      position: absolute;
      width: 200vw;
      z-index: -1;
      bottom: 0;
      margin: 0;
      left: 0;
      transform: translateX(-50%);
    }
  }


  
 
  @media screen and (max-width: $screen-sm-max) {
    background: #000 url('../img/crew-sm.jpg') center 0 no-repeat;
    background-size: 100% auto;
    padding-top: 180px;
    text-align: center;
  
    h2 {
      font-size: 18px;
    }

    h3 {
      font-size: 16px;
      font-weight: 600;
    }

    p {
      font-size: 16px;
      line-height: 1.5;
    }

    p.blurb {
      font-size: 16px !important;
      line-height: 1.5;
    } 

    .bg-dark {
      padding-top: 0;
    }
  }

  @media screen and (min-width: 480px) and (max-width: $screen-sm-max) {
    .bg-dark {
      padding-top: 1em;
    }
  }
}