.home-module-1 {

  .bg-wrench {
    background: url('../img/bg-wrenches.jpg') right 0 no-repeat;
    background-size: cover;

    @media screen and (max-width: $screen-sm-max) {
      background: none;
      padding-top: 2em;

      h1 {
        font-weight: 600;
        font-size: 22px;
      }
    }
  }

  .brand {
    color: $sherpa-brand-primary;
  }


  @media screen and (min-width: $screen-md-min) {

    .home-right-sidebar {
      padding-top: 113px;
      padding-bottom: 113px;
    }

    #expand {
      display: block !important;
    }

    .bg-wrench {
      .extra-padding {
        padding-top: 133px;
        padding-bottom: 133px;
      }
    }

    h1 {
      font-size: 29px;
      font-weight: 600;
    }

    h2 {
      font-size: 26px;
      margin-bottom: 1em;
      line-height: 1.5em;

      .br {
        display: block;
      }

      ul {
        font-size: 19px;
        list-style: none;
        padding-left: 0;
        font-family: 'Roboto', sans-serif;
        font-weight: 300;
        margin-bottom: 3em;
      }
    }

    h3 {
      margin-top: 0;
      margin-bottom: 1em;
      font-size: 28px;
    }

    .box {
      margin-left: 85px;
    }
  }

  p.blurb {
    font-size: 21px;
    font-weight: 300;
    margin-top: 2em;
    margin-bottom: 2em;
    line-height: 1.85;
  }

  h2 {
    font-weight: 400;
  }

  p.light {
    color: #939292;
  }

  .box {
    background: url('../img/bg-sidebar.jpg') 0 0 no-repeat;
    background-size: cover;
    color: #fff;
    text-align: center;
    padding: 60px;
    padding-bottom: 30px;
    flex: 1;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;

    .btn {
      padding: .25em 2em .25em .5em;
      border-radius: 200px 60px 60px 200px;
      background: rgba(239, 103, 103, 0.79);
      margin-bottom: 1em;
      text-transform: none; 
      font-size: 17px;

      i {
        transition: transform 300ms ease-in-out;
      }

      &:hover {
        background: $sherpa-brand-primary;

        i {
          transform: scale(1.25);
        }
      }
    }

    i {
      background: $sherpa-brand-primary;
      border-radius: 60px;
      @include dropshadow();
      padding: 1em 1.5em;
      display: inline-block;
      margin-right: 2em;
      font-size: 16px;

      &::before {
        background: $white;
        border-radius: 100%;
        padding: .35em;
        font-size: 20px;
        color: $sherpa-brand-primary;
      }
    }


    h2 {
      @include raleway();
      font-size: 27px;
      font-weight: 400;
      margin-top: 0;
      line-height: 1.35;
    }

    p.blurb {
      color: #BDC4C6;
      font-size: 18px;
    }
  }

  @media screen and (max-width: $screen-sm-max) {

    ul {
      list-style: none;
      padding-left: 0;
    }

    .flex-row {
      flex-direction: column;
    }

    h2 {
      margin-bottom: .5em;
      line-height: 1.5;
    }

    .box {
      margin: 0 20px;
      padding: 40px;
      margin-bottom: 2em;
      padding-bottom: 1em;
      background: url('../img/bg-sidebar-small.jpg');
      background-size: cover;
      height: 326px;

      .btn {
        font-size: 11px;
        margin-bottom: .5em;

        i {
          padding: .5em 1em;
        }

        i::before {
          font-size: 12px;
        }
      }

      h2 {
        font-size: 19px;
        margin-bottom: 0;
      }

      p {
        margin-bottom: 0;
      }

      p.blurb {
        font-size: 14px;
        margin-bottom: 2em;
      }
    }

    
    p.blurb {
      font-size: 17px;
      line-height: 1.75;
      margin-top: 1em;
    }

    h3 {
      margin-top: 0;
    }

    h2.no-margin {
      margin: 0 0;
    }


    h2, h3 {
      font-size: 19px;
    }

    .brand {
      display: block;
    }


    h2.larger {
      font-size: 22px;
      line-height: 1.5;
      margin-top: 0;
    }

    .btn {
      margin-top: .5em;
      padding: 1.25em 2em;
    }

    p.light {
      font-size: 15px;
    }

    text-align: center;
  }
}

@media screen and (max-width: $screen-sm-max) {
  .expander {
      background: #1E3151;
      color: $white;
      text-align: left;
      font-size: 20px;
      padding: 0;
      cursor: pointer;
      margin: 2em 0;

      a {
        padding: 1.75em 1.5em;
        position: relative;
        color: $white;
        display: block;


        &::after {
          @include svg-arrow(FFFFFF);
          content: '';
          display: block;
          height: 24px;
          width: 24px;
          position: absolute;
          right: 1.5em;
          top: 50%;
          transform: translateY(-50%);
          transition: transform 0.3s ease-in-out;
        }

        
      }

      &.expanded {
          a::after {
            transform: translateY(-50%) rotate(90deg);
          }
        }

      a .btn {
        font-size: 10px;
      }
    }
}

