.home-module-3 {
  .bg-grid {
    background: url("../img/bg-square.jpg") 0 0 no-repeat;
    background-size: cover;
    padding-top: 6.25em;
  }

  padding-bottom: 4em;

  .bg-gradient {
    display: flex;
    justify-content: center;
    align-items: center;

    h2 {
      color: $white;
      margin-bottom: 0;

      a {
        color: $white;
      }
    }
  }

  .grid-container {
    background: url('../img/grid.png') 0 0 no-repeat;
    background-size: cover;
    min-height: 827px;
  }

  .shadow {
    @include dropshadow-thin();
  }

  @include media-breakpoint-down(lg) {

    padding-bottom: 2em;

    .bg-grid {
      background: $white;
      padding-top: 2em;
    }

    .grid-container {
      background: none;
      text-align: center;
      min-height: 0;

      img {
        margin: 0 auto;
      }
    }
  }
}
