.home-module-6 {
    padding-top: 130px;
    padding-bottom: 130px;
    
    background: url('../img/bg-printers.jpg') 0 0 no-repeat;
    background-size: cover;
    color: $white;

    p {
        margin-bottom: 0;
        font-size: 15px;
    }

    .side-text.align-bottom span {
        color: $white;
        top: auto;
        bottom: 1em;
    }

    @include media-breakpoint-down(lg) {
        text-align: center;
        padding-top: 2em;
        padding-bottom: 2em;
        background: url('../img/bg-about-sm.jpg') 0 0 no-repeat;
        background-size: cover;

        .extra-padding {
            padding-top: 2em;
            padding-bottom: 2em;
        }

        .side-text.align-bottom span {
            transform: none;
            bottom: 0;
            top: 0;
            left: 30px;
            bottom: auto;
            font-size: 12px;
        }

        p {
            margin-bottom: 0;
        }
    }
}
