.home-module-4 {
  padding: 100px 0;
  background: #EDEFEF;

  p, ul {
    font-size: 18px;
    font-weight: 300;
  }

  .banner {
    display: block;
    margin-top: 5em;
  }

  h2 {
    line-height: 1.5;
    margin-top: 0;
    padding-left: 3.5em;
    padding-right: 3.5em;
    margin-bottom: 2em;
  }

  p.blurb {
    font-size: 20px;
  }

  ul {
    list-style: none;
    padding-left: 0;
    margin-left: 0;
    margin-top: 1.5em;

    li {
      margin-bottom: .5em;
    }
  }

  @include media-breakpoint-down(sm) {
    padding: 2em 0 0;
    text-align: center;

    img {
      margin-top: 2em;
      width: 100%;
    }


    h2 {
      font-size: 19px;
      line-height: 1.5;
      padding-left: 0;
      padding-right: 0;
    }

    p, p.blurb {
      font-size: 15px;
      margin-bottom: 1em;
    }

    ul {
      padding-left: 0;
      margin-left: 0;
      list-style: none;
      font-size: 16px;

      li {
        margin-bottom: 1em;
      }
    }
  }

}