.home-module-6 {
  background: url('../img/bg-building.jpg') 0 0 no-repeat;
  background-size: cover;
  overflow: hidden;

  .google-colors {
    margin-bottom: 0;
  }

 

  .top-contact {
    height: 594px;
    display: flex;
  }



  .swish {

    p {
      font-size: 22px;
      font-weight: 300;

      strong {
        font-weight: 600;
      }
    }


    h2 {
      color: #000;
      font-size: 48px;
      margin-bottom: .25em;
      font-weight: 300;
      font-family: 'Lato', sans-serif;

      .half-circle {
        position: absolute;
        top: 50%;
        left: -200px;
        content: '';
//         background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 304.6 490.23"><defs><linearGradient id="e7149bdf-28a7-4b62-aa6f-9627323361ce" x1="-148.15" y1="89.56" x2="86.86" y2="496.61" gradientTransform="translate(412.54 54.17) rotate(47.27)" gradientUnits="userSpaceOnUse"><stop offset="0" stop-color="#eec13c" stop-opacity="0.42"/><stop offset="0.41" stop-color="#ecb71e" stop-opacity="0.8"/><stop offset="0.56" stop-color="#f1c954" stop-opacity="0.91"/><stop offset="0.67" stop-color="#f4d67e"/><stop offset="0.9" stop-color="#fdf7e7" stop-opacity="0.19"/><stop offset="0.95" stop-color="#fff" stop-opacity="0"/></linearGradient><linearGradient id="a61871a9-273d-4d39-a861-31afce21ed89" x1="-30.56" y1="422.91" x2="234.18" y2="422.91" gradientTransform="translate(412.54 54.17) rotate(47.27)" gradientUnits="userSpaceOnUse"><stop offset="0.01" stop-color="#ecb71e"/><stop offset="0.4" stop-color="#f1ca58"/><stop offset="0.65" stop-color="#f4d67e"/><stop offset="0.93" stop-color="#fdf7e7" stop-opacity="0.19"/><stop offset="1" stop-color="#fff" stop-opacity="0"/></linearGradient></defs><title>swish</title><g id="fcf9484f-d3d4-42cf-bb17-2ac0e117e701" data-name="Layer 2"><g id="a2aa9bc3-b99c-484c-b120-614e23fb5b3a" data-name="Layer 8"><path d="M256.54,468.84l-13.69-81.46a135,135,0,0,1,25-268.8L304.6,24.27c-29.3-6.55-58.36-7-88.86-1.91A235.32,235.32,0,0,0,118.2,446.1c4.17,3,8.43,5.79,12.74,8.47a233.1,233.1,0,0,0,125.77,35.21Z" fill="url(#e7149bdf-28a7-4b62-aa6f-9627323361ce)"/><path d="M280,439.21a185.71,185.71,0,0,1-130.17-31c-2.37-1.63-4.72-3.31-7-5.07a185,185,0,0,1-54.59-66.1L42,354.87a234.1,234.1,0,0,0,71,87.58q8.7,6.6,17.86,12.29a233.07,233.07,0,0,0,129.25,35.43A239.66,239.66,0,0,0,287.27,488l.9-.13Z" fill="url(#a61871a9-273d-4d39-a861-31afce21ed89)"/><path d="M55.35,113.07A247.08,247.08,0,0,1,292.65,12.25c.11-3.21.17-6.43.16-9.65A256.16,256.16,0,0,0,.26,267c3.18-.58,6.36-1.2,9.52-1.91A244.58,244.58,0,0,1,55.35,113.07Z" fill="#ccc"/></g></g></svg>') 0 0 no-repeat;
        width: 304px;
        height: 409px;
        display: block;

        img, svg {
          width: 304px;
          height: 409px;
        }
      }

      strong {
        font-weight: 700;

        .brand {
          color: #2193FA;
        }
      }
    }
  }

  p {
    color: #606060;
  }

  .flex-col {
    justify-content: center;
    align-items: center;
    display: flex;
  }

  .badges {
    max-width: 100%;
    display: flex;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }

  .google-logo {
    text-indent: -9999px;
    background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 77.45 25.28"><title>Asset 2</title><g id="eda63b39-2332-4596-8274-da2f84f6fb3e" data-name="Layer 2"><g id="b2565128-f8f5-42c6-86ad-0da44b866930" data-name="Layer 8"><path d="M9.54,0h.69a9.36,9.36,0,0,1,6.43,2.72C16,3.35,15.4,4,14.79,4.6a6.93,6.93,0,0,0-3.34-1.75A7,7,0,0,0,3,8.84a7.25,7.25,0,0,0,1.57,5.58,7,7,0,0,0,5.07,2.5,6.72,6.72,0,0,0,5-1.73,5.53,5.53,0,0,0,1.68-3.59c-2.16,0-4.32,0-6.47,0V8.93H19a9.21,9.21,0,0,1-2.39,8.16,8.93,8.93,0,0,1-5.52,2.48,10.1,10.1,0,0,1-5.81-1.14A10,10,0,0,1,.6,13.14,9.64,9.64,0,0,1,.53,6.65,10,10,0,0,1,4.11,1.91,10.18,10.18,0,0,1,9.54,0Z" fill="#5780c0"/><path d="M61.65.68h2.78V19.23c-.92,0-1.86,0-2.78,0q0-9.25,0-18.54Z" fill="#3aa655"/><path d="M25.15,7.11a6.54,6.54,0,0,1,5,1.06,6.11,6.11,0,0,1,2.45,3.9,6.41,6.41,0,0,1-1.26,5.21,6.42,6.42,0,0,1-10.07-.2,6.53,6.53,0,0,1-.86-5.9,6.17,6.17,0,0,1,4.75-4.07m.39,2.47a3.42,3.42,0,0,0-1.82,1.15,4.13,4.13,0,0,0,.2,5.37,3.46,3.46,0,0,0,5.51-.82,4.09,4.09,0,0,0-.7-4.88,3.48,3.48,0,0,0-3.19-.82Z" fill="#e7453c"/><path d="M38.92,7.11A6.49,6.49,0,0,1,44.5,8.65a6.45,6.45,0,0,1,.61,8.63,6.36,6.36,0,0,1-5.21,2.33A6.27,6.27,0,0,1,35,17.08a6.55,6.55,0,0,1-.82-6,6.15,6.15,0,0,1,4.7-3.94m.39,2.47a3.54,3.54,0,0,0-1.82,1.14A4.14,4.14,0,0,0,37.63,16a3.49,3.49,0,0,0,3.18,1,3.54,3.54,0,0,0,2.41-1.78,4.13,4.13,0,0,0-.72-4.9,3.48,3.48,0,0,0-3.19-.8Z" fill="#f7b92a"/><path d="M50.6,7.86a5.36,5.36,0,0,1,5.1-.39,4.68,4.68,0,0,1,1.32,1c0-.35,0-.72,0-1.08h2.62V18.84A6.82,6.82,0,0,1,58,23.66a6.22,6.22,0,0,1-5.34,1.54,6,6,0,0,1-4.55-3.63c.78-.37,1.6-.67,2.4-1A3.6,3.6,0,0,0,53,22.73a3.38,3.38,0,0,0,3.25-1A5.23,5.23,0,0,0,57,18.14a4.48,4.48,0,0,1-2.11,1.3,5.71,5.71,0,0,1-5.19-1.34,6.39,6.39,0,0,1-2.16-5,6.46,6.46,0,0,1,3-5.27m2.69,1.67a3.44,3.44,0,0,0-2,1.18,4.14,4.14,0,0,0,0,5.21,3.39,3.39,0,0,0,2.92,1.19,3.26,3.26,0,0,0,2.48-1.65,4.37,4.37,0,0,0-.44-4.91,3.18,3.18,0,0,0-2.94-1Z" fill="#5780c0"/><path d="M67.77,8.52a5.9,5.9,0,0,1,6-1.18,6.73,6.73,0,0,1,3.71,4.38L69,15.22a3.36,3.36,0,0,0,1.79,1.69,3.63,3.63,0,0,0,3.43-.5,5.15,5.15,0,0,0,1-1l2.15,1.43a6.37,6.37,0,0,1-10,.63,6.66,6.66,0,0,1,.48-8.93m1.39,2.41a3.76,3.76,0,0,0-.61,2.18l5.65-2.35a2.33,2.33,0,0,0-1.83-1.29A3.34,3.34,0,0,0,69.16,10.93Z" fill="#e7453c"/></g></g></svg>') 0 0 no-repeat;
    width: 77px;
    height: 25px;
    display: inline-block;
    margin: 0 0.25em;
  }

  .upcity-badge {
    width: 210px;
    height: 210px;
    background: url('../img/top-seo.png') center center no-repeat;
    background-size: contain;
    display: block;

    &:nth-child(2) {
      transform: translateX(-50px);
    }

    &:nth-child(4) {
      transform: translateX(50px);
    }

    &.top-design {
      background: url('../img/top-web-design.png') center center no-repeat;
    }

    &.top-ppc {
      background: url('../img/top-ppc.png') center center no-repeat;
    }

    &.top-social {
      background: url('../img/top-social.png') center center no-repeat;
    }


    &.top-seo {
      background: url('../img/top-seo.png') center center no-repeat;
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      z-index: 99;
    }

    &.digital {
      background: url('../img/top-digital.png') center center no-repeat;
    }
  }


  .contact-bottom {
    &::before {
      background: rgb(0,0,0);
      background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(21,19,19,0.4) 49%, rgba(35,31,32,0.5) 100%);
      content: '';
      position: absolute;
      left: -50vw;
      width: 150vw;
      top: 0;
      height: 100%;
      display: block;
    }


    h2, h3 {
      color: $white;
    }

    input[type="email"], input[type="tel"], input[type="text"], textarea { 
      color: $white;
      border-bottom: 1px solid rgba(255,255,255,0.4);
    }

    ::placeholder {
       color: $white;
    }

  }

  @include media-breakpoint-down(md) {


      .top-contact {
        text-align: center;
        height: auto;
        display: block;
        padding: 3.5em 0 0;

        .badges {
          transform: none;
          margin: 0 auto;
          width: auto;
          left: 50%;
          transform: translateX(-50%);
        }
 
        .upcity-badge {
          width: 60px;
          height: 60px;
          background-size: cover;

          &:first-child {
            transform: translateY(10px);
          }

          &:nth-child(2) {
            transform: translateX(-30px) translateY(10px);
          }

          &:nth-child(4) {
            transform: translateX(30px) translateY(10px);
          }
        }

        .upcity-badge.top-seo {
          width: 88px;
          height: 88px;
          background-size: cover;
          left: 50%;
          transform: translateX(-50%);
        }

        .col {
          padding-left: 0;
          padding-right: 0;
        }

        h2 {
          font-size: 20px;
        }

        p {
          font-size: 11px;
        }
      }
  }
}

.page-template-default, .blog, .error404, .post-template-default, .page-template-page-landing, .page-template-page-contact, .page-template-page-youtube-ads  {

  .home-module-6 {
    background: url('../img/bg-building-internal.jpg') 0 0 no-repeat;
    background-size: cover;
  }
}

.contact-bottom {
  position: relative;
  padding: 7.6em 0;
  text-align: center;

  .form-group label {
    width: 50%;
    margin-right: 20px;

    &:last-child {
      margin-left: 20px;
      margin-right: 0px;
    }
  }

  .form-group {
    display: flex;
    margin-bottom: 2rem;
  }

  h2 {
    margin-bottom: 0;
    font-size: 45px;
    font-weight: 700;
  }

  h3 {
    font-size: 25px;
    margin-bottom: 2em;
    margin-top: .5em;
  }

  input[type="submit"] {
    margin-top: 4em;
    cursor: pointer;
    cursor: hand;
    padding: 1.5em 5em;
  }

  label {
    position: relative;
    overflow: hidden;

    &::after {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: calc(100% - 10px);
      margin-top: 2px;
      border-bottom: 3px solid $sherpa-brand-primary;
      transform: translate3d(-100%, 0, 0);
      transition: transform 0.3s;
    }
  }


  input[type="email"], input[type="tel"], input[type="text"], textarea {
    background: transparent;
    border: 0;
    border-bottom: 1px solid #B2B2B2;
    width: 100%;
    padding: .5em .5em .5em 2em;
    position: relative;


    &:focus {
      outline: none !important;
      box-shadow: none !important;

      + label::after {
        transform: translate3d(0,0,0);
      }
    }



    &:after {
      width: 100%;
      height: 10px;
      background: red;
      content: '';
      display: block;
      position: absolute;
      z-index: 99;
      top: 0;
    }
  }

  textarea {
    padding: 0 .5em 0 2em;
    margin-top: .75em;
  }

  ::placeholder {
   

    &::before {
      content: '| ';
      display: block;
      width: 1em;
      height: 100%;
    }
  }

   .form-group label span.wpcf7-form-control-wrap {

    &:before {
      content: "|";
      position: absolute;
      left: 1em;
      top: -1px; 
      display: block;
      color: $white; 
    }


    &.message {
      &::before {
        top: -16px;
      }
    }
  }


  @include media-breakpoint-down(md) {

      padding: 3.25em 0 1.5em;

      h2 {
        font-size: 20px;
      }

      h3 {
        font-size: 15px;
      }

      .form-group {
        flex-wrap: wrap;
        margin-bottom: 0;
        margin: 0 2em;
      }

      ::placeholder {
        font-size: 12px;
      }

      .form-group label {
        font-size: 12px;
        width: 100%;
        margin-right: 0;
        padding: 1em 0;

        &:last-child {
          margin-left: 0px;
          margin-right: 0px;
        }
      }
  }
}

.content {

  .contact-bottom {
    padding: 4em 0;

    h2 {
      font-size: 30px;
      font-weight: 300;
      margin-bottom: 2em;
    }

    h2.text-center {
      margin-bottom: 1em;
      color: #606060;

      a {
        color: $sherpa-brand-primary;
        font-weight: 700;
      }
    }

     .form-group label span.wpcf7-form-control-wrap {

        &:before {
          color: #606060; 
        }
      }

      input[type="submit"] {
         margin-top: 2em;
      }

      .wpcf7 {
        margin-bottom: 4em;
      }
  }

  @include media-breakpoint-down(md) {

      .contact-bottom {
        padding: 0 0;
      }
  }
}



/* 


Animations


*/

@include media-breakpoint-up(md) {
  

  .swish h2{

    .half-circle {
      transform: translateY(-50%);

      img {
        transition: all $transitionTime ease-in-out;
        transform: rotate(0deg);
        opacity: 0;
      }
    }
  }
 
  .active {
    .swish h2 {

      .half-circle {
        img {
          opacity: 1;
          transform: rotate(0deg);
        }
      }
     }
  }
}

 @include media-breakpoint-down(md) {
  .swish h2 .half-circle {
    display: none !important;
  }
 }