.home-module-3 {
  background: url("../img/bg-beverages.png") right 100% no-repeat;
  background-size: 50% auto;

  ul {
    font-size: 12px;
    font-family: 'Poppins', sans-serif;
    margin-bottom: 3em;  

    li {
      font-size: 16px;
      margin-bottom: .5em;
      font-weight: 300;
    }
  }
 
  
  .container {
      @include drop-tag();
      padding-top: 6.5em;
      padding-bottom: 6.5em;

      &::before {
        right: 0;
      }
  }

  p {
    font-size: 17px;
    font-family: "Poppins", sans-serif;
    line-height: 2;
  }


  h1 {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-size: 101px;
    color: #33373f;

    span {
      display: block;
      font-weight: 300;
      @include raleway();
      font-size: 41px;
      color: #999b95;
      margin-bottom: 1em;
    }
  }

  h2 {
    font-size: 27px;
    margin-bottom: 1em;
    cursor: pointer;
    cursor: hand;

    span {
      display: inline-block;
      position: relative;
      padding-right: 30px;

      &::after {
        @include svg-arrow($white);
        width: 20px;
        height: 20px;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
        display: block;
        content: "";
        margin-left: 10px;
        position: absolute;
      }
    }
  }

  h3 {
    font-size: 36px;
    margin-bottom: 1em;
  }

  .sidebar-table {
    position: absolute;
    width: 412px;
  }

  .col-md-5 {
    display: flex;
    justify-content: flex-end;
  }

  @include media-breakpoint-down(md) {
    background: none;

    ul {
      padding-left: 0;
      margin-left: 0;
    }

    ul li {
      text-align: center;
      font-size: 12px;
      list-style: none;
      line-height: 2;
    }

   .row {
      .col-md-6:first-child {
        background: url("../img/bg-beverages-mobile.png") 0 100% no-repeat;
        background-size: 100% auto;
        padding-bottom: 2em;
      }
   }

    .container {
      padding-top: 2em;
      padding-bottom: 2em;

      &::before {
        display: none;
      }
    }

    p {
      font-size: 15px;
      text-align: center;
    }


    h1 {
      text-align: center;
      font-size: 49px;

      img {
        height: 25px;
      }

      span {
        font-size: 20px;
        font-weight: 400;
      }
    }

    h2 {
      font-size: 15px;
      text-align: center;
    }

    h3 {
      font-size: 15px;
      text-align: center;
      font-weight: 400;
      line-height: 1.5;
    }

    
  }
}
