.home-module-2 {
    z-index: 999;
    position: relative;
    background: #F7F7F7;
    padding: 3em 0;

    h2 {
        @include serif();
        cursor: pointer;
        cursor: hand;
        font-size: 45px;
        line-height: 1.25;

        ul {
          margin-top: 2em;
          font-size: 13px;
          font-family: 'Poppins', sans-serif;

          li {
              margin-bottom: 1em;
          }
        }
    }

    .h3 { 
        @include serif();
        font-size: 21px;
        margin-bottom: 2em;

        span {
            position: relative;

            &::after {
                @include svg-square-arrow();
                content: '';
                width: 20px;
                height: 20px;
                display: block;
                position: absolute;
                right: -30px;
                top: 50%;
                transform: translateY(-50%);
            }
        }
    }

    em {
        font-size: 24px;
        @include serif();
        line-height: 1.25;
        margin-bottom: 1.5em;
        display: block;
    }

    p {
        font-size: 13px;
    }

    @include media-breakpoint-down(md) {
        
        position: relative;
        text-align: center;
        padding-bottom: 0;
        padding-top: 0;
        background: #F7F7F7 url("../img/build/bg-stained-glass.jpg") center 100% no-repeat;
        background-size: contain;

        img {
            margin-bottom: 2em;
        }

        h2 {
            font-size: 25px;
            margin-bottom: 1.5em;

            ul {
                padding-left: 0;
                list-style: none;

            }
        }


        .h3 {
            font-size: 16px;
            font-style: italic;
            margin-bottom: 5.5em;
        }

        em {
            font-size: 20px;
        }
    }

    

    @include media-breakpoint-between(sm,md) {
        

        .icon-row .flex-col a {
            font-size: 1em;
            padding-left: 1em;
            padding-right: 1em;
        }
    }
}