.home-module-4 {
  background: url('../img/values.jpg') 0 0 no-repeat;
  background-size: cover;
  color: $white;

  .bg-dark {
    position: relative;
    z-index: 0;
    padding: 73px 93px 67px 0 ;

    p.blurb {
      font-size: 24px;
      line-height: 1.75;
      font-weight: 300;
      margin-bottom: 1em;
    }

    h2 {
      font-size: 30px;
      margin-bottom: 1.25em;
      font-family: 'Raleway', sans-serif;
      font-weight: 400;
    }

    p {
      line-height: 1.5;
    }

    img {
      margin-bottom: 80px;
      width: 126px;
      height: 126px;
    }

    &::before {
      background: rgba(0, 0, 0, 0.6);
      content: '';
      height: 100%;
      position: absolute;
      width: 100vw;
      z-index: -1;
      right: 0;
      top: 0;
      margin: 0;
    }
  }

  @media screen and (max-width: $screen-sm-max) {
    background: url('../img/values-sm.jpg') center center no-repeat;
    background-size: cover;
    
    .bg-dark {
      padding: 1.5em 2em; 

      h2 {
        font-size: 18px;
      }
     
      &::before {
        display: none;
      }

      p.blurb {
        font-size: 16px;
        line-height: 1.5;
      }

      p {
        margin-bottom: 1em;
      }
      

      img {
        margin: 2em auto;
      }
    }


    text-align: center;
  }

  @media screen and ($screen-sm-min) and (max-width: $screen-sm-max) {
    
  }
}