.home-module-5 {
 background: url('../img/bg-gray-banner.png') 0 0 no-repeat;
 background-size: cover;
 text-align: center;
 padding: 4em 0;

 h2 {
   font-size: 45px;
   font-weight: 700;
   font-family: 'Poppins', sans-serif;
   margin-bottom: 0;
 }

 h3 {
   font-size: 28px;
   font-family: 'Poppins', sans-serif;
 }


 .saloon-logo {
   position: absolute;
   left: 50%;
   transform: translateX(-50%);
   width: 203px;
   top: 0;
   padding: .5em 0;
  

   &::before {
     content: '';
     background: #33373F;
     border-radius: 50%;
     display: block;
     position: absolute;
     top: -20px;
     height: 90px;
     left: 50%;
     z-index: -1;
     transform: translateX(-50%);
     width: 320px;
   }
 }

 .saloon-banner {
   background: #33373F;
   padding: 2em;
   position: relative;
   z-index: 1;
   @include dropshadow();


   > div {
     border: 1px solid #606060;
     width: 100%;
     height: 100%;
     display: block; 
     overflow: auto;
     padding: 3.5em 2em;
     
   }

   h2 {
       margin-bottom: .5em;
   }

    h2, h3 {
      color: #fff;
      position: relative;
    }

    h3 {
        margin-bottom: 0;
    }

   color: #fff;
 }

 @include media-breakpoint-down(md) {
     padding: 2em;

     .saloon-banner {
         padding: 10px;

         > div {
             padding: 2em 1em 1em;
         }
     }

     img {
         width: 72px;
     }

     .saloon-logo::before {
         width: 150px;
         top: -10px;
     }

     h2 {
         font-size: 16px;
     }

     h3 {
         font-size: 10px;
     }
 }
}