.home-module-7 {
    text-align: center;

    .container {
        @include drop-tag();
        padding-top: 7em;
        padding-bottom: 7em;
    }

    h2, h3 {
        font-size: 36px;
        margin-bottom: 1em;
    }

    p {
        font-size: 17px;
        font-family: 'Poppins', sans-serif;
        line-height: 2;
        margin-bottom: 0;
    }

    @include media-breakpoint-down(md) {
        
        .container {
           padding-top: 3em;
           padding-bottom: 3em;

           &::before {
               display: none;
           }
        }

        .container::before {
            top: 0;
        }

        h2, h3 {
            font-size: 18px;
        }

        p {
            font-size: 15px;
        }
    }
}