@mixin icon-small() {


  width: 100%;

  .container {
    padding: 0 0;
  }


  .flex-row {
    flex-direction: row;
    flex-wrap: wrap;
    padding-left: 0;
    margin-bottom: 0;
    width: 100%;

    .flex-col {
      width: 25%;
      margin-bottom: 0;
      border-left: 1px solid #e9e9e9;
      border-bottom: 1px solid #e9e9e9;

      &.contact-button {
        a {
          background: $sherpa-secondary-color;
          color: $white;
          display: flex;
          align-items: center;
          justify-content: center;
          text-transform: uppercase;
          letter-spacing: 1px;

          &:hover {
            background: $sherpa-brand-primary;
            color: $white;
          }
        }
      }

      a {
        background: $white;
        font-size: 9px;
        font-weight: 500;
        padding: 19px 0;
        color: #606060;

        svg {
          height: 22px;
          margin-bottom: 1em;
        }


        &:hover {
          color: $sherpa-secondary-color;
          background: #f9f9f9;

          svg path {
            fill: $sherpa-brand-primary;
          }
        }

        &::before {
          display: none;
        }
      }


      &:nth-child(odd), &:nth-child(6n) {
        a {
          background: #f9f9f9;

          &:hover {
            background: $white;

          }
        }
      }

      &:nth-child(5n), &:nth-child(7n) {
        a {
          background: $white;

          &:hover {
            background: #f9f9f9;

          }
        }
      }

      .title span {
        display: block;
      }

      &.line {
        display: none;
      }


    }
  }

  a {
    color: #606060;

    

    svg path {
      fill: $sherpa-secondary-color;
    }

    &::before {
      border: 0;
    }
  }
}

.icon-row {
  background: $sherpa-secondary-color;
  text-align: center;

  .flex-row {
    justify-content: space-between;
    margin: 0; 
    padding: 0;
  }

  .flex-col {
    flex: auto;
    flex-direction: column;

    &:last-child a:after {
      border-right: 0;
    }
  }


  .flex-col a {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    color: $white;
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    text-align: center;
    flex-direction: column;
    flex: 1;
    padding: 60px 0;
    position: relative;


    &:before {
      border-left: 1px solid #606060;
      content: '';
      height: 50%;
      width: 1px;
      position: absolute;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
    }

    svg {
      height: 30px;
      margin-bottom: 15px;
    }

    &:hover {

      svg path {
        fill: $sherpa-brand-primary;
      }

      text-decoration: none;

    }

    &:focus, &:active {
      text-decoration: none;
    }

    .title {
      margin: 0 auto;
      padding: 12px 0;
      text-align: center;
      width: 100%;
      display: block;
    } 
  }

  .flex-col:first-child {
      a::before {
        display: none;
      }
    }

  @media screen and (max-width: $grid-float-breakpoint-max) {
    @include icon-small();
  }

}


body #main .container article #sidebar {

  @include icon-small();

}

.page-template-page-home {
  .icon-row {
    @media screen and (min-width: $screen-sm-min) {
    

    .flex-row .flex-col {
       &:first-child {
        margin-left: -30px;
      }

      &:last-child {
        margin-right: -30px;
      }
    }
  }
  }
}