@mixin icon-small() {
  width: 100%;

  .icon-row {
      @include dropshadow();
  }

  .container {
    padding: 0 0;
  }

  .flex-row {
    flex-direction: row;
    flex-wrap: wrap;
    padding-left: 0;
    margin-bottom: 0;
    width: 100%;

    &:after {
      display: none;
    }

    .flex-col {
      width: 33.33333%;
      margin-bottom: 0;
      border-left: 1px solid #6C7787;
      border-bottom: 1px solid #6C7787;

      &.contact-button {
        a {
          background: $sherpa-secondary-color;
          color: $white;
          display: flex;
          align-items: center;
          justify-content: center;
          text-transform: uppercase;
          letter-spacing: 1px;

          &:hover {
            background: $sherpa-brand-primary;
            color: $white;
          }
        }
      }

      a {
        background: #959EAC;
        font-size: 11px;
        font-weight: 500;
        padding: 24px 0 10px;
        color: $white;
        

        svg {
          height: 50px;
          margin-bottom: 1em;

          path {
            fill: $white;
          }
        }


        &:hover {
          background: $sherpa-brand-primary;
          color: $white !important;
        }

        &::before {
          display: none;
        }
      }


      .title span {
        display: block;
      }

      &.line {
        display: none;
      }
    }
  }

  a {
    color: #fff;

    svg path {
      fill: $sherpa-secondary-color;
    }

    &::before {
      border: 0;
    }
  }
}

@keyframes anim-1 {
	50% {
		transform: translate3d(-100%, 0, 0);
	}
	51% {
		transform: translate3d(-1em, 0, 0);
	}
	100% {
		opacity: 1;
		transform: translate3d(0, 0, 0);
	}
}


.icon-row {
  background: rgba(255,255,255,0.5);
  text-align: center;
  @include dropshadow();
  overflow: hidden;

  .flex-row {
    justify-content: space-between;
    margin: 0; 
    padding: 0;
    position: relative;

    &:before {
        border-bottom: 7px solid #474747;
        content: '';
        position: absolute;
        bottom: 0;
        width: 200vw;
        display: block;
        height: 7px;
        z-index: 1;
        left: -50%;
    }

    &:after {
      @include gradient();
      content: '';
      width: 100%;
      display: block;
      height: 1px;
      position: absolute;
      bottom: 0;
    }
  }

  .flex-col {
    flex: auto;
    flex-direction: column;

    &:last-child a:after {
      border-right: 0;
    }
  }


  .flex-col a {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    color: #606060;
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    text-align: center;
    flex-direction: column;
    flex: 1;
    padding: 3.5em 0 0; 
    position: relative;
    overflow: hidden;
    padding-bottom: 7px;

    @include icon-up();

    &:after {
      height: 7px;
      background: $sherpa-brand-primary;
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      display: block;
      z-index: 99;
      width: 100%;
      transform: translate3d(-100vw, 0, 0);
    }

    &:hover::after {
//       transform: translate3d(0, 0, 0);
      animation: anim-1 0.3s forwards;
    }



    span {
      background: #959eac;

    }

//     &:hover {
//       border-bottom: 7px solid $sherpa-brand-primary;
//     }



//     &:before {
//       border-left: 1px solid $sherpa-brand-primary;
//       content: '';
//       height: 50%;
//       width: 1px;
//       position: absolute;
//       left: 0;
//       top: 50%;
//       transform: translateY(-50%);
//     }

    svg {
      height: 40px;
      margin-bottom: 2em;

      path {
        fill: #fff;
      }
    }

    &:hover {

      color: $sherpa-brand-primary !important;

      text-decoration: none;

    }

    &:focus, &:active {
      text-decoration: none;
    }

    .title {
      margin: 0 auto;
      padding: 12px 0;
      text-align: center;
      width: 100%;
      display: block;
      background: #959eac;
      color: $white;
    } 
  }

  .flex-col:first-child {
      a::before {
        display: none;
      }
    }

  @media screen and (max-width: $grid-float-breakpoint-max) {
    @include icon-small();
  }

}


body #main .container article #sidebar {
  
  @include icon-small();

  .icon-row {
    a {
      font-weight: 600 !important;
      font-size: 14px !important;
      font-family: 'Roboto', sans-serif;
      padding: 33px 0 !important; 
    }
  }

}

.page-template-page-home {
  .icon-row {

    &:after {
      background: #959eac;
      height: 3em;
      content: '';
      position: absolute;
      bottom: 0;
      width: 100%;
      left: 0;
      z-index: 0;
    }

    @media screen and (max-width: $grid-float-breakpoint-max) {

      .flex-row {
          flex-wrap: wrap;

          li.flex-col {

            .title {
              background: transparent;
            }
          }
        }
    }

    @media screen and (min-width: $screen-sm-min) and (max-width: $screen-md-min) { 
        
        .flex-row {
          flex-wrap: wrap;
          margin-bottom: 2em;

          li.flex-col {
            width: 25%;
            
            &:nth-child(5) {
              a::before {
                display: none;
              }
            }
          }
        }
    }

    @media screen and (min-width: $screen-md-min) {

    .flex-row .flex-col {
       &:first-child {
        margin-left: -30px;
      }

      &:last-child {
        margin-right: -30px;
      }
    }
  }
  }
}