@mixin icon-small() {
  width: 100%;
  list-style: none;
  background: url('../img/bg-hanger.jpg') 0 100% no-repeat;
  background-size: cover; 


  .flex-col.flex-row {
    flex-direction: column;
  }

  .flex-col.contact-button {
    display: flex;
  }

  .container, .container-fluid {
    padding: 0 0;
  }
  

  .flex-row {
    flex-direction: row;
    flex-wrap: wrap;
    padding-left: 0;
    margin-bottom: 0;
    width: 100%;
    list-style: none !important;
    border: 3px solid $white;

    &.visible-xs {
      display: flex !important;
    }

    &:after {
      display: none;
    }

    .flex-col {
      width: 50%;
      margin-bottom: 0;

      &::after {
        display: none;
      }

      &:nth-child(2) {
        order: 0;
      }

      &:nth-child(1) {
        order: 1;
      }

      &:nth-child(3) {
        order: 3;
      }

      &:nth-child(4) {
        order: 4;
      }

      &:nth-child(5) {
        order: 5;
      }

      &:last-child a {
        padding: 2em 1em;
      }

      a {
        font-size: 9px;
        padding: 2.75em 1em;
        font-weight: 400;
        display: flex;
        align-items: center;
        justify-content: center;
        line-height: 1.5;
        white-space: nowrap;
        color: $white;
        font-family: 'Poppins', sans-serif;
        font-size: 16px;
        border: 3px solid $white;
        background: rgba(0,0,0,0.8);

        span {
          display: block !important;
        }

        &:hover {
          background: $sherpa-secondary-color;
        }

        .icon {
          flex: 1;
        }

        .title {
          background: transparent;
        }

        svg {
          height: 23px;
          margin-bottom: 1em;
          display: block;

          &.icon-2 {
            height: 28px;
          }

          &.icon-4 {
            height: 36px;
          }
        }


        &:hover {

          &::after {
            display: none;
          }
        }

        &::before {
          display: none;
        }
      }

      .title span {
        display: block;
      }

      &.line {
        display: none;
      }
    }
  }

  a {
    color: #606060;

    &::before {
      border: 0;
    }
  }
}

@keyframes anim-1 {
  50% {
    transform: translate3d(-100%, 0, 0);
  }
  51% {
    transform: translate3d(-1em, 0, 0);
  }
  100% {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

@media screen and (min-width: 1600px) {
  .page-template-page-home .icon-row {

    .flex-col {

      &:first-child {
        margin-left: -82px;
      }

      &:last-child {
        margin-right: -82px;
      }
    }
  }
}




.icon-row {
  text-align: center;
  overflow: hidden;
  list-style: none;
  background: #33373F;

  .container {
    width: 100%;
  }

  .flex-row {
    justify-content: space-between;
    margin: 0;
    padding: 0;
    position: relative;
    flex-direction: row;
  }

  .flex-col {
    flex: auto;
    position: relative;


    a {
      padding-top: 1.75em;
      padding-bottom: 1.75em;

      svg {
        display: none;
      }
    }


    &::after {
      border-right: 1px solid #CCCCCC;
      content: '';
      display: block;
      height: 30%;
      top: 50%;
      right: 0;
      transform: translateY(-50%);
      position: absolute;
    }

    &:last-child::after {
      display: none;
    }
  }

  .flex-col a {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    color: #fff;
    font-family: 'Poppins', sans-serif;
    font-size: 17px;
    text-align: center;
    flex-direction: column;
    flex: 1;
    position: relative;
    overflow: hidden;
    transition: all 300ms ease-in-out;


    &::after {
      width: 10px;
      height: 10px;
      border-left: 7px solid transparent;
      border-right: 7px solid transparent;
      border-bottom: 7px solid $sherpa-secondary-color;
      content: '';
      bottom: 0;
      opacity: 0;
      transition: opacity 0.3s ease-in-out;
      position: absolute;
    }

    &:hover {
      &:after {
        opacity: 1;
      }
      text-decoration: none;
    }

    &:focus, &:active {
      text-decoration: none;

    }

    .title {
      margin: 0 auto;
      padding: 12px 0;
      text-align: center;
      width: 100%;
      display: block;
      background: #959eac;
      color: $white;
    }
  }

  .flex-col:first-child {
    a::before {
      display: none;
    }
  }

  .flex-col.contact-button {
    display: none;
  }


  @include media-breakpoint-down(sm) {

    @include icon-small();


    .flex-row {
      &::before {
        display: none;
      }

      .flex-col {
        border-left: 0;
      }
    }
  }
}


body #main .container article #sidebar {

  .icon-row {
    @include icon-small();

    .flex-col:last-child {
      li {
        background: rgba(0,0,0,0.7);
        &:nth-child(even) {
          background: rgba(0,0,0,0.36);
        }
      }
    }
  }

}
