#home-main {
  position: relative; 
}

.jumbotron {
  background: transparent;
  text-align: center;
  display: flex;
  flex-direction: column;
  height: 570px;
  justify-content: center;
  margin-bottom: 0;
  

  h1 {
    color: $white;
    @include acumin();
    font-size: 103px;

    > span {
      @include serif();
      display: block;
      font-size: 33px;
      margin-top: .5em;
    }
  }

  @include media-breakpoint-down(md) {
    height: 508px;
    background: url('../img/bg-hero-mobile.jpg') 0 0 no-repeat;
    background-size: cover;
    position: relative;
    display: flex;
    padding: 0 0;

    .jumbo-content {
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;

      .btn-outline {
        color: $white;
      }
    }


    h1 {
      font-size: 47px;
      display: flex;
      height: 100%;
      flex-direction: column;
      flex: 1;
      margin-bottom: 0;

      > div {
        display: flex;
        flex-direction: column;
        justify-content: center;
        flex: 1;
        height: 100%;
      }

      
      > span {
        margin-top: auto;
        display: block;
        width: 100%;
        background: rgba(0,0,0,0.5);
        font-size: 17px;
        padding: 2em 0;
       

        > span {
          font-size: 17px;
        }
      }
    }
  }

 
}

span.brand {
  color: $sherpa-brand-primary;
}

#home-main {
   .flex-col {
    flex-direction: column;
  }
}