.jumbotron {
  background: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 778px;
  margin-bottom: 0;
  padding-top: 180px;

  h1, .h1 {
    line-height: 1;
    margin-bottom: .5em;
  }


  h2, .h2 {
    @include serif();
    color: $white;
    font-style: italic;
    font-size: 23px;
    position: relative;
    text-align: center;
    padding-bottom: .5em;
    margin-top: auto;
    letter-spacing: -.5px;

    &::after {
      content: '';
      display: inline-block;
      width: 500px;
      position: absolute;
      bottom: 0;
      height: 1px;
      margin: 0 auto;
      transform: translateX(-50%);
      left: 50%;
      background: rgba(255,255,255,0.5);
    }
  }

  h1, .h1 {
    @include acumin();
    font-style: normal; 
    color: $white; 
    font-size: 80px;
  } 

  .jumbo-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex: 1;
    height: 100%;
  }

  .contact-us {
    margin-bottom: auto;
  }

  .learn-more {
    margin-top: auto;
    color: $white;
    display: block;
  }

  @include media-breakpoint-down(lg) {
    h2, .h2 {
      &::after {
        width: 141px;
      }
    }

    .btn-transparent {
      font-size: 10px !important;
    }
  }
} 

.internal .jumbotron {

  .h1 {
    text-transform: uppercase;
  }

  .h2 {
    margin-top: 0;
  }

  .h2::after {
    width: 362px;
  }

  #breadcrumbs {
    font-size: 23px;
    margin-top: 0;
    margin-bottom: 0;
    letter-spacing: 1px;
  }
}

