@include media-breakpoint-up(md) {

  
}


.btn-arrow {
  content: '';
  @include svg-arrow(ffffff);
  background-size: 8px;
  background-position: 5px center;
  background-color: rgba(#137CCD, .9);
  border-bottom-right-radius: 35px * 2;
  border-top-right-radius: 35px * 2;
  position: absolute; 
  width: 30px;
  height: 60px; 
  transform: translateY(-50%);
  transition: transform 300ms ease-in-out;

  &.right {
    left: 0px;
    top: 50%;

//     &:hover {
//       transform: translateY(-50%) translateX(-10px);
//     }

    @include media-breakpoint-down(sm) {
      left: 50%;
      transform: translateX(-50%) rotate(90deg);
      top: auto; 
      bottom: -30px;
      background-color: $sherpa-secondary-color;

//       &:hover {
//         transform: translateX(-50%) rotate(90deg);
//       }
    }
  }

  &.left {
    right: 0px;
    top: 50%;
    transform: translateY(-50%) rotate(180deg);
    z-index: 9999;
 
//     &:hover {
//       transform: translateY(-50%) rotate(180deg) translateX(-10px);
//     }

    @include media-breakpoint-down(sm) {
      left: 50%;
      transform: translateX(-50%) rotate(90deg);
      top: auto; 
      bottom: 0px;
      background-color: $sherpa-secondary-color;
      position: absolute;

//       &:hover {
//         transform: translateX(-50%) rotate(90deg);
//       }
    }
  }

  &.down {
    transform: translateX(-50%) rotate(90deg);
    left: 50%;
    right: auto;
    bottom: -30px;
    background-color: $sherpa-secondary-color;

//     &:hover {
//       transform:  translateX(-50%) translateY(-10px) rotate(90deg);
//     } 
  }
}

#home-main {
  position: relative;

  

  @include media-breakpoint-up(md) {

    position: relative;
    z-index: 0;
   background: url('../img/bg-hero.jpg') center top no-repeat;
   background-size: cover; 

  .container-fluid {
    width: 100%;
  }


  .jumbo-bg {
    min-height: 551px; 
    width: 100%;
  }

  .jumbotron {

    h1 {
      color: $white;
      text-align: left;
      margin-top: 0;
      text-shadow: none !important;


      .title {
        display: block;
        margin-bottom: 0;
      }

      .subtitle {
        font-weight: 400;
        text-transform: none;
      }
    }

    .btn {
      margin-top: 2.5em;
      padding: 2em 3.5em;
      @include dropshadow();
    }

    .jumbo-content {
      padding: 0 0;

      &::before {
        background: rgba(#137CCD, .9);
        width: 50vw;
        content: '';
        right: 0;
        top: 0;
        position: absolute;
        height: 100%;
        z-index: -1;
      }
    }
  }

    display: flex;
    flex-direction: column;

    .flex-row {
      height: 100%;
    }

    .jumbotron {
      height: 100%;
      width: 100%;
      display: flex;
      flex: 1;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      margin-bottom: 0; 

      .btn {
        margin-top: 0;
        padding: 2em 3em;
        line-height: 1; 
        letter-spacing: 1px;
        font-size: 11px;
        width: 18em;

       

        &.btn-default {
          margin-right: 20px;
        }
      }

      .jumbo-content {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 483px;


        h1 {
          font-size: 41px; 
          line-height: 1.25;
          margin-bottom: 1em;
          margin-top: 1.5em;

          span.br {
            display: block;
            font-size: 22px; 
            margin-top: 0;


            &::before {
              content: '// ';
              opacity: 0.5;
            } 

            &::after {
              content: ' //';
              opacity: 0.5;
            }
          }
          
          .btn {
            padding: 3em 3em;
          }

          .subtitle {
            font-size: 24px;
          }
        }
      }
    }
  }

//     margin-top: 60px;

    .jumbotron {
      padding: 0 0;
      margin: 0 0;
    }

    .jumbo-content {
      margin: 0 0;
      padding: 2.5em 1.5em 2em; 
    } 

    @include media-breakpoint-down(sm) {

     

    .flex-row {
      flex-direction: column;
      .flex-col {
       
      }
    }
    
    background: $sherpa-secondary-color;
    @include dropshadow();

    .jumbo-content {
      color: $white;
      padding: 3em 0 5em;

      h1 {
        color: $white;
        font-size: 28px;
        line-height: 1.25;
        padding: 0 0;
        margin-bottom: 1em;
      }

      text-align: center;
    }
  }


} 

@include media-breakpoint-down(sm) {
  span.break-xs {
    display: block;
  }
}

@include media-breakpoint-up(md) {
  span.break-lg {
    display: block;
  }
}