#home-main {
  position: relative;
  background: url('../img/home-bg.jpg') center top no-repeat;
  background-size: cover;


  .jumbotron {

    h1 {
      color: $white;
      text-transform: uppercase;
      text-shadow: 0px 0px 10px rgba(43, 43, 43, 1);

      .title {
        font-family: 'Raleway', sans-serif;
        display: block;
        letter-spacing: 2px;
      }

      .subtitle {
        font-family: 'Montserrat', sans-serif;
        font-weight: 600;
        letter-spacing: 2px;
      }
    }

    .btn {
      margin-top: 2em;
      padding: 2em 3.5em;
    }
  }

  @media screen and (min-width: $screen-md-min) {
    height: 542px; 
    display: flex;

    .flex-row {
      height: 100%;
    }


    .jumbotron {
      height: 100%;
      display: flex;
      flex: 1;
      justify-content: center;
      align-items: center;
      margin-bottom: 0;

      .jumbo-content {
        margin-top: 3.5em;

        

        h1 {
          font-size: 37px;
          line-height: 1.25;
          margin-bottom: .5em;
          
          .btn {
            padding: 3em 3em;
          }

          .subtitle {
            font-size: 46px;
          }
        }
      }
    }
  }

  @media screen and (max-width: $grid-float-breakpoint-max) {
    margin-top: 60px;

    .jumbotron {
      padding: 0 0;
      margin: 0 0;
    }

    .jumbo-content {
      margin: 0 0;
      padding: 2.5em 3em;
      background: $sherpa-dark-color;
    }

    h1 {
      font-size: 1em;
      margin: 0 0;
      .title {
        margin-bottom: .25em;
      }
      .subtitle {
        font-size: 21px;
      }
    }
  }
} 