.landing-bg {
  
}

#home-main {
  position: relative;
  background-size: cover;
  background: url('../img/bg-home.jpg') center top no-repeat;
  background-size: cover;

.container-fluid {
  width: 100%;
}

.jumbo-bg {
  min-height: 551px; 
  width: 100%;
}

  .jumbotron {

    h1 {
      color: $white;
      margin-top: 0;
      text-shadow: none !important;


      .title {
        display: block;
        margin-bottom: 0;
      }

      .subtitle {
        font-weight: 400;
        text-transform: none;
      }
    }

    .btn {
      margin-top: 2em;
      padding: 2em 3.5em;
      @include dropshadow();
    }
  }

  @media screen and (min-width: $screen-md-min) {
    display: flex;
    flex-direction: column;

    .flex-row {
      height: 100%;

      .flex-col {
        width: 11.1111%;
      }
    }

    .jumbotron {
      height: 100%;
      width: 100%;
      display: flex;
      flex: 1;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      margin-bottom: 0; 

      .btn {
        margin-top: 0;
        transition: transform 0.3s ease-in-out;
        padding: 1.75em 3em;
        line-height: 1; 
        letter-spacing: 1px;
        font-size: 11px;
        margin-bottom: 2em;

        &:hover {
          transform: scale(1.2);
        }
      }

      .jumbo-content {
        width: 100%;

        h1 {
          font-size: 41px; 
          line-height: 1.45;
          margin-top: 3.5em;
          margin-bottom: 0.5em;

          span.br {
            display: block;
          }
          
          .btn {
            padding: 3em 3em;
          }

          .subtitle {
            font-size: 24px;
          }
        }
      }
    }
  }

//     margin-top: 60px;

    .jumbotron {
      padding: 0 0;
      margin: 0 0;
    }

    .jumbo-content {
      margin: 0 0;
      padding: 3.8em 2em 7.5em; 
    } 


    @media screen and (max-width: $screen-sm-max) {
      .jumbotron {
        border-top: 70px solid #5F6A70;
        width: 100%;
        padding-top: 50px;

        .btn {
          font-size: 10px;
          padding: 1em;
        }
        
          h1 {
          font-size: 1.25em;
          line-height: 1.25;
          margin: 0 0; 
          font-weight: 300;

          .title {
            margin-bottom: .5em;
            display: block;
            
          }

          .subtitle {
            font-size: 16px;
          }
        }
      }
    }
} 

@media screen and (max-width: $screen-sm-max) {
  span.break-xs {
    display: block;
  }
}

@media screen and (min-width: $screen-md-min) {
  span.break-lg {
    display: block;
  }
}