#home-main {
  position: relative;
//   background: url('../img/home-bg.jpg') center top no-repeat;
//   background-size: cover;

.container-fluid {
  width: 100%;
}

.jumbo-bg {
  background: url('../img/home-bg-bright.jpg') center top no-repeat;
  background-size: cover;
  min-height: 551px; 
  width: 100%;
}


  .jumbotron {

    h1 {
      color: $white;
      text-transform: uppercase; 
      margin-top: 0;
      text-shadow: none !important;

      .title {
        font-family: 'Raleway', sans-serif;
        display: block;
        letter-spacing: 2px;
        margin-bottom: 0;
      }

      .subtitle {
        font-family: 'Raleway', sans-serif;
        font-weight: 400;
        letter-spacing: 2px;
        text-transform: none;
      }
    }

    .btn {
      margin-top: 2em;
      padding: 2em 3.5em;
    }
  }

  @media screen and (min-width: $screen-md-min) {
//     height: 542px; 
    display: flex;

    .flex-row {
      height: 100%;
    }


    .jumbotron {
      height: 100%;
      width: 100%;
      display: flex;
      flex: 1;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      margin-bottom: 0; 

      .jumbo-content {
        width: 100%;

        h1 {
          font-size: 37px;
          line-height: 1.25;
          margin-bottom: .5em;
          
          .btn {
            padding: 3em 3em;
          }

          .subtitle {
            font-size: 24px;
          }
        }
      }
    }
  }

//     margin-top: 60px;

    .jumbotron {
      padding: 0 0;
      margin: 0 0;
    }

    .jumbo-content {
      margin: 0 0;
      padding: 2.5em 3em;
      background: #051A3F;
    } 

    

    @media screen and (max-width: $grid-float-breakpoint-max) {
      .jumbotron {
          h1 {
          font-size: 1em;
          margin: 0 0;

          .title {
            margin-bottom: .5em;
            display: block;
            font-weight: 600;
          }

          .subtitle {
            font-size: 16px;
          }
        }
      }
    }
} 