.landing-bg {
  background: url('../img/bg-hero.jpg');
  background-size: cover;

  @include media-breakpoint-down(md) {
    background: url('../img/bg-mobile.jpg');
    background-size: cover;
  }
  
}

@include media-breakpoint-up(md) {
//     .top-header .navbar, .top-header .navbar-sherpa {
//       position: absolute;
//       left: 50%;
//       transform: translateX(-50%);
//   }
}

#home-main {
  position: relative;
}

.jumbotron {
  background: transparent;
  text-align: center;
  display: flex;
  flex-direction: column;
  height: 709px;
  justify-content: center;
  
  span.brand {
    font-weight: 600;
  }

  h1 {
    font-size: 75px;
    color: $white;
    font-weight: 500; 
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 80px;
    
    strong {
      font-weight: 600;
    }
    
    .br-md {
      font-size: 43px;
      display: block;
    } 
  }

  p {
    color: $white;
    font-size: 26px;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    margin-top: 0px;

    strong {
      font-weight: 700;
    }
  }

  .btn {
    padding: 1.5em 2em;
    text-transform: none;
    font-size: 15px;
    margin-top: 50px;
  }

  @include media-breakpoint-down(md) {
    height: auto;
    width: 100%;
    padding: 5em 0 2.5em;

    .btn {
      margin-top: 0;
    }

    .br-xs {
      display: block;
    }

    p {
      font-size: 13px;

      strong {
        font-weight: 700;
      }
    }

    h1 {
      font-size: 30px;

      .br-md {
        font-size: 17px;
        margin-top: .25em;
      }
    }

    .btn {
      font-size: 8px;
    }
  }
}

span.brand {
  color: $sherpa-brand-primary;
}

#home-main {
   .flex-col {
    flex-direction: column;
  }
}