
#map-section {
  height: 214px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;

  a {
    color: #fff;
    z-index: 1;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    font-size: 20px;
    font-family: "Montserrat", sans-serif;

    &:hover {
      text-decoration: none;
    }
  }

  @media screen and (max-width: $screen-sm-min) {
    height: 110px;
  }
}

  #map-section {
    height: 158px;

    &::after {
      content: '';
      width: 100%;
      height: 5px;
      position: absolute;
      top: 0;
      @include gradient();
      z-index: 9999;
    }

    &::before {
    background: url('../img/map.jpg') center 0 no-repeat;
    position: absolute;
    pointer-events: none;
    width: 100%;
    height: 100%;
    content: '';
    display: block;
    background-size: cover;
  }

    @media screen and (max-width: $grid-float-breakpoint-max) {
      height: 125px;
    }
  }