
#map-section {
  height: 163px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;

  a {
    color: #fff;
    z-index: 1;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    font-size: 20px;
    font-family: "Montserrat", sans-serif;

    &:hover {
      text-decoration: none;
    }
  }
  .navbar-brand {
    transform: translateX(-50%) scale(1.15);
    margin-top: 12px;
  }

  @include media-breakpoint-down(sm) {
    height: 110px;
   
  }
}

#map-section {
  &::before {
    position: absolute;
    pointer-events: none;
    width: 100%;
    height: 100%;
    content: '';
    display: block;
    //background: url('../img/bg-map.png') 0 0 no-repeat;
    background-size: cover;
  }

    @include media-breakpoint-down(sm) {
      height: 100px;
      margin-bottom: 0em;

      .navbar-brand {
        top: 0;
        margin-top: 0;
      }
    }
  }