.progress-ring {

}

.progress-ring__circle {
  transition: 0.35s stroke-dashoffset;
  // axis compensation
  transform: rotate(-90deg);
  transform-origin: 50% 50%;
}

.circles {
  input {
    display: none;
  }



}

.circle {
  position: relative;

  svg {
    width: 160px;
    height: 160px;
    background: transparent;
    position: absolute;
    left: 0;
    top: 0;

    #shape {
      fill: none;
      stroke: red;
      stroke-width: 4;
      transition: all 4s ease-in-out;
    }
  }
}
