.ribbon {
  background: #0D5572;
  position: relative;
    
   &::after {
    content: '';
    width: 100%;
    height: 8px;
    @include gradient();
    display: block;
    position: absolute;
    bottom: 0;
  }

  h2 {
    color: $white;
    margin-bottom: 0;
    text-align: center;
    padding: 1.75em 0;
    font-family: 'Poppins', sans-serif;
    font-size: 37px;
    font-weight: 600;
    letter-spacing: -1px;
  }

  @include media-breakpoint-down(md) {
    h2 {
       font-size: 15px;
      line-height: 1.5;
      font-weight: 400;
      letter-spacing: 0;
      padding: 2em 3em;
    }
  }
}