.ribbon {
  background: url("../img/bg-mid-banner.jpg") center center no-repeat;
  background-size: cover;
  height: 228px;
}

.ribbon-2 {
  @include gradient();
  @include acumin();
  color: $white;
  font-size: 44px;
  padding: .5em 0;
  letter-spacing: $letterSpacing;

  a {
    margin-left: 1em;
    display: flex;
  }
}
