.sidebar-contact-form #contact-form {
  text-align: center;
  background-position-y: bottom;
  background: $sherpa-dark-color;
  padding: 0;
  max-width: 100%;
  width: 100%;
  margin-bottom: 15px;

  @include media-breakpoint-up(md) {
    margin-top: 45px;
  }

  .ajax-loader {
    position: absolute;
  }

  h3 {
    font-size: 16px;
    color: $white;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
  }

  h4 {
    font-size: 14px;
    color: $white;
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 0;
  }

  form {
    text-align: center;
    color: $white;
    display: inline-block;
    margin: 2em auto;
    padding: 0 0;

    @include media-breakpoint-down(md) {
      width: 100%;
    }

    @include media-breakpoint-up(md) {
      margin: 2em auto 0;
    }

    h1,
    h2,
    h3,
    h4 {
      color: $white;
    }

    h4 {
      margin-bottom: 1em;

      .light {
        font-weight: 300;
      }
    }

    .form-group {
      display: flex;
      justify-content: space-around;
      margin: 0 auto 1em;

      label {
        flex: 1;
        width: 100%;
        margin-bottom: 0;

        input {
          width: 100%;
        }
      }

      .col-md-6 {
        margin: 0 auto;
      }
    }


    input[type="text"],
    input[type="email"],
    input[type="tel"],
    textarea {
      background: transparent;
      border: 0;
      border-bottom: 1px solid #696969;
      color: $white;
      padding: 1em;
      margin-bottom: 1.25em;
      transition: all 0.3ms ease-in;
      font-size: 11px;


      &::focus {
        outline: none !important;
        box-shadow: none !important;
      }

      &::placeholder {
        color: $white;
        font-weight: normal;
      }
    }

    textarea {
      overflow: hidden;
      height: 2em;
      padding-bottom: 1.25em;
    }

    input[type="submit"] {
      width: auto;
      margin-left: 1em;
      padding: 17px 50px;
    }

    p {
      margin-bottom: 2em;
    }
  }


  @include media-breakpoint-down(md) {
    text-align: center;
    padding: 0;

    .btn-lrg {
      margin-top: 2em;
    }

    form {
      margin: 2em auto 0;
      padding: 0;
      text-align: center;
      color: $white;
      display: inline-block;

      h1,
      h2,
      h3,
      h4 {
        color: $white;
      }

      h4 {
        margin-bottom: 1.5em;
      }

      .form-group {
        display: block;
        max-width: 100%;
        justify-content: space-around;
        margin: 0 auto;

        label {
          flex: 1;
          width: 100%;

          input {
            width: 100%;
          }
        }

        .col-md-6 {
          margin: 0 auto;
        }
      }



      textarea {
        overflow: hidden;
        height: 2em;
        padding-bottom: 1.25em;
      }

      input[type="submit"] {
        margin-top: 1em;
        margin-left: 0;
      }

      p {
        margin-bottom: 1.75em;
      }
    }

    .textwidget {
      padding: 0;

      .form-group {
        padding: 0 1.5em;
      }
    }
  }
}

#sidebar.sidebar-contact-form {
  position: relative;

  @include media-breakpoint-up(lg) {
    width: 364px;
    float: right;
    margin-left: 4em;
  }

  &::before {
    content: '';
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 181px 50px 181px;
    border-color: transparent transparent #000 transparent;
    position: absolute;
    top: -20px;
  }

  @include media-breakpoint-down(md) {
    padding-top: 0;   
    
    &::before {
      display: none;
    }
  }

  padding-top: 30px;


  #contact-form {
    background: $sherpa-dark-color;
    text-align: center;
    padding: 0;
    max-width: 100%;
    width: 100%;
    margin-bottom: 15px;
    margin-top: 0;

    form {

      h1,
      h2,
      h3,
      h4 {
        color: #000;
      }

      h4 {
        font-size: 20px;
      }

      .form-group {
        display: block;
        max-width: 100%;
        justify-content: space-around;
        margin: 0 auto;
        padding: 0 1.5em;

        label {
          flex: 1;
          width: 100%;

          input {
            width: 100%;
          }
        }

        .col-md-6 {
          margin: 0 auto;
        }
      }



      textarea {
        overflow: hidden;
        padding-bottom: 3em;
        width: 100%;
      }

      input[type="submit"] {
        margin-top: 1em;
        margin-bottom: 1em;
        margin-left: 0;
        background: #2193FA;
        border: 0;
        color: $white;
        font-weight: 600;

        &:hover {
          background: $sherpa-brand-primary;
          cursor: hand;
          cursor: pointer;
        }
      }

      p {
        margin-bottom: 2em;
      }
    }

  }
}

.blog {

#sidebar.sidebar-contact-form {
  position: relative;

    @media screen and (min-width: 768px) and (max-width: 998px) {
      width: auto;
      float: none;
      margin: 0 auto;


      &::before {
        display: none;
      }

      #contact-form {
        padding-top: 2em;
      }
    }
  }
}



#contact-form {
  padding-top: 37px;

  form {
    h1,
    h2,
    h3,
    h4 {
      color: #000;
    }

    h4 {
      font-size: 20px;
    }

    div.wpcf7-validation-errors, div.wpcf7-acceptance-missing {
      color: $white;
    }

    .form-group {
      display: block;
      max-width: 100%;
      justify-content: space-around;
      margin: 0 auto;
      padding: 0 1.5em;

      label {
        flex: 1;
        width: 100%;

        input {
          width: 100%;
          outline: 0;
          &:focus {
            outline: 0;
          }
        }
      }

      .col-md-6 {
        margin: 0 auto;
      }
    }


    textarea {
      overflow: hidden;
      height: 2em;
      padding-bottom: 1.25em;
    }


    p {
      margin-bottom: 2em;
    }
  }

  .textwidget {
    background: #e6e6e6;
    padding: 2em;
    display: none !important;
  }
}

#contact-form {
  background: #FFF;

  @include media-breakpoint-down(md) {
    padding-top: 2em !important;
    margin-bottom: 0 !important;
  }

  @include media-breakpoint-down(sm) {
    margin-bottom: 3em;
  }

  @include media-breakpoint-up(sm) {
    margin: 0 0 0 0;
    padding: 0 0 0 0;

    form {
      h4 {
        margin-bottom: 1.5em;
      }
    }
  }
}

