@mixin sidebar-icon-small() {


  .container {
    padding: 0 0;
  }


  .flex-row {
    flex-direction: row;
    flex-wrap: wrap;
    padding-left: 0;
    margin-bottom: 0;

    .flex-col {
      width: 25%;
      margin-bottom: 0;
      border-left: 1px solid #e9e9e9;
      border-bottom: 1px solid #e9e9e9;


      a {
        background: $white;
        font-size: 9px;
        font-weight: 500;
        padding: 19px 0;
        color: $sherpa-secondary-color;


        svg {
          height: 22px;
          margin-bottom: 0.5em;
        }


        &:hover {
          color: $sherpa-secondary-color;
          background: #f9f9f9;

          svg path {
            fill: $sherpa-brand-primary;
          }
        }

        &::before {
          display: none;
        }
      }


      &:nth-child(odd) {
        a {
          background: #f9f9f9;

          &:hover {
            background: $white;

          }
        }
      }

      .title span {
        display: block;
      }

      &.line {
        display: none;
      }


    }
  }

  a {
    color: #606060;



    svg path {
      fill: $sherpa-secondary-color;
    }

    &::before {
      border: 0;
    }
  }
}

.sidebar-icons {
  position: absolute;
  z-index: 2;

  @include media-breakpoint-up(lg) {
    right: 0;
  }

  @include media-breakpoint-down(lg) {
    position: relative;
    margin: 0 auto;

    .sidebar-icon-row {
      width: auto;

      .flex-col {
        width: auto;
      }
    }
  }
}

.sidebar-icon-row {
  background: #F2F2F2;
  text-align: center;
  padding: 32px;
  flex-wrap: wrap; 
  width: 364px;
  display: grid !important;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 1px;
  @include dropshadow();

  .flex-row {
    justify-content: space-between;
    margin: 0 auto;
    padding: 0;
  }

  .flex-col {
    flex: auto;
    flex-direction: column;
    color: $white;
    margin-bottom: 6px;
    margin-right: 6px;
    width: 100px;
    height: 100px;
    @include dropshadow();
    position: relative;

    &:last-child a:after {
      border-right: 0;
    }
  }


  .flex-col a, .flex-col span {
    background: #444444;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: $white;
    font-family: 'Montserrat', sans-serif;
    font-size: 9px;
    text-align: center;
    flex-direction: column;
    flex: 1;
    position: relative;
    padding: 16px;
    outline:1px $sherpa-brand-primary solid;
    outline-offset:-6px;


    &:hover {
      text-decoration: none;
      background: $sherpa-brand-primary;

      svg path, svg rect {
        fill: $white;
      }

      outline:1px $white solid !important;
    }

    svg {
      height: 24px;
      margin-bottom: 15px;

      &.no-margin {
        margin: 0;
      }
    }

    &:focus, &:active {
      text-decoration: none;
    }

    .title {
      margin: 0 auto;
      padding: 12px 0;
      text-align: center;
      width: 100%;
      display: block;
    }
  }

  .flex-col:first-child {
    a::before {
      display: none;
    }
  }

  @include media-breakpoint-down(sm) {
    @include nodropshadow();
  }

}


// body #main .container article #sidebar {

//   @include sidebar-icon-small();

// }

.page-template-page-home {
  .sidebar-icon-row {
    @include media-breakpoint-up(sm) {


      .flex-row .flex-col {
        &:first-child {
          margin-left: -30px;
        }

        &:last-child {
          margin-right: -30px;
        }
      }
    }
  }
}