.banner-middle.youtube-banner {
  overflow: hidden;
  padding: 4em 0 0;

  .table {
    margin: 3em 0 3em 3em;
    background: rgba(242, 242, 242, 0.12);

    .col {
      border-bottom: 1px solid rgba(255,255,255,0.12);
      align-items: center;
      padding: 2em;
    }

    p {
      margin-bottom: 0;
    }
  }

  .table-header {
    background: rgb(236,183,30);
    background: linear-gradient(90deg, rgba(236,183,30,1) 0%, rgba(244,214,126,0.75) 49%, rgba(255,255,255,1) 100%);
    

    padding: 2em;

    .col {
      padding: 0 0;
    }
    h2 {
      margin-bottom: 0;
      font-family: 'Poppins', sans-serif;
      font-size: 22px;
      line-height: 1.5;
    }
  }

  .col {
    display: flex;
    flex-direction: column;
    justify-content: center;
    
  }

  .cell {

  }



  .dark-bg {
    position: relative;

    &::before {
      background : #000000;
      background : rgba(0, 0, 0, 1);
      opacity : 0.49;
      filter: alpha(opacity=49) progid:DXImageTransform.Microsoft.Alpha(opacity=49) ;
      content: '';
      width: 150vw;
      height: 100%;
      left: -50vw;
      top: 0;
      position: absolute;
      content: '';
    }
  }

  @include media-breakpoint-down(md) {

    .dark-bg {
      padding: 2em 0;
    }
    
    .table {
      margin: 2em 0;
    }
  }
}

.banner-middle {
  .icon-row {
    background: transparent;
    margin-bottom: 3em;
    margin-left: 0;
    width: 100%;

    img {
      height: 32px;
    }

    p {
      color: $white;
    }

    &.display-icons {
      margin-bottom: 0;

      p {
        margin-bottom: 0;
      }

      img {
        height: 60px;
        margin-bottom: 1em;
      }
    }

    @include media-breakpoint-down(md) {
      flex-direction: column;

      .col {
        margin-bottom: 2em;
      }
    }
  }
}